<!-- <p>settings-section works!</p>
todo: theme (light - dark)
todo: language (en - de)
todo: unit (btc - sat)
todo: timezone (UTC - local)

 -->

<div class="section-container">

	<orc-secondary-nav>
		<div secondary-nav-header class="secondary-nav-header">	
			<div class="font-size-s">Orchard Settings</div>
		</div>
		<div secondary-nav-items>
			<!-- <orc-secondary-nav-item 
				name="Dashboard"
				navroute="mint"
				[active]="active_sub_section === 'dashboard'">
			</orc-secondary-nav-item>
			<orc-secondary-nav-item
				name="Info"
				navroute="mint/info"
				[active]="active_sub_section === 'info'">
			</orc-secondary-nav-item> -->
		</div>
		<div secondary-nav-toolbar>
			<div class="section-implementation">Orchard {{ version }}</div>
		</div>
	</orc-secondary-nav>

    <div class="subsection-container">
      	<router-outlet></router-outlet>
    </div>
</div>