@use '@styles/molecule/molecule';

:host {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.bitcoin-subsection-oracle-container {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.bitcoin-subsection-oracle-form-target {
	@extend %relative;
	top: -87px;
}

.oracle-control {
	@extend %orc-surface-bg;
	@extend %sticky;
	@extend %top-0;
	@extend %z-index-1;
}
