@use 'molecule/molecule';
@use 'nucleus/nucleus';

:host {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.bitcoin-subsection-oracle-container {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.bitcoin-subsection-oracle-form-target {
	@extend %relative;
	top: -87px;
}

.oracle-control {
	@extend %orc-surface-bg;
	@extend %sticky;
	@extend %top-0;
	@extend %z-index-1;
}

.mobile-latest-price {
	@extend %absolute;
	@extend %orc-surface-bg;
	@extend %top-1;
	@extend %z-index-1;
	@extend %p-h-1;
	@extend %orc-corner-full;
	left: 50%;
	transform: translateX(-50%);
}
