<div class="bitcoin-subsection-oracle-container p-h-1">
	<div class="oracle-control p-t-1">
		<div class="flex flex-justify-between flex-gap-2 flex-items-start">
			<div class="flex flex-gap-2 flex-items-center">
				<orc-bitcoin-subsection-oracle-control
					[form_group]="control"
					[min_date]="min_date()"
					[max_date]="max_date()"
				></orc-bitcoin-subsection-oracle-control>
				@if (device_type() === 'desktop') {
					<div class="p-b-1" animate.enter="orc-animation-fadein">
						<div class="title-l">Latest Price</div>
						<div class="orc-outline-color font-size-s">
							{{ latest_oracle()?.date | timeUtc: 'date-only' }} <small class="font-weight-bold">UTC</small>
						</div>
					</div>
					<div class="p-b-1" animate.enter="orc-animation-fadein">
						<div class="font-weight-bold font-size-xxl">${{ latest_oracle()?.price | number: '1.0-0' }}</div>
					</div>
				}
			</div>
			<div>
				<div class="flex flex-items-center flex-gap-0-5 relative">
					<button
						type="button"
						matFab
						extended
						class="orc-icon-button text-nowrap"
						(click)="onBackfill()"
						(keydown.enter)="$event.preventDefault(); $event.stopPropagation()"
					>
						<mat-icon>history</mat-icon>
						Backfill Prices
					</button>
				</div>
			</div>
		</div>
		<div class="category-rule"></div>
	</div>

	<div class="orc-animation-collapsible" [class.animation-open]="form_open()">
		<div class="orc-animation-collapsible-inner">
			<div class="bitcoin-subsection-oracle-form-target" #backfill_form_target></div>
			<orc-bitcoin-subsection-oracle-form
				[form_group]="backfill_form"
				[running]="backfill_running()"
				[progress]="backfill_progress()"
				[min_date]="min_date()"
				[max_date]="max_date()"
				[date_start_max]="date_start_max()"
				[date_end_min]="date_end_min()"
				[device_desktop]="device_type() === 'desktop'"
				(close)="onCloseForm()"
				(cancel)="onCancelForm($event)"
			></orc-bitcoin-subsection-oracle-form>
		</div>
	</div>

	<div class="relative">
		@if (device_type() !== 'desktop') {
			<div class="mobile-latest-price flex flex-gap-2 flex-items-center" animate.enter="orc-animation-fadein">
				<div class="p-b-1">
					<div class="title-l text-nowrap">Latest Price</div>
					<div class="orc-outline-color font-size-s text-nowrap">
						{{ latest_oracle()?.date | timeUtc: 'date-only' }} <small class="font-weight-bold">UTC</small>
					</div>
				</div>
				<div class="p-b-1">
					<div class="font-weight-bold font-size-xxl">${{ latest_oracle()?.price | number: '1.0-0' }}</div>
				</div>
			</div>
		}
		<orc-bitcoin-subsection-oracle-chart
			[data]="data()"
			[loading]="loading()"
			[date_today]="date_today()"
			[date_start]="page_settings.date_start"
			[date_end]="page_settings.date_end"
			[backfill_date_start]="backfill_date_start()"
			[backfill_date_end]="backfill_date_end()"
			[form_open]="form_open()"
			[enabled_ai]="enabled_ai()"
			(backfill_date)="onBackfillDate($event)"
		></orc-bitcoin-subsection-oracle-chart>
	</div>
</div>
