@use 'molecule/molecule';
@use 'nucleus/nucleus';

.mint-activity-period-selector {
	@extend %z-index-0;
	@extend %h-0;
	padding-bottom: 1.5rem;
}


.sparkline-card {
	@extend %overflow-hidden;
    @extend %flex;
    @extend %flex-column;
    @extend %relative;
    min-height: 7rem;
}

.sparkline-chart {
	flex-grow: 1;
	position: absolute;
    top: 2rem;
    right: 0;
    bottom: 0;
    left: 0;

	canvas {
		width: 100% !important;
		height: 100% !important;
	}
}

.activity-loading {
	min-height: 12rem;
}

.delta {
	@extend %flex;
	@extend %flex-items-center;
    @extend %font-weight-semi-bold;
	gap: 0.15rem;
}

.delta-positive {
	color: var(--orc-status-active);
}

.delta-negative {
	color: var(--orc-status-inactive);
}