<div class="lightning-enabled-container">
	@if (!loading) {
		<div animate.enter="orc-animation-fadein" class="flex flex-gap-4 p-2">
			<orc-index-subsection-dashboard-lightning-enabled-info
				[lightning_info]="lightning_info"
			></orc-index-subsection-dashboard-lightning-enabled-info>
			<div class="flex-grow">
				<orc-lightning-general-channel-table
					[enabled_taproot_assets]="enabled_taproot_assets"
					[lightning_balance]="lightning_balance"
					[taproot_assets]="taproot_assets"
				></orc-lightning-general-channel-table>
			</div>
		</div>
	}
</div>
