<div class="lightning-enabled-container">
	@if (!loading()) {
		<div animate.enter="orc-animation-fadein" class="flex flex-wrap flex-gap-column-4 flex-gap-row-2">
			<orc-index-subsection-dashboard-lightning-enabled-info
				[lightning_info]="lightning_info()"
			></orc-index-subsection-dashboard-lightning-enabled-info>
			<div class="flex-grow w-min-0">
				<orc-lightning-general-channel-summary
					[enabled_taproot_assets]="enabled_taproot_assets()"
                    [bitcoin_oracle_enabled]="bitcoin_oracle_enabled()"
                    [bitcoin_oracle_price]="bitcoin_oracle_price()"
                    [lightning_info]="lightning_info()"
					[lightning_balance]="lightning_balance()"
                    [lightning_channels]="lightning_channels()"
                    [lightning_closed_channels]="lightning_closed_channels()"
					[taproot_assets]="taproot_assets()"
                    [device_type]="device_type()"
				></orc-lightning-general-channel-summary>
			</div>
		</div>
	}
</div>
