<div class="lightning-channel-table-container flex flex-column flex-gap-1">
	<div class="title-l p-l-1">Channel Summary</div>
	@if (data_source.data.length > 0) {
		<mat-card appearance="outlined" class="overflow-hidden">
			<div class="p-h-1">
				<table mat-table [dataSource]="data_source" class="orc-feature-table">
					<ng-container matColumnDef="unit">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let row">
							<orc-graphic-asset [unit]="row.unit" [height]="'2rem'" [custody]="'lightning'" [asset_id]="row.asset_id">
							</orc-graphic-asset>
						</td>
					</ng-container>

					<ng-container matColumnDef="receive">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let row">
							<span class="text-nowrap font-size-m" [innerHTML]="row.recievable | amount: row.unit : 'lightning'"></span>
						</td>
					</ng-container>

					<ng-container matColumnDef="channel">
						<th mat-header-cell *matHeaderCellDef>
							<div class="flex flex-justify-center relative h-1">
								<div class="lightning-channels-divider">
									<div class="title-capacity-receive font-size-xs text-nowrap orc-outline-color">Receive Capacity</div>
									<div class="title-capacity-send font-size-xs text-nowrap orc-outline-color">Send Capacity</div>
								</div>
							</div>
						</th>
						<td mat-cell *matCellDef="let row" class="w-full">
							<div class="p-v-1">
								<orc-lightning-channel
									[height]="'3rem'"
									[size]="row.size"
									[recievable]="row.recievable"
									[sendable]="row.sendable"
									[unit]="row.unit"
									[asset_id]="row.asset_id"
								>
								</orc-lightning-channel>
							</div>
						</td>
					</ng-container>

					<ng-container matColumnDef="send">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let row">
							<span class="text-nowrap font-size-m" [innerHTML]="row.sendable | amount: row.unit : 'lightning'"></span>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayed_columns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayed_columns"></tr>
				</table>
			</div>
		</mat-card>
	} @else {
		<div class="empty-ln-node">
			<mat-icon class="icon-lg mat-symbol-outline orc-outline-color">flash_off</mat-icon>
		</div>
	}
</div>

<!-- <div class="no-data-overlay" @fadeInOut>
	<mat-icon class="icon-lg mat-symbol-outline orc-outline-color">bar_chart_off</mat-icon>
</div> -->
