<orc-form-field-dynamic [hot]="hot()" [invalid]="invalid()" [standalone]="false" (cancel)="onCancel($event)">
	<mat-form-field
		appearance="fill"
		hideRequiredMarker="true"
		[ngClass]="hot() ? 'orc-hot-form-field' : 'orc-cold-form-field'"
		class="w-full orc-dynamic-form-field"
		[formGroup]="form_group()"
	>
		<mat-label>{{ label() }}</mat-label>
		<input
			[type]="view() ? 'text' : 'password'"
			matInput
			[formControlName]="control_name()"
			autocomplete="new-password"
			(focus)="focused.set(true)"
			(blur)="onBlur($event)"
			(keydown.enter)="enter.emit()"
			#element_control
		/>
		<button type="button" mat-icon-button matSuffix class="orc-icon-button" tabindex="-1" (click)="toggleView()">
			<mat-icon>{{ view() ? 'visibility_off' : 'visibility' }}</mat-icon>
		</button>
		<mat-error class="font-size-xs">{{ error() }}</mat-error>
	</mat-form-field>
</orc-form-field-dynamic>
