@use 'molecule/molecule';

.mint-connections-form {
	@extend %flex;
	@extend %flex-gap-1;
	@extend %flex-wrap;
}

.mint-connection-urls {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-gap-1;
}

.mint-add-connection {
	@extend %h-8;
	@extend %w-8;
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	@extend %border-radius-4;
	@extend %border;
	@extend %border-dashed;
	@extend %orc-outline-border;
	@extend %cursor-pointer;
	@extend %trans-bg-border-radius-fast;

	&:hover {
		@extend %orc-surface-container-bg;
		@extend %orc-corner-large;
	}
}
