<div class="error-resolve-container">
    @if( mode === 'default' ) {
        <mat-card appearance="outlined" class="overflow-hidden"> 
            <div class="error-resolve-content">
                <div class="error-resolve-icon">
                    <mat-icon class="mat-symbol-outline">error</mat-icon>
                </div>
                <div class="error-resolve-info">
                    <h3>{{ error_title }}</h3>
                    <p>{{ error_description }}</p>
                </div>
                <div class="error-resolve-code">
                    <div>{{ error.code }}</div>
                </div>
            </div>
        </mat-card>
    }@else {
        <div class="error-resolve-content-small">
            <div class="error-resolve-icon-small">
                <mat-icon class="mat-symbol-outline">error</mat-icon>
            </div>
            <div class="error-resolve-info-small">
                <div>{{ error_title }}</div>
            </div>
            <div class="error-resolve-code">
                <div>{{ error.code }}</div>
            </div>
        </div>
    }
</div>