<div class="mint-keyset-control-container">
	<form [formGroup]="panel" class="panel-form orc-animation-form-reaction" [class.animation-invalid]="height_state === 'invalid'">
		<div class="flex flex-col flex-gap-1">
			@if (device_type() === 'desktop') {
				<div formGroupName="daterange">
					<mat-form-field hideRequiredMarker="true" subscriptSizing="dynamic" class="mint-analytic-daterange">
						<mat-label>Date range</mat-label>
						<mat-date-range-input [rangePicker]="picker">
							<input
								matStartDate
								formControlName="date_start"
								placeholder="Start date"
								(blur)="onDateChange()"
								(keyup.enter)="onDateChange()"
							/>
							<input
								matEndDate
								formControlName="date_end"
								placeholder="End date"
								(blur)="onDateChange()"
								(keyup.enter)="onDateChange()"
							/>
						</mat-date-range-input>
						<orc-form-daterange-scroll-picker
							matIconSuffix
							[date_start]="panel.controls.daterange.controls.date_start.value"
							[date_end]="panel.controls.daterange.controls.date_end.value"
							[active_preset]="date_preset()"
							[device_type]="device_type()"
							[dateClass]="genesis_class"
							(presetChange)="onPresetChange($event)"
							(dateRangeChange)="onDateRangeChange($event)"
							(closed)="onDateChange()"
						></orc-form-daterange-scroll-picker>
						<mat-date-range-picker #picker></mat-date-range-picker>
						<mat-error class="font-size-xs">Invalid date range</mat-error>
					</mat-form-field>
				</div>
			}

			<div class="p-t-0-5">
				<button matButton type="button" [matMenuTriggerFor]="filter_menu">
					<mat-icon>tune</mat-icon>
					<span class="text-nowrap font-size-s">Filters {{ filter_count() > 0 ? `(${filter_count()})` : '' }}</span>
				</button>
			</div>
		</div>
	</form>
</div>

<mat-menu #filter_menu="matMenu" yPosition="below" class="orc-sticky-menu orc-filter-menu">
	<orc-form-filter-menu (click)="$event.stopPropagation()" (clear)="onClearFilter()" (close)="onCloseFilter()">
		<form [formGroup]="panel">
			@if (device_type() !== 'desktop') {
				<div formGroupName="daterange" class="p-1">
					<mat-form-field hideRequiredMarker="true" subscriptSizing="dynamic">
						<mat-label>Date range</mat-label>
						<mat-date-range-input [rangePicker]="mobile_picker">
							<input
								matStartDate
								formControlName="date_start"
								placeholder="Start date"
								(blur)="onDateChange()"
								(keyup.enter)="onDateChange()"
							/>
							<input
								matEndDate
								formControlName="date_end"
								placeholder="End date"
								(blur)="onDateChange()"
								(keyup.enter)="onDateChange()"
							/>
						</mat-date-range-input>
						<orc-form-daterange-scroll-picker
							matIconSuffix
							[date_start]="panel.controls.daterange.controls.date_start.value"
							[date_end]="panel.controls.daterange.controls.date_end.value"
							[active_preset]="date_preset()"
							[device_type]="device_type()"
							[dateClass]="genesis_class"
							(presetChange)="onPresetChange($event)"
							(dateRangeChange)="onDateRangeChange($event)"
							(closed)="onDateChange()"
						></orc-form-daterange-scroll-picker>
						<mat-date-range-picker #mobile_picker></mat-date-range-picker>
						<mat-error class="font-size-xs">Invalid date range</mat-error>
					</mat-form-field>
				</div>
				<div class="orc-filter-menu-rule"></div>
			}
			<div class="orc-filter-menu-section">
				<div>Units</div>
				<div class="filter-options">
					@for (unit of unit_options(); track unit.value; let i = $index) {
						<mat-checkbox [formControl]="panel.controls.units.at(i)" (change)="onUnitsChange()">
							{{ unit.label }}
						</mat-checkbox>
					}
				</div>
			</div>
			<div class="orc-filter-menu-rule"></div>
			<div class="orc-filter-menu-section">
				<div>Status</div>
				<div class="filter-options">
					@for (status of status_options; track status.value; let i = $index) {
						<mat-checkbox [formControl]="panel.controls.status.at(i)" (change)="onStatusChange()">
							{{ status.label }}
						</mat-checkbox>
					}
				</div>
			</div>
		</form>
	</orc-form-filter-menu>
</mat-menu>
