<div class="mint-info-form-name-container">
	<form [formGroup]="form_group()" (ngSubmit)="onSubmit($event)" (keydown.enter)="onSubmit($event)" (keydown.escape)="onCancel($event)">
		<orc-form-field-dynamic
			[hot]="focused_name() || form_group().get(control_name())?.dirty || false"
			[invalid]="form_group().get(control_name())?.invalid || false"
			[info]="true"
			(submit)="onSubmit($event)"
			(cancel)="onCancel($event)"
			(inform)="help_status.set(!help_status())"
		>
			<div class="orc-small-form-field-wrapper">
				<mat-form-field
					appearance="fill"
					[ngClass]="
						focused_name() || form_group().get(control_name())?.dirty || false ? 'orc-hot-form-field' : 'orc-cold-form-field'
					"
					class="orc-dynamic-form-field w-full"
				>
					<mat-label>Name</mat-label>
					<input
						type="text"
						matInput
						[formControlName]="control_name()"
						placeholder="Ex. My Mint"
						#element_name
						(focus)="focused_name.set(true)"
						(blur)="focused_name.set(false)"
					/>
					<mat-error>
						<orc-form-error [errors]="form_group().get(control_name())?.errors">Invalid name</orc-form-error>
					</mat-error>
				</mat-form-field>
			</div>
		</orc-form-field-dynamic>
		<div class="orc-animation-expand-collapse" [class.animation-expanded]="help_status()">
			<div class="orc-animation-expand-collapse-inner">
				<div class="flex p-t-0-5 p-b-1">
					<orc-form-help-text class="orc-surface-container-high-bg">
						<div class="p-b-1">Updates the name for this mint.</div>
						<div>A name identifies the mint in wallet interfaces.</div>
					</orc-form-help-text>
				</div>
			</div>
		</div>
	</form>
</div>
