<mat-card appearance="outlined" class="ecash-enabled-card">
    <mat-card-content>
        <div class="flex flex-column flex-gap-2">
            <div class="flex flex-justify-center">
                <div class="flex flex-items-center flex-gap-1">
                    <mat-icon class="icon-lg mat-symbol-outline">payments</mat-icon>
                    <div class="font-size-xxl font-weight-bold">Ecash</div>
                </div>
            </div>
            <div class="p-t-2 flex flex-justify-center flex-items-center">
                <div class="font-size-xxl font-weight-bold orc-outline-color">No Wallet</div>
            </div>
        </div>
    </mat-card-content>
</mat-card>