<div class="p-l-2 p-r-1 p-b-2">
	<mat-card appearance="outlined" class="relative overflow-hidden">
		<mat-card-content class="orc-surface-container-low-bg">
			<div class="flex flex-gap-2">
				<div class="flex-1 flex flex-column flex-gap-2">
					<div class="flex flex-column">
						<form
							class="flex-grow"
							[formGroup]="form_group()"
							(ngSubmit)="onSubmit($event)"
							(keydown.enter)="onSubmit($event)"
							(keydown.escape)="onCancel($event)"
						>
							<orc-form-field-dynamic
								[hot]="form_hot()"
								[invalid]="control_invalid()"
								(submit)="onSubmit($event)"
								(cancel)="onCancel($event)"
							>
								<mat-form-field
									appearance="fill"
									hideRequiredMarker="true"
									[ngClass]="form_hot() ? 'orc-hot-form-field' : 'orc-cold-form-field'"
									class="mint-quote-ttl-form-field orc-dynamic-form-field"
								>
									<mat-label
										class="flex flex-items-center flex-gap-0-5 cursor-pointer"
										(click)="help_status.set(!help_status())"
									>
										<span>Quote TTL</span>
										<mat-icon class="icon-sm icon-dynamic-fill">info</mat-icon>
									</mat-label>
									<input
										type="text"
										formNumberSeparator
										matInput
										[formControlName]="control_name()"
										(focus)="onFocus()"
										(blur)="onBlur()"
										placeholder="Ex. 30"
										#element_quote_ttl
									/>
									<span matSuffix class="form-suffix-text">seconds</span>
									@if (control_invalid()) {
										<mat-error class="font-size-xs">{{ form_error() }}</mat-error>
									}
								</mat-form-field>
							</orc-form-field-dynamic>
						</form>
						<div class="orc-animation-expand-collapse" [class.animation-expanded]="help_status()">
							<div class="orc-animation-expand-collapse-inner">
								<div class="flex p-t-0-5">
									<orc-form-help-text class="orc-surface-container-high-bg">
										<div [innerHTML]="help_text()"></div>
									</orc-form-help-text>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="flex-1">
					<orc-mint-subsection-config-chart-quote-ttl
						[nut]="nut()"
						[loading]="loading()"
						[quotes]="quotes()"
						[locale]="locale()"
						[form_hot]="form_hot()"
						[quote_ttl]="form_group().get(control_name())?.value"
					></orc-mint-subsection-config-chart-quote-ttl>
				</div>
			</div>
			@if (disabled()) {
				<div class="disabled-overlay" animate.enter="orc-animation-fadein-fast" animate.leave="orc-animation-fadeout-fast">
					<div class="orc-outline-color font-weight-bold">MINTING DISABLED</div>
				</div>
			}
		</mat-card-content>
	</mat-card>
</div>
