<section class="section-container">

	<orc-secondary-nav>
		<div secondary-nav-header class="secondary-nav-header">	
			<div class="font-size-s">Orchard</div>
		</div>
		<div secondary-nav-items></div>
		<div secondary-nav-toolbar>
			<div class="section-implementation">{{ version }}</div>
		</div>
	</orc-secondary-nav>

    <div class="subsection-container p-1">
        <div class="flex flex-column">

            <div class="sticky-section z-index-1">
                <orc-index-header-bitcoin
                    [loading]="preparing_bitcoin"
                    [network_info]="bitcoin_network_info!"
                ></orc-index-header-bitcoin>
                <div class="category-rule"></div>
            </div>

            @if( enabled_bitcoin ) {
                <orc-index-enabled-bitcoin
                    [loading]="preparing_bitcoin"
                    [enabled_lightning]="enabled_lightning"
                    [enabled_taproot_assets]="enabled_taproot_assets"
                    [blockcount]="(bitcoin_blockcount) ? bitcoin_blockcount.height : 0"
                    [blockchain_info]="bitcoin_blockchain_info!"
                    [network_info]="bitcoin_network_info!"
                    [lightning_accounts]="lightning_accounts!"
                    [taproot_assets]="taproot_assets!"
                    [errors_lightning]="errors_lightning"
                    [errors_taproot_assets]="errors_taproot_assets"
                    (navigate)="onNavigate('bitcoin')"
                ></orc-index-enabled-bitcoin>
            }
            @else {
                <orc-index-disabled-bitcoin (navigate)="onNavigate('bitcoin')"></orc-index-disabled-bitcoin>
            }
            @if( errors_bitcoin ) {
                <div [@fadeIn] class="index-section-error">
                    @for(error of errors_bitcoin; track error.code) {
                        <orc-error-resolve [error]="error"></orc-error-resolve>
                    }
                </div>
            }

            <!-- <div class="flex">
                <div class="index-section">
                    @if( enabled_bitcoin ) {
                        <orc-index-enabled-bitcoin
                            [loading]="preparing_bitcoin"
                            [enabled_lightning]="enabled_lightning"
                            [enabled_taproot_assets]="enabled_taproot_assets"
                            [blockcount]="(bitcoin_blockcount) ? bitcoin_blockcount.height : 0"
                            [blockchain_info]="bitcoin_blockchain_info!"
                            [network_info]="bitcoin_network_info!"
                            [lightning_accounts]="lightning_accounts!"
                            [taproot_assets]="taproot_assets!"
                            [errors_lightning]="errors_lightning"
                            [errors_taproot_assets]="errors_taproot_assets"
                            (navigate)="onNavigate('bitcoin')"
                        ></orc-index-enabled-bitcoin>
                    }
                    @else {
                        <orc-index-disabled-bitcoin (navigate)="onNavigate('bitcoin')"></orc-index-disabled-bitcoin>
                    }
                    @if( errors_bitcoin ) {
                        <div [@fadeIn] class="index-section-error">
                            @for(error of errors_bitcoin; track error.code) {
                                <orc-error-resolve [error]="error"></orc-error-resolve>
                            }
                        </div>
                    }
                </div>
                <div class="index-section">
                    @if( enabled_lightning ) {
                        <orc-index-enabled-lightning
                            [loading]="preparing_lightning"
                            [lightning_info]="lightning_info!"
                            [lightning_balance]="lightning_balance!"
                            [taproot_assets]="taproot_assets!"
                            [enabled_taproot_assets]="enabled_taproot_assets"
                            (navigate)="onNavigate('lightning')"
                        ></orc-index-enabled-lightning>
                    }
                    @else {
                        <orc-index-disabled-lightning (navigate)="onNavigate('lightning')"></orc-index-disabled-lightning>
                    }
                    @if( errors_lightning ) {
                        <div [@fadeIn] class="index-section-error">
                            @for(error of errors_lightning; track error.code) {
                                <orc-error-resolve [error]="error"></orc-error-resolve>
                            }
                        </div>
                    }
                    @if( errors_taproot_assets ) {
                        <div [@fadeIn] class="index-section-error">
                            @for(error of errors_taproot_assets; track error.code) {
                                <orc-error-resolve [error]="error"></orc-error-resolve>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="flex">
                <div class="index-section">
                    @if( enabled_mint ) {
                        <orc-index-enabled-mint
                            [loading]="loading_mint"
                            [info]="mint_info!"
                            [balances]="mint_balances!"
                            [keysets]="mint_keysets!"
                            [icon_data]="mint_icon_data!"
                            (navigate)="onNavigate('mint')"
                        ></orc-index-enabled-mint>
                    }
                    @else {
                        <orc-index-disabled-mint (navigate)="onNavigate('mint')"></orc-index-disabled-mint>
                    }
                    @if( errors_mint ) {
                        <div [@fadeIn] class="index-section-error">
                            @for(error of errors_mint; track error.code) {
                                <orc-error-resolve [error]="error"></orc-error-resolve>
                            }
                        </div>
                    }
                </div>
                <div class="index-section">
                    @if( enabled_ecash ) {
                        <orc-index-enabled-ecash></orc-index-enabled-ecash>
                    }
                    @else {
                        <orc-index-disabled-ecash></orc-index-disabled-ecash>
                    }
                </div>
            </div> -->
        </div>
    </div>
</section>