<section class="section-container">

	<orc-secondary-nav>
		<div secondary-nav-header class="secondary-nav-header">	
			<div class="font-size-s">Orchard</div>
		</div>
		<div secondary-nav-items></div>
		<div secondary-nav-toolbar class="secondary-nav-toolbar">
			<div class="section-implementation">{{ version }}</div>
            <orc-secondary-nav-more></orc-secondary-nav-more>
		</div>
	</orc-secondary-nav>

    <div class="subsection-container">
        <div class="flex flex-column">

            <div class="sticky-section z-index-1">
                <orc-index-bitcoin-header
                    [loading]="preparing_bitcoin"
                    [network_info]="bitcoin_network_info"
                    [blockchain_info]="bitcoin_blockchain_info"
                    [error]="errors_bitcoin.length ? true : false"
                ></orc-index-bitcoin-header>
                <div class="category-rule"></div>
            </div>

            <div class="relative">
                @if( enabled_bitcoin ) {
                    <orc-index-bitcoin-enabled
                        [loading]="preparing_bitcoin"
                        [enabled_lightning]="enabled_lightning"
                        [enabled_taproot_assets]="enabled_taproot_assets"
                        [blockcount]="(bitcoin_blockcount) ? bitcoin_blockcount.height : 0"
                        [blockchain_info]="bitcoin_blockchain_info!"
                        [block]="bitcoin_block!"
                        [network_info]="bitcoin_network_info!"
                        [mempool]="bitcoin_mempool!"
                        [block_template]="bitcoin_block_template!"
                        [transaction_fee_estimates]="bitcoin_transaction_fee_estimates!"
                        [lightning_accounts]="lightning_accounts!"
                        [taproot_assets]="taproot_assets!"
                        [errors_lightning]="errors_lightning"
                        [errors_taproot_assets]="errors_taproot_assets"
                    ></orc-index-bitcoin-enabled>
                }
                @else {
                    <orc-index-bitcoin-disabled (navigate)="onNavigate('bitcoin')"></orc-index-bitcoin-disabled>
                }
                @if( errors_bitcoin.length > 0 ) {
                    <div [@fadeIn] class="index-section-error">
                        @for(error of errors_bitcoin; track error.code) {
                            <orc-error-resolve [error]="error"></orc-error-resolve>
                        }
                    </div>
                }
            </div>
            
            <div class="sticky-section z-index-1">
                <orc-index-lightning-header
                    [loading]="preparing_lightning"
                    [lightning_info]="lightning_info!"
                    [error]="errors_lightning.length ? true : false"
                ></orc-index-lightning-header>
                <div class="category-rule"></div>
            </div>

            <div class="relative">
                @if( enabled_lightning ) {
                    <orc-index-lightning-enabled
                        [loading]="preparing_lightning"
                        [lightning_info]="lightning_info!"
                        [lightning_balance]="lightning_balance!"
                        [taproot_assets]="taproot_assets!"
                        [enabled_taproot_assets]="enabled_taproot_assets"
                    ></orc-index-lightning-enabled>
                }
                @else {
                    <orc-index-lightning-disabled (navigate)="onNavigate('lightning')"></orc-index-lightning-disabled>
                }
                @if( errors_lightning.length > 0 ) {
                    <div [@fadeIn] class="index-section-error">
                        @for(error of errors_lightning; track error.code) {
                            <orc-error-resolve [error]="error"></orc-error-resolve>
                        }
                    </div>
                }
                @if( errors_taproot_assets.length > 0 ) {
                    <div [@fadeIn] class="index-section-error">
                        @for(error of errors_taproot_assets; track error.code) {
                            <orc-error-resolve [error]="error"></orc-error-resolve>
                        }
                    </div>
                }
            </div>

            <div class="sticky-section z-index-1">
                <orc-index-mint-header
                    [loading]="preparing_mint"
                    [info]="mint_info!"
                    [error]="errors_mint.length ? true : false"
                ></orc-index-mint-header>
                <div class="category-rule"></div>
            </div>

            <div class="relative">
                @if( enabled_mint ) {
                    <orc-index-mint-enabled
                        [loading]="loading_mint"
                        [loading_icon]="loading_mint_icon"
                        [info]="mint_info!"
                        [balances]="mint_balances!"
                        [keysets]="mint_keysets!"
                        [icon_data]="mint_icon_data!"
                        [lightning_balance]="lightning_balance!"
                        [lightning_enabled]="enabled_lightning"
                        [lightning_errors]="errors_lightning"
                        [lightning_loading]="preparing_lightning"
                        (navigate)="onNavigate($event)"
                    ></orc-index-mint-enabled>
                }
                @else {
                    <orc-index-mint-disabled (navigate)="onNavigate('mint')"></orc-index-mint-disabled>
                }
                @if( errors_mint.length > 0 ) {
                    <div [@fadeIn] class="index-section-error">
                        @for(error of errors_mint; track error.code) {
                            <orc-error-resolve [error]="error"></orc-error-resolve>
                        }
                    </div>
                }
            </div>

            <div class="sticky-section z-index-1">
                <orc-index-header-ecash></orc-index-header-ecash>
                <div class="category-rule"></div>
            </div>

            <div class="relative">
                @if( enabled_ecash ) {
                    <orc-index-enabled-ecash></orc-index-enabled-ecash>
                }
                @else {
                    <orc-index-disabled-ecash></orc-index-disabled-ecash>
                }
            </div>

        </div>
    </div>
</section>