@use 'molecule/molecule';
@use 'nucleus/nucleus';

.config-shimmer {
    height: 8rem;
    @extend %orc-corner-small;
}

.config-nut-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(2.25rem, 1fr));
    gap: 0.5rem;
}

.config-nut-item {
    @extend %orc-surface-container-high-bg;
    @extend %orc-corner-extra-small;
    padding: 0.25rem;
    gap: 0.125rem;
}
