<div class="flex flex-column flex-gap-1 flex-items-center">
	<div class="font-size-xs orc-outline-color">Keyset Rotating In</div>
	<div class="flex flex-items-center flex-gap-1">
		<div class="flex flex-column flex-items-end">
			<orc-graphic-asset [unit]="keyset_in_unit" [height]="'1.5rem'"> </orc-graphic-asset>
			<span class="invisible h-0" [innerHTML]="0 | localAmount: keyset_in_unit : 'mint'"></span>
		</div>
		<orc-mint-general-keyset class="high-bg" [active]="true" [index]="keyset_in_index" [input_fee_ppk]="keyset_in_fee">
		</orc-mint-general-keyset>
		<div>
			<span [innerHTML]="0 | localAmount: keyset_in_unit : 'mint'"></span>
		</div>
	</div>
	<div class="p-v-0-5">
		<mat-icon class="icon-lg mat-symbol-outline orc-outline-color">autorenew</mat-icon>
	</div>

	<div class="font-size-xs orc-outline-color">Keyset Rotating Out</div>
	<div class="flex flex-items-center flex-gap-1">
		<div class="flex flex-column flex-items-end">
			<orc-graphic-asset [unit]="keyset_out_unit" [height]="'1.5rem'"> </orc-graphic-asset>
			@if (keyset_out_balance !== undefined) {
				<span class="invisible h-0" [innerHTML]="keyset_out_balance | localAmount: keyset_out_unit : 'mint'"></span>
			} @else {
				<div class="h-0 w-6"></div>
			}
		</div>
		<orc-mint-general-keyset class="high-bg" [active]="false" [index]="keyset_out_index" [input_fee_ppk]="keyset_out_fee">
		</orc-mint-general-keyset>
		<div>
			@if (keyset_out_balance !== undefined) {
				<span animate.enter="orc-animation-fadein-fast" [innerHTML]="keyset_out_balance | localAmount: keyset_out_unit : 'mint'"></span>
			} @else {
				<div class="h-2 w-6 orc-corner-full orc-animation-shimmer-high"></div>
			}
		</div>
	</div>
</div>
