<div class="mint-data-control-container">
	<form [formGroup]="panel" [@formStateReaction]="height_state" class="panel-form">
		<div class="flex flex-col flex-gap-1">
			<div formGroupName="daterange">
				<mat-form-field hideRequiredMarker="true" subscriptSizing="dynamic" class="mint-analytic-daterange">
					<mat-label>Date range</mat-label>
					<mat-date-range-input [rangePicker]="picker">
						<input
							matStartDate
							formControlName="date_start"
							placeholder="Start date"
							(blur)="onDateChange()"
							(keyup.enter)="onDateChange()"
						/>
						<input
							matEndDate
							formControlName="date_end"
							placeholder="End date"
							(blur)="onDateChange()"
							(keyup.enter)="onDateChange()"
						/>
					</mat-date-range-input>
					<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-date-range-picker #picker [dateClass]="genesisClass" (closed)="onDateChange()"></mat-date-range-picker>
					@if (panel.get('daterange')?.invalid) {
						<mat-error class="font-size-xs">Invalid date range</mat-error>
					}
				</mat-form-field>
			</div>
			<div>
				<mat-form-field hideRequiredMarker="true" subscriptSizing="dynamic">
					<mat-label>Data</mat-label>
					<mat-select formControlName="type" (selectionChange)="onTypeChange($event)">
						<mat-select-trigger>
							{{ panel.get('type')?.value ? getSelectedTypeLabel(panel.get('type')?.value) : '' }}
						</mat-select-trigger>
						@for (type of type_options; track type) {
							<mat-option [value]="type.value">
								<div class="option-main">{{ type.label }}</div>
								<div class="option-helper">{{ type.helper }}</div>
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field hideRequiredMarker="true" subscriptSizing="dynamic">
					<mat-label>Units</mat-label>
					<mat-select formControlName="units" multiple (selectionChange)="onUnitsChange($event)">
						@for (unit of unit_options; track unit.value) {
							<mat-option [value]="unit.value">{{ unit.label }}</mat-option>
						}
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field hideRequiredMarker="true" subscriptSizing="dynamic">
					<mat-label>States</mat-label>
					<mat-select formControlName="states" multiple (selectionChange)="onStatesChange($event)">
						@for (state of state_options; track state) {
							<mat-option [value]="state">{{ state }}</mat-option>
						}
					</mat-select>
				</mat-form-field>
			</div>

			<div class="flex-grow">
				<mat-form-field [hideRequiredMarker]="true" class="search-field">
					<mat-label><mat-icon>search</mat-icon> Search</mat-label>
					<input matInput formControlName="filter" (input)="filterChange.emit($event)" />
				</mat-form-field>
			</div>
		</div>
	</form>
</div>
