@use 'sass:map';

$animations-styles: (
    'trans-bg-fast': (
        property: transition,
        value: background-color 0.15s ease
    ),
    'trans-color-fast': (
        property: transition,
        value: color 0.15s ease
    ),
    'trans-font-weight-fast': (
        property: transition,
        value: font-weight 0.15s ease
    ),
    'trans-bg-medium': (
        property: transition,
        value: background-color 0.3s ease
    ),
    'trans-border-radius-fast': (
        property: transition,
        value: border-radius 0.15s ease
    )
);

@each $name, $style in $animations-styles {
    %#{$name} {
        #{map.get($style, 'property')}: map.get($style, 'value');
    }
}