@use 'sass:map';

$border-styles: (
    'border': (
        property: border-width,
        value: 1px
    ),
    'border-0-125': (
        property: border-width,
        value: 0.125rem
    ),
    'border-solid': (
        property: border-style,
        value: solid
    ),
    'border-dashed': (
        property: border-style,
        value: dashed
    ),
    'border-white': (
        property: border-color,
        value: white
    ),
    'border-transparent': (
        property: border-color,
        value: transparent
    ),
    'border-radius-4': (
        property: border-radius,
        value: 4rem
    )
);  

@each $name, $style in $border-styles {
    %#{$name} {
        #{map.get($style, 'property')}: map.get($style, 'value');
    }
}