@mixin prefixStyles($c) {
    // Border
    #{$c}border { border-width: 1px; }
    #{$c}border-none { border: none; }
    #{$c}border-0-125 { border-width: 0.125rem; }
    #{$c}border-solid { border-style: solid; }
    #{$c}border-dashed { border-style: dashed; }
    #{$c}border-white { border-color: white; }
    #{$c}border-transparent { border-color: transparent; }
    #{$c}border-radius-4 { border-radius: 4rem; }


    // Top Border
    #{$c}border-top { border-top-width: 1px; }
    #{$c}border-top-solid { border-top-style: solid; }

    // Right Border
    #{$c}border-right { border-right-width: 1px; }
    #{$c}border-right-solid { border-right-style: solid; }

    // Border Bottom
    #{$c}border-bottom { border-bottom-width: 1px; }
    #{$c}border-bottom-solid { border-bottom-style: solid; }

    // Left Border
    #{$c}border-left { border-left-width: 1px; }
    #{$c}border-left-solid { border-left-style: solid; }


    // Outline
    #{$c}outline-none { outline: none; }
}