/* Border Size Definitions */
.border{
    border-width: 1px;
}
.border-0-125{
    border-width: 0.125rem;
}

/* Border Style Definitions */
.border-solid{
    border-style: solid;
}
.border-dashed{
    border-style: dashed;
}

/* Border Color Definitions */
.border-white{
    border-color: white;
}
.border-transparent{
    border-color: transparent;
}