/* Position Definitions */
@mixin prefixStyles($char) {
    // Position
    #{$char}relative { position: relative; }
    #{$char}absolute { position: absolute; }    

    // Flexbox
    #{$char}flex { display: flex; }
    #{$char}flex-row { flex-direction: row; }
    #{$char}flex-column { flex-direction: column; }
    #{$char}flex-items-center { align-items: center; }
    #{$char}flex-items-end { align-items: flex-end; }
    #{$char}flex-justify-center { justify-content: center; }
    #{$char}flex-justify-between { justify-content: space-between; }
    #{$char}flex-grow { flex-grow: 1; }
    #{$char}flex-gap-0-25 { gap: 0.25rem; }
    #{$char}flex-gap-0-5 { gap: 0.5rem; }
    #{$char}flex-gap-1 { gap: 1rem; }
    #{$char}flex-gap-1-5 { gap: 1.5rem; }
    #{$char}flex-gap-2 { gap: 2rem; }
    #{$char}flex-shrink { flex-shrink: 1; }
    #{$char}flex-basis-0 { flex-basis: 0; }

    // Height
    #{$char}h-0 { height: 0; }
    #{$char}h-dvh { height: 100dvh; }
    #{$char}h-full { height: 100%; }
    #{$char}h-0-5 { height: 0.5rem; }
    #{$char}h-1 { height: 1rem; }
    #{$char}h-1-5 { height: 1.5rem; }
    #{$char}h-1-75 { height: 1.75rem; }
    #{$char}h-2 { height: 2rem; }
    #{$char}h-2-5 { height: 2.5rem; }
    #{$char}h-3 { height: 3rem; }
    #{$char}h-4 { height: 4rem; }
    #{$char}h-8 { height: 8rem; }
    #{$char}h-min-0 { min-height: 0; }

    // Width
    #{$char}w-0 { width: 0; }
    #{$char}w-full { width: 100%; }
    #{$char}w-1 { width: 1rem; }
    #{$char}w-1-5 { width: 1.5rem; }
    #{$char}w-1-75 { width: 1.75rem; }
    #{$char}w-2 { width: 2rem; }
    #{$char}w-2-5 { width: 2.5rem; }
    #{$char}w-3 { width: 3rem; }
    #{$char}w-4 { width: 4rem; }
    #{$char}w-8 { width: 8rem; }
    #{$char}w-min-5 { min-width: 5rem; }
    #{$char}w-min-7 { min-width: 7rem; }
    #{$char}w-min-10 { min-width: 10rem; }
    #{$char}w-min-18 { min-width: 18rem; }
    #{$char}w-min-36 { min-width: 36rem; }
    #{$char}w-max-36 { max-width: 36rem; }

    // Margins
    #{$char}m-v-0-5 { margin: 0.5rem 0; }
    #{$char}m-h-1 { margin: 0 1rem; }
    #{$char}m-t-0-5 { margin-top: 0.5rem; }
    #{$char}m-t-1 { margin-top: 1rem; }
    #{$char}m-r-1 { margin-right: 1rem; }
    #{$char}m-b-0-5 { margin-bottom: 0.5rem; }
    #{$char}m-b-1-25 { margin-bottom: 1.25rem; }
    #{$char}m-l-1 { margin-left: 1rem; }

    // Padding
    #{$char}p-0-125 { padding: 0.125rem; }
    #{$char}p-0-5 { padding: 0.5rem; }
    #{$char}p-1 { padding: 1rem; }
    #{$char}p-v-0-5 { padding: 0.5rem 0; }
    #{$char}p-v-1-5 { padding: 1.5rem 0; }
    #{$char}p-h-1 { padding: 0 1rem; }
    #{$char}p-t-0-5 { padding-top: 0.5rem; }
    #{$char}p-t-1 { padding-top: 1rem; }
    #{$char}p-b-0-5 { padding-bottom: 0.5rem; }
    #{$char}p-b-1 { padding-bottom: 1rem; }
    #{$char}p-l-1 { padding-left: 1rem; }
    #{$char}p-r-1 { padding-right: 1rem; }

    // Absolute Positioning
    #{$char}bottom-0 { bottom: 0; }
    #{$char}left-0 { left: 0; }
    #{$char}left-half { left: 50%; }
    #{$char}top-0 { top: 0; }
    #{$char}top-1 { top: 1rem; }
    #{$char}top-half { top: 50%; }

    // Transforms
    #{$char}transform-translate-50-50 { transform: translate(-50%, 50%); }
    #{$char}transform-rotate-15 { transform: rotate(15deg); }
}