/* Flexbox Definitions */
.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.flex-items-center{
    align-items: center;
}
.flex-justify-center{
    justify-content: center;
}
.flex-grow{
    flex-grow: 1;
}

/* Height Definitions */
.h-full{
    height: 100%;
}
.h-2{
    height: 2rem;
}

/* Width Definitions */
.w-full{
    width: 100%;
}
.w-2{
    width: 2rem;
}

/* Minimum Width Definitions */
.w-min-7{
    min-width: 7rem;
}

/* Margin Definitions */

/* Padding Definitions */
.p-v-1-5{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.p-b-0-5{
    padding-bottom: 0.5rem;
}

// .p-t-1{
//     padding-top: 1rem;
// }
// .p-t-2{
//     padding-top: 2rem;
// }
// .p-1{
//     padding: 1rem;
// }
// .p-2{
//     padding: 2rem;
// }
// .p-v-1{
//     padding-top: 1rem;
//     padding-bottom: 1rem;
// }
// .p-v-2{
//     padding-top: 2rem;
//     padding-bottom: 2rem;
// }
// .p-h-1{
//     padding-left: 1rem;
//     padding-right: 1rem;
// }
// .p-h-2{
//     padding-left: 2rem;
//     padding-right: 2rem;
// }