@mixin prefixStyles($c) {
    #{$c}cursor-pointer { cursor: pointer; }
    #{$c}opacity-0 { opacity: 0; }
    #{$c}opacity-1 { opacity: 1; }
    #{$c}overflow-hidden { overflow: hidden; }
    #{$c}overflow-visible { overflow: visible; }
    #{$c}overflow-auto { overflow: auto; }
    #{$c}overflow-y-auto { overflow-y: auto; }
    #{$c}transparent-bg { background-color: transparent; }
    #{$c}invisible { visibility: hidden; }
    #{$c}visible { visibility: visible; }
    #{$c}hidden { display: none; }
    #{$c}grid { display: grid; }
    #{$c}block { display: block; }
    #{$c}inherit-bg { background-color: inherit; }
    #{$c}inherit-border-radius { border-radius: inherit; }
    #{$c}auto-width { width: auto; }
    #{$c}auto-height { height: auto; }
    #{$c}isolated { isolation: isolate; }
    #{$c}blur-medium { backdrop-filter: blur(4px); }
}