@mixin prefixStyles($c) {
    #{$c}cursor-pointer { cursor: pointer; }
    #{$c}opacity-0 { opacity: 0; }
    #{$c}opacity-1 { opacity: 1; }
    #{$c}overflow-hidden { overflow: hidden; }
    #{$c}overflow-y-auto { overflow-y: auto; }
    #{$c}transparent-bg { background-color: transparent; }
}