/* Cursor Properties */
.cursor-pointer{
    cursor: pointer;
}

/* Opacity Properties */

.opacity-0{
    opacity: 0;
}

.opacity-1{
    opacity: 1;
}


/* Overflow Properties */

.overflow-hidden{
    overflow: hidden;
}

.overflow-y-auto{
    overflow-y: auto;
}


