@mixin prefixStyles($c) {
    // Background Colors
    #{$c}orc-asset-btc-bg { background-color: var(--orc-asset-btc); }
    #{$c}orc-asset-usd-bg { background-color: var(--orc-asset-usd); }
    #{$c}orc-asset-eur-bg { background-color: var(--orc-asset-eur); }
    #{$c}orc-surface-bg { background-color: var(--mat-sys-surface); }
    #{$c}orc-primary-bg { background-color: var(--mat-sys-primary); }
    #{$c}orc-primary-container-bg { background-color: var(--mat-sys-primary-container); }
    #{$c}orc-surface-container-high-bg { background-color: var(--mat-sys-surface-container-high); }
    #{$c}orc-surface-container-bg { background-color: var(--mat-sys-surface-container); }
    #{$c}orc-surface-variant-bg { background-color: var(--mat-sys-surface-variant); }
    #{$c}orc-surface-container-low-bg { background-color: var(--mat-sys-surface-container-low); }
    #{$c}orc-on-secondary-container-bg { background-color: var(--mat-sys-on-secondary-container); }
    #{$c}orc-tertiary-container-bg { background-color: var(--mat-sys-tertiary-container); }
    #{$c}orc-secondary-bg { background-color: var(--mat-sys-secondary); }
    #{$c}orc-on-error-bg { background-color: var(--mat-sys-on-error); }
    #{$c}orc-error-bg { background-color: var(--mat-sys-error); }
    #{$c}orc-warning-bg { background-color: var(--orc-status-warning); }
    #{$c}orc-on-warning-bg { background-color: var(--orc-on-warning-bg); }
    #{$c}orc-primary-fixed-dim-bg { background-color: var(--mat-sys-primary-fixed-dim); }
    #{$c}orc-inverse-primary-bg { background-color: var(--mat-sys-inverse-primary); }
    #{$c}orc-outline-variant-bg { background-color: var(--mat-sys-outline-variant); }
    // Background Colors (with transparency)
    #{$c}orc-shadow-bg { background-color: color-mix(in srgb, var(--mat-sys-shadow), transparent 50%); }
    #{$c}orc-fog-bg { background-color: color-mix(in srgb, var(--mat-sys-surface-container), transparent 50%); }

    // Text Colors
    #{$c}orc-on-surface-color { color: var(--mat-sys-on-surface); }
    #{$c}orc-on-primary-color { color: var(--mat-sys-on-primary); }
    #{$c}orc-on-primary-container-color { color: var(--mat-sys-on-primary-container); }
    #{$c}orc-outline-color { color: var(--mat-sys-outline); }
    #{$c}orc-surface-color { color: var(--mat-sys-surface); }
    #{$c}orc-surface-container-high-color { color: var(--mat-sys-surface-container-high); }
    #{$c}orc-on-surface-variant-color { color: var(--mat-sys-on-surface-variant); }
    #{$c}orc-primary-fixed-dim-color { color: var(--mat-sys-primary-fixed-dim); }
    #{$c}orc-tertiary-container-color { color: var(--mat-sys-tertiary-container); }
    #{$c}orc-error-container-color { color: var(--mat-sys-error-container); }
    #{$c}orc-status-active-color { color: var(--orc-status-active); }
    #{$c}orc-status-warning-color { color: var(--orc-status-warning); }
    #{$c}orc-status-inactive-color { color: var(--orc-status-inactive); }
    #{$c}orc-on-error-color { color: var(--mat-sys-on-error); }
    #{$c}orc-error-color { color: var(--mat-sys-error); }
    #{$c}orc-on-error-container-color { color: var(--mat-sys-on-error-container); }
    #{$c}orc-on-primary-fixed-color { color: var(--mat-sys-on-primary-fixed); }

    // Fill Colors
    #{$c}orc-brand-lightest-fill { fill: var(--orc-sys-brand-lightest); }
    #{$c}orc-brand-light-fill { fill: var(--orc-sys-brand-light); }
    #{$c}orc-brand-medium-fill { fill: var(--orc-sys-brand-medium); }
    #{$c}orc-brand-dark-fill { fill: var(--orc-sys-brand-dark); }
    #{$c}orc-brand-darkest-fill { fill: var(--orc-sys-brand-darkest); }
    #{$c}orc-brand-surface-fill { fill: var(--orc-sys-brand-surface); }

    // Border Radius
    #{$c}orc-corner-extra-large { border-radius: var(--mat-sys-corner-extra-large); }
    #{$c}orc-corner-extra-large-top { border-radius: var(--mat-sys-corner-extra-large-top); }
    #{$c}orc-corner-extra-small { border-radius: var(--mat-sys-corner-extra-small); }
    #{$c}orc-corner-extra-small-top { border-radius: var(--mat-sys-corner-extra-small-top); }
    #{$c}orc-corner-full { border-radius: var(--mat-sys-corner-full); }
    #{$c}orc-corner-large { border-radius: var(--mat-sys-corner-large); }
    #{$c}orc-corner-large-end { border-radius: var(--mat-sys-corner-large-end); }
    #{$c}orc-corner-large-start { border-radius: var(--mat-sys-corner-large-start); }
    #{$c}orc-corner-large-top { border-radius: var(--mat-sys-corner-large-top); }
    #{$c}orc-corner-medium { border-radius: var(--mat-sys-corner-medium); }
    #{$c}orc-corner-none { border-radius: var(--mat-sys-corner-none); }
    #{$c}orc-corner-small { border-radius: var(--mat-sys-corner-small); }
    #{$c}orc-corner-small-top { border-radius: 0.5rem 0.5rem 0 0; }

    // Borders
    #{$c}orc-surface-tint-border { border-color: var(--mat-sys-surface-tint); }
    #{$c}orc-surface-variant-border { border-color: var(--mat-sys-surface-variant); }
    #{$c}orc-outline-border { border-color: var(--mat-sys-outline); }
    #{$c}orc-outline-variant-border { border-color: var(--mat-sys-outline-variant); }
    #{$c}orc-on-primary-container-border { border-color: var(--mat-sys-on-primary-container); }
    #{$c}orc-surface-container-lowest-border { border-color: var(--mat-sys-surface-container-lowest); }

    // Shadows
    #{$c}orc-level0 { box-shadow: var(--mat-sys-level0); }
    #{$c}orc-level1 { box-shadow: var(--mat-sys-level1); }
    #{$c}orc-level2 { box-shadow: var(--mat-sys-level2); }
    #{$c}orc-level3 { box-shadow: var(--mat-sys-level3); }
    #{$c}orc-level4 { box-shadow: var(--mat-sys-level4); }
    #{$c}orc-level5 { box-shadow: var(--mat-sys-level5); }
}