:root {
    // brand colors
    --orc-sys-brand-lightest: #fffd9f;
    --orc-sys-brand-light: #ffd61f;
    --orc-sys-brand-medium: #f58f22;
    --orc-sys-brand-dark: #f3651d;
    --orc-sys-brand-darkest: #9c2222;
    --orc-sys-brand-surface: #100;

    // asset colors
    --orc-asset-btc: light-dark(#f7931a, #f7931a);
    --orc-asset-usd: light-dark(#84B08D, #84B08D);
    --orc-asset-eur: light-dark(#8AAAD8, #8AAAD8);

}