:root {
    --orc-sys-brand-lightest: #fffd9f;
    --orc-sys-brand-light: #ffd61f;
    --orc-sys-brand-medium: #f58f22;
    --orc-sys-brand-dark: #f3651d;
    --orc-sys-brand-darkest: #9c2222;
    --orc-sys-brand-surface: #100;
}