@use 'sass:map';

$typetext-styles: (
    'font-weight-extra-light': (
        property: font-weight,
        value: 200
    ),
    'font-weight-light': (
        property: font-weight,
        value: 300
    ),
    'font-weight-regular': (
        property: font-weight,
        value: 400
    ),
    'font-weight-medium': (
        property: font-weight,
        value: 500
    ),
    'font-weight-semi-bold': (
        property: font-weight,
        value: 600
    ),
    'font-weight-bold': (
        property: font-weight,
        value: 700
    ),
    'font-size-xs': (
        property: font-size,
        value: 0.75rem
    ),
    'font-size-s': (
        property: font-size,
        value: 0.875rem
    ),
    'font-size-m': (
        property: font-size,
        value: 1rem
    ),
    'font-size-l': (
        property: font-size,
        value: 1.25rem
    ),
    'font-size-xl': (
        property: font-size,
        value: 1.5rem
    ),
    'font-size-xxl': (
        property: font-size,
        value: 1.75rem
    ),
    'font-size-3': (
        property: font-size,
        value: 3rem
    ),
    'text-center': (
        property: text-align,
        value: center
    ),
    'mat-symbol-bold': (
        property: font-variation-settings,
        value: "FILL 0, wght 700, GRAD 0, opsz 20"
    )
);

@each $name, $style in $typetext-styles {
    %#{$name} {
        #{map.get($style, 'property')}: map.get($style, 'value');
    }
}