@mixin prefixStyles($char) {
    // Font Weights
    #{$char}font-weight-extra-light { font-weight: 200; }
    #{$char}font-weight-light { font-weight: 300; }
    #{$char}font-weight-regular { font-weight: 400; }
    #{$char}font-weight-medium { font-weight: 500; }
    #{$char}font-weight-semi-bold { font-weight: 600; }
    #{$char}font-weight-bold { font-weight: 700; }

    // Font Sizes
    #{$char}font-size-xs { font-size: 0.75rem; }
    #{$char}font-size-s { font-size: 0.875rem; }
    #{$char}font-size-m { font-size: 1rem; }
    #{$char}font-size-l { font-size: 1.25rem; }
    #{$char}font-size-xl { font-size: 1.5rem; }
    #{$char}font-size-xxl { font-size: 1.75rem; }
    #{$char}font-size-3 { font-size: 3rem; }

    // Text Alignment
    #{$char}text-center { text-align: center; }

    // Material Symbols
    #{$char}mat-symbol-bold { font-variation-settings: "FILL 0, wght 700, GRAD 0, opsz 20"; }
}