<mat-card appearance="outlined" class="ecash-disabled-card">
    <mat-card-content>
        <div class="flex-grow flex flex-column flex-gap-2">
            <div class="flex flex-justify-center">
                <div class="flex flex-items-center flex-gap-1 orc-outline-color">
                    <mat-icon class="icon-lg mat-symbol-outline">payments</mat-icon>
                    <div class="font-size-xxl font-weight-bold">Ecash</div>
                </div>
            </div>
            <div class="flex-grow flex flex-justify-center flex-items-center">
                <div class="p-b-2">
                    <div>Ecash Wallet Coming Soon!</div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>