@use 'molecule/molecule';

:host {
	@extend %flex;
}

.bitcoin-block-container {
	@extend %relative;
	@extend %flex;
	@extend %flex-column;
	@extend %isolated;
}

.block-header {
	@extend %relative;
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
}

.block-height {
	@extend %absolute;
	@extend %bottom-1;
}

.block {
	@extend %orc-surface-container-highest-bg;
	height: 10rem;
	width: 10rem;
	@extend %orc-corner-small;
	@extend %relative;
	@extend %overflow-hidden;
}

.block-template {
	@extend %orc-surface-variant-bg;
}

.block-content {
	@extend %absolute;
	@extend %z-index-2;
	@extend %bottom-0;
	@extend %top-0;
	@extend %left-0;
	@extend %right-0;
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
}

.block-treemap {
	@extend %absolute;
	@extend %z-index-1;
	@extend %bottom-0;
	@extend %top-0;
	@extend %left-0;
	@extend %right-0;
	@extend %overflow-hidden;
	@extend %orc-corner-small;
}

.block-min-feerate {
	@extend %font-size-l;
	@extend %font-weight-semi-bold;
}

.block-detail-label {
	@extend %font-size-xs;
	@extend %font-weight-regular;
}

.block-feerange {
	@extend %flex;
	@extend %flex-gap-0-25;
	@extend %font-size-xs;
	@extend %flex-justify-center;
	@extend %orc-outline-color;
	@extend %p-b-1;
}

.block-size,
.block-tx-count,
.block-time {
	@extend %font-size-xs;
}
