<div class="bitcoin-block-container">
	@if (!is_template()) {
		<div class="block-header">
			<div class="block-height">{{ block()?.height | bitcoinGeneralBlock }}</div>
		</div>
	}
	<div class="block" [ngClass]="{'block-template': is_template()}">
		<div class="block-content">
			<div class="flex flex-column flex-gap-0-25 flex-justify-center flex-items-center">
				<div class="block-min-feerate">
					~{{ block()?.feerate_low | bitcoinGeneralFeerate: 'ceil1' }} <span class="block-detail-label">sat/vB</span>
				</div>
				<div class="block-feerange">
					{{ block()?.feerate_low | bitcoinGeneralFeerate }} - {{ block()?.feerate_high | bitcoinGeneralFeerate }}
					<span>sat/vB</span>
				</div>
				<div class="block-size">{{ block()?.size | dataBytes }}</div>
				<div class="block-tx-count">{{ block()?.nTx | number }}<span class="block-detail-label"> txs</span></div>
				<div class="block-time orc-outline-color">
					@if (!is_template()) {
						{{ $any(this.block()).time | localTimeAgo }}
					} @else {
						~10 min
					}
				</div>
			</div>
		</div>
		<orc-bitcoin-general-treemap class="block-treemap" [rects]="treemap_rects()" [fullness]="fullness()"></orc-bitcoin-general-treemap>
	</div>
</div>
