<section class="section-container">
	<orc-nav-secondary>
		<div nav-secondary-header class="nav-secondary-header">
			<div class="font-size-s">Orchard Settings</div>
		</div>
		<div nav-secondary-items>
			<orc-nav-secondary-item
				name="Device"
				navroute="settings/device"
				[active]="active_sub_section() === 'device'"
			></orc-nav-secondary-item>
			<orc-nav-secondary-item
				name="User"
				navroute="settings/user"
				[active]="active_sub_section() === 'user'"
			></orc-nav-secondary-item>
			<orc-nav-secondary-item
				name="Application"
				navroute="settings/app"
				[active]="active_sub_section() === 'app'"
			></orc-nav-secondary-item>
		</div>
		<div nav-secondary-toolbar class="nav-secondary-toolbar">
			<div class="section-implementation">{{ version() }}</div>
			<orc-nav-secondary-more></orc-nav-secondary-more>
		</div>
	</orc-nav-secondary>
	<div class="subsection-container">
		@if (overlayed()) {
			<div class="orc-route-overlay" animate.leave="orc-route-animation-overlay"></div>
		}
		<router-outlet></router-outlet>
	</div>
</section>
