@use '@styles/molecule/molecule';

.control-panel-sticky{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    border: none;

    // orc-mint-analytic-control-panel{
    //     position: sticky;
    //     top: 0;
    //     background-color: inherit;
    // }

    mat-card-content{
        overflow: scroll;
        padding: 0;
    }

    .control-container{
        position: sticky;
        top: 0;
        @extend %orc-surface-bg;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .chart-container{
        padding: 1rem;
    }

    // mat-card{
    //     border: none;
    // }
}