<div class="crew-control-container">
	<form [formGroup]="form_group()" class="panel-form orc-animation-form-reaction" [class.animation-invalid]="form_group().invalid">
		<div class="flex flex-col flex-gap-1">
			<div class="flex-grow w-max-36">
				<mat-form-field [hideRequiredMarker]="true" class="search-field">
					<mat-label><mat-icon>search</mat-icon> Search</mat-label>
					<input matInput formControlName="filter" />
				</mat-form-field>
			</div>
			<div class="p-t-0-5">
				<button matButton type="button" [matMenuTriggerFor]="filter_menu">
					<mat-icon>tune</mat-icon>
					<span class="text-nowrap font-size-s">Filters {{ filter_count() > 0 ? `(${filter_count()})` : '' }}</span>
				</button>
			</div>
		</div>
	</form>
</div>

<mat-menu #filter_menu="matMenu" yPosition="below" class="orc-sticky-menu orc-filter-menu">
	<orc-form-filter-menu (click)="$event.stopPropagation()" (clear)="onClearFilter()" (close)="onCloseFilter()">
		<div class="orc-filter-menu-section">
			<div>State</div>
			<div class="filter-options">
				@for (state of state_options(); track state.value) {
					<mat-checkbox [checked]="isStateSelected(state.value)" (change)="onStateToggle(state.value)">
						{{ state.label }}
					</mat-checkbox>
				}
			</div>
		</div>
		<div class="orc-filter-menu-rule"></div>
		<div class="orc-filter-menu-section">
			<div>Role</div>
			<div class="filter-options">
				@for (role of role_options(); track role.value) {
					<mat-checkbox [checked]="isRoleSelected(role.value)" (change)="onRoleToggle(role.value)">
						{{ role.label }}
					</mat-checkbox>
				}
			</div>
		</div>
	</orc-form-filter-menu>
</mat-menu>
