<div class="crew-control-container">
	<form [formGroup]="form_group()" class="panel-form orc-animation-form-reaction" [class.animation-invalid]="form_group().invalid">
		<div class="flex flex-col flex-gap-1">
			<div class="flex-grow">
				<mat-form-field [hideRequiredMarker]="true" class="search-field">
					<mat-label><mat-icon>search</mat-icon> Search</mat-label>
					<input matInput formControlName="filter" />
				</mat-form-field>
			</div>
			<div>
				<mat-form-field hideRequiredMarker="true" subscriptSizing="dynamic">
					<mat-label>Entity</mat-label>
					<mat-select formControlName="entity" multiple>
						@for (entity of entity_options(); track entity.value) {
							<mat-option [value]="entity.value">{{ entity.label }}</mat-option>
						}
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field hideRequiredMarker="true" subscriptSizing="dynamic">
					<mat-label>Role</mat-label>
					<mat-select formControlName="role" multiple>
						@for (role of role_options(); track role.value) {
							<mat-option [value]="role.value">{{ role.label }}</mat-option>
						}
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</form>
</div>
