<div class="mint-enabled-container">
	@if (!loading) {
		<div animate.enter="orc-animation-fadein" class="flex flex-gap-4 p-2">
			<orc-index-mint-info [loading]="loading_icon" [icon_data]="icon_data" [info]="info"></orc-index-mint-info>

			<div class="flex-grow">
				<orc-mint-general-balance-sheet
					[balances]="balances"
					[keysets]="keysets"
					[lightning_balance]="lightning_balance"
					[lightning_enabled]="lightning_enabled"
					[lightning_errors]="lightning_errors"
					[lightning_loading]="lightning_loading"
					[loading]="loading"
					(navigate)="navigate.emit('lightning')"
				>
				</orc-mint-general-balance-sheet>
			</div>
		</div>
	}
</div>
