<div class="flex flex-items-start">
	<div class="flex-grow flex flex-items-start flex-justify-between">
		<!-- <button type="button" matFab extended class="orc-icon-button">
			<mat-icon>key</mat-icon>
			Change Password
		</button> -->
		<div class="w-min-18 flex flex-items-center flex-justify-center">
			<button matButton="tonal" (click)="onChangePassword()">Change Password</button>
		</div>

		<div class="w-max-18">
			<orc-form-help-text class="orc-surface-container-high-bg">
				Change your password to secure this user account
			</orc-form-help-text>
		</div>
	</div>
</div>
