<div class="mint-ecash-container p-v-1">
	<div class="flex flex-column flex-gap-2">
		@for (group_amount of group_amounts; track group_amount.keyset?.id) {
			<div class="flex flex-gap-2 flex-items-center">
				@if (group_amount.keyset) {
					<orc-mint-general-keyset
						[active]="group_amount.keyset.active"
						[index]="group_amount.keyset.derivation_path_index"
						[input_fee_ppk]="group_amount.keyset.input_fee_ppk"
					>
					</orc-mint-general-keyset>
				}
				<div class="flex flex-wrap flex-gap-1">
					@for (note of group_amount.notes; track note.amount) {
						<div class="note-box">
							<mat-icon class="mat-symbol-outline">payments</mat-icon>
							<div class="text-nowrap" [innerHTML]="note.amount | amount: group.unit : 'mint'"></div>
							@for (_ of [].constructor(note.quantity); track _; let i = $index) {
								<div class="stacked-note" [class]="'stack-height-' + (i <= 3 ? i : 'high')"></div>
							}
						</div>
					}
				</div>
			</div>
		}
	</div>
</div>
