<div class="event-log-table-container">
    @if (!loading() && !error() && data_source().data.length > 0) {
        <div class="p-h-1 flex flex-column flex-grow" animate.enter="orc-animation-fadein">
            <table mat-table multiTemplateDataRows [dataSource]="data_source()" class="orc-feature-table">

                <!-- Actor Column -->
                <ng-container matColumnDef="actor">
                    <th mat-header-cell *matHeaderCellDef class="data-table-sticky-header">User</th>
                    <td mat-cell *matCellDef="let entity">
                        <div class="flex flex-items-center flex-gap-0-5 p-v-0-5">
                            @if (entity.actor_type === EventLogActorType.User) {
                                @if (findUser(entity.actor_id); as user) {
                                    <orc-crew-member-chip [name]="user.name" [role]="user.role">
                                        <orc-crew-facehash [name]="user.name" [enableBlink]="id_user() === user.id"></orc-crew-facehash>
                                    </orc-crew-member-chip>
                                } @else {
                                    <mat-icon class="icon-sm mat-symbol-outline">person</mat-icon>
                                    <span class="font-size-s orc-outline-color">{{ entity.actor_id | dataTruncate: 20: 8: 8 }}</span>
                                }
                            } @else {
                                <mat-icon class="icon-sm mat-symbol-outline">{{ entity.actor_type === EventLogActorType.System ? 'settings' : 'smart_toy' }}</mat-icon>
                                <span class="font-size-s">{{ entity.actor_type }}</span>
                            }
                        </div>
                    </td>
                </ng-container>

                <!-- Section Column -->
                <ng-container matColumnDef="section">
                    <th mat-header-cell *matHeaderCellDef class="data-table-sticky-header">Section</th>
                    <td mat-cell *matCellDef="let entity">
                        <div class="flex">
                            <orc-event-subsection-log-section-chip [section]="entity.section"></orc-event-subsection-log-section-chip>
                        </div>
                    </td>
                </ng-container>

                <!-- Event Column -->
                <ng-container matColumnDef="event">
                    <th mat-header-cell *matHeaderCellDef class="data-table-sticky-header">Event</th>
                    <td mat-cell *matCellDef="let entity">
                        <div class="flex flex-items-center flex-gap-0-5">
                            <orc-event-subsection-log-event-icon [type]="entity.type" [status]="entity.status"></orc-event-subsection-log-event-icon>
                            <span class="font-size-s font-weight-medium">{{ entity.entity_type | eventLogEvent: entity.type }}</span>
                        </div>
                    </td>
                </ng-container>

                <!-- Details Column -->
                <ng-container matColumnDef="details">
                    <th mat-header-cell *matHeaderCellDef class="data-table-sticky-header">Details</th>
                    <td mat-cell *matCellDef="let entity">
                        <div class="flex flex-column flex-gap-0-25">
                            @for (detail of entity.details; track detail.id) {
                                <div class="flex flex-items-center flex-gap-0-5">
                                    <orc-graphic-status
                                        [status]="detail.status === EventLogDetailStatus.Success ? 'active' : 'inactive'"
                                        size="0.5rem"
                                    ></orc-graphic-status>
                                    <div class="font-size-xs orc-outline-color">{{ detail | eventLogDetails: entity.type }}</div>
                                </div>
                            }
                        </div>
                    </td>
                </ng-container>

                <!-- Timestamp Column -->
                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef class="data-table-sticky-header">Time</th>
                    <td mat-cell *matCellDef="let entity">
                        <span class="text-nowrap font-size-s">{{ entity.timestamp | localTime: event_time_type() }}</span>
                    </td>
                </ng-container>

                <!-- Detail Expansion Row -->
                <ng-container matColumnDef="more_detail">
                    <td mat-cell *matCellDef="let entity" [attr.colspan]="displayed_columns().length">
                        <div class="more-entity-wrapper" [class.more-entity-wrapper-expanded]="more_entity?.id === entity.id">
                            <div class="more-entity-content">
                                @if (more_entity?.id === entity.id) {
                                    <div class="w-full" animate.enter="orc-animation-fadein">
                                        <orc-event-subsection-log-table-detail
                                            [event_log]="entity"
                                            [device_type]="device_type()"
                                        ></orc-event-subsection-log-table-detail>
                                    </div>
                                }
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayed_columns(); sticky: true"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayed_columns()"
                    class="entity-row"
                    [class.expanded]="more_entity === row"
                    (click)="toggleMore(row)"
                ></tr>
                <tr mat-row *matRowDef="let row; columns: ['more_detail']" class="more-entity-row"></tr>
            </table>
        </div>
    } @else if (!loading() && !error() && data_source().data.length === 0) {
        <div class="flex flex-items-center flex-justify-center h-min-18" animate.enter="orc-animation-fadein">
            <!-- <mat-icon class="icon-lg mat-symbol-outline orc-outline-variant-color">event_busy</mat-icon> -->
            <div class="font-size-l orc-outline-color">No events</div>
        </div>
    } @else if (error()) {
        <div class="flex flex-items-center flex-justify-center h-min-18" animate.enter="orc-animation-fadein">
            <mat-icon class="icon-lg mat-symbol-outline orc-outline-variant-color">error_outline</mat-icon>
        </div>
    } @else {
        <div class="flex flex-items-center flex-justify-center h-min-18">
            <mat-icon class="icon-lg mat-symbol-outline orc-outline-variant-color">table</mat-icon>
        </div>
    }
</div>
