@use '@styles/molecule/molecule';

:host {
	@extend %flex;
	@extend %flex-grow;
}

.bitcoin-subsection-oracle-run-container {
	@extend %p-r-1;
}

.progress-summary-container {
	min-height: 5.625rem;
}
