@use 'molecule/molecule';

.tablet-oracle {
	@extend %flex-grow;
	@extend %flex-justify-center;
}

.oracle-clamp {
	height: 12rem;
	width: 13rem;
	@extend %p-t-1;
	@extend %overflow-hidden;
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
}
