<div class="mint-keyset-rotation-container p-t-1">
	<mat-card appearance="outlined" class="relative overflow-hidden">
		<mat-card-content class="orc-surface-container-low-bg">
			<div class="absolute top-0-5 right-0-5">
				<button mat-icon-button (click)="close.emit()">
					<mat-icon>close</mat-icon>
				</button>
			</div>
			<div class="flex flex-gap-2">
				<div class="flex flex-column flex-gap-2">
					<div>
						<div class="title-l">UTXOracle</div>
						<div class="font-size-xs orc-outline-color">Backfill price data for a specific date or range of dates</div>
					</div>
					<form [formGroup]="form_group()">
						<div class="flex flex-gap-2">
							<orc-form-field-dynamic
								[hot]="focused_date_start() || form_group().get('date_start')?.dirty || false"
								[invalid]="form_group().get('date_start')?.invalid || false"
								[standalone]="false"
								(cancel)="cancel.emit('date_start')"
							>
								<mat-form-field
									hideRequiredMarker="true"
									[ngClass]="
										focused_date_start() || form_group().get('date_start')?.dirty || false
											? 'orc-hot-form-field'
											: 'orc-cold-form-field'
									"
									class="orc-dynamic-form-field"
								>
									<mat-label>Select a date</mat-label>
									<input
										formControlName="date_start"
										matInput
										[matDatepicker]="start_picker"
										[min]="min_date()"
										[max]="date_start_max()"
										(focus)="focused_date_start.set(true)"
										(blur)="focused_date_start.set(false)"
									/>
									<mat-datepicker-toggle matIconSuffix [for]="start_picker"></mat-datepicker-toggle>
									<mat-datepicker #start_picker></mat-datepicker>
								</mat-form-field>
							</orc-form-field-dynamic>

							<orc-form-field-dynamic
								[hot]="focused_date_end() || form_group().get('date_end')?.dirty || false"
								[invalid]="form_group().get('date_end')?.invalid || false"
								[standalone]="false"
								(cancel)="cancel.emit('date_end')"
							>
								<mat-form-field
									hideRequiredMarker="true"
									[ngClass]="
										focused_date_end() || form_group().get('date_end')?.dirty || false
											? 'orc-hot-form-field'
											: 'orc-cold-form-field'
									"
									class="orc-dynamic-form-field"
								>
									<mat-label>Select an end date</mat-label>
									<input
										formControlName="date_end"
										matInput
										[matDatepicker]="end_picker"
										[min]="date_end_min()"
										[max]="max_date()"
										(focus)="focused_date_end.set(true)"
										(blur)="focused_date_end.set(false)"
									/>
									<mat-datepicker-toggle matIconSuffix [for]="end_picker"></mat-datepicker-toggle>
									<mat-datepicker #end_picker></mat-datepicker>
								</mat-form-field>
							</orc-form-field-dynamic>
						</div>
					</form>
				</div>
				<div class="flex h-min-18">
					<div class="h-full flex flex-items-center flex-justify-center">
						<orc-graphic-oracle height="13rem" [running]="running()"></orc-graphic-oracle>
					</div>
				</div>
				<div class="flex flex-grow">
					<div class="flex flex-grow flex-items-center flex-justify-center">
						<orc-bitcoin-subsection-oracle-run
							[date_start]="form_group().get('date_start')?.value"
							[date_end]="form_group().get('date_end')?.value"
							[running]="running()"
							[progress]="progress()"
						></orc-bitcoin-subsection-oracle-run>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
