<div>
    <form
        [formGroup]="form_group"
        (ngSubmit)="onSubmit($event)"
        (keydown.enter)="onSubmit($event)"
        (keydown.escape)="onCancel($event)">        
        <orc-dynamic-form-field
            [hot]="form_hot"
            (submit)="onSubmit($event)"
            (cancel)="onCancel($event)">
            <mat-form-field [appearance]="form_hot ? 'fill' : 'outline'" class="w-full orc-dynamic-form-field">
                <mat-label>Description Long</mat-label>
                <textarea 
                    type="text" 
                    rows="1"
                    #element_description_long
                    matInput 
                    [formControlName]="control_name"
                    [autogrow]="true"
                    placeholder="Ex. Describe your mint more"
                ></textarea>
            </mat-form-field>
        </orc-dynamic-form-field>
    </form>
</div>