<div class="flex flex-column flex-gap-1">
	<div class="title-l">Info</div>
	<mat-card appearance="outlined" class="wallet-summary-card relative overflow-hidden">
		<mat-card-content class="orc-surface-container-low-bg">
			<div class="flex flex-column flex-gap-1">
				<div class="flex flex-row flex-items-center flex-justify-between flex-gap-1">
					<div class="flex flex-row flex-items-center flex-gap-0-5">
						<mat-icon class="icon-lg orc-outline-color">deployed_code</mat-icon>
						<div class="font-size-l">{{ blockchain_info()?.chain }}</div>
					</div>

					<div class="flex flex-items-center flex-gap-0-5">
						<orc-graphic-status [status]="status()" size="1rem"></orc-graphic-status>
						<div class="orc-outline-color">{{ state() }}</div>
					</div>
				</div>
				<div>
					<div class="font-size-l">{{ blockcount() | bitcoinGeneralBlock }}</div>
					<div class="font-size-xs orc-outline-color">Block height</div>
				</div>
				<div class="flex flex-row flex-items-center flex-justify-between flex-gap-2">
					<div>
						<div class="font-size-l">{{ blockchain_info()?.size_on_disk | dataBytes }}</div>
						<div class="font-size-xs orc-outline-color">Chain weight</div>
					</div>
					<ng-content></ng-content>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
