<div class="mint-subsection-keysets-container p-h-1">
	<div class="mint-keyset-control p-t-1">
		<div class="flex flex-justify-between flex-gap-1 flex-items-start">
			@if (page_settings) {
				<orc-mint-subsection-keysets-control
					class="flex-grow"
					[page_settings]="page_settings"
					[date_start]="page_settings.date_start"
					[date_end]="page_settings.date_end"
					[units]="page_settings.units"
					[status]="page_settings.status"
					[keysets]="mint_keysets"
					[loading]="loading_static_data"
					[mint_genesis_time]="mint_genesis_time"
					(dateChange)="onDateChange($event)"
					(unitsChange)="onUnitsChange($event)"
					(statusChange)="onStatusChange($event)"
				></orc-mint-subsection-keysets-control>
			}
			<button
				type="button"
				class="text-nowrap"
				matFab
				extended
				(click)="onRotation()"
				(keydown.enter)="$event.preventDefault(); $event.stopPropagation()"
			>
				<mat-icon>switch_access_shortcut_add</mat-icon>
				Keyset Rotation
			</button>
		</div>
		<div class="category-rule"></div>
	</div>

	<div class="orc-animation-collapsible" [class.animation-open]="keysets_rotation">
		<div class="orc-animation-collapsible-inner">
			<div class="mint-keyset-form-target" #keyset_form></div>
			<orc-mint-subsection-keysets-form
				[form_group]="form_keyset"
				[unit_options]="unit_options"
				[keyset_out]="keyset_out"
				[keyset_out_balance]="keyset_out_balance"
				[median_notes]="median_notes"
				(updateUnit)="onUpdateUnit($event)"
				(close)="onCloseRotation()"
			></orc-mint-subsection-keysets-form>
		</div>
	</div>

	<orc-mint-subsection-keysets-chart
		[locale]="locale"
		[interval]="interval"
		[keysets]="mint_keysets"
		[keysets_analytics]="keysets_analytics"
		[keysets_analytics_pre]="keysets_analytics_pre"
		[page_settings]="page_settings"
		[mint_genesis_time]="mint_genesis_time"
		[loading]="loading_dynamic_data"
	></orc-mint-subsection-keysets-chart>

	<orc-mint-subsection-keysets-table
		[keysets]="mint_keysets"
		[keysets_analytics]="keysets_analytics"
		[keysets_analytics_pre]="keysets_analytics_pre"
		[keysets_proof_counts]="keysets_proof_counts"
		[page_settings]="page_settings"
		[loading]="loading_dynamic_data"
	></orc-mint-subsection-keysets-table>
</div>
