<div class="bitcoin-syncing-container">
	<div class="title-l">Syncing</div>
	<div class="p-t-1">
		<div class="flex flex-gap-1">
			<orc-progress-circle [value]="sync_progress()" [diameter]="200" [stroke_width]="20">
				<div #flash_height_one class="text-nowrap font-size-l font-weight-bold">
					{{ blockchain_info()?.verificationprogress | percent: '1.0-2' }}
				</div>
			</orc-progress-circle>

			<div class="orc-info-table">
				<table>
					<tbody>
						<tr>
							<td class="font-weight-extra-light orc-outline-color">Date</td>
							<td #flash_time class="text-nowrap">{{ block()?.time | localTime: 'medium' }}</td>
						</tr>
						<tr>
							<td class="font-weight-extra-light orc-outline-color text-nowrap">Block height</td>
							<td #flash_height_two>
								{{ block()?.height | bitcoinGeneralBlock }}
							</td>
						</tr>
						<tr>
							<td class="font-weight-extra-light orc-outline-color text-nowrap">Best block</td>
							<td #flash_hash class="text-nowrap w-min-24">
								{{ block()?.hash | dataTruncate: 60 : 27 : 10 }}
							</td>
						</tr>
						<tr>
							<td class="font-weight-extra-light orc-outline-color text-nowrap">Log2 work</td>
							<td #flash_chainwork>
								{{ block()?.chainwork | bitcoinGeneralLog2work }}
							</td>
						</tr>
						<tr>
							<td class="font-weight-extra-light orc-outline-color text-nowrap">Target height</td>
							<td #flash_headers>
								{{ blockchain_info()?.headers | bitcoinGeneralBlock }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
