<div class="change-password-dialog" [class.mobile-view]="data.device_mobile">
	<h2 mat-dialog-title>Change Password</h2>

	<mat-dialog-content>
		<form [formGroup]="form_password">
			<orc-auth-general-formcontrol-password
				class="auth-form-field"
				[form_group]="form_password"
				[control_name]="'password_current'"
				[label]="'Current Password'"
				[invalid]="form_password.get('password_current')?.invalid || false"
				[dirty]="form_password.get('password_current')?.dirty || false"
				[error]="errors.password_current"
				[focused_control]="focused_control() === 'password_current'"
				(cancel)="onControlCancel('password_current')"
				(enter)="focused_control.set('password_new')"
				(blur)="onBlur()"
			></orc-auth-general-formcontrol-password>
			<orc-auth-general-formcontrol-password
				class="auth-form-field"
				[form_group]="form_password"
				[control_name]="'password_new'"
				[label]="'New Password'"
				[invalid]="form_password.get('password_new')?.invalid || false"
				[dirty]="form_password.get('password_new')?.dirty || false"
				[error]="errors.password_new"
				[focused_control]="focused_control() === 'password_new'"
				(cancel)="onControlCancel('password_new')"
				(enter)="focused_control.set('password_new_confirm')"
				(blur)="onBlur()"
			></orc-auth-general-formcontrol-password>
			<orc-auth-general-formcontrol-password
				class="auth-form-field"
				[form_group]="form_password"
				[control_name]="'password_new_confirm'"
				[label]="'Confirm New Password'"
				[invalid]="form_password.get('password_new_confirm')?.invalid || false"
				[dirty]="form_password.get('password_new_confirm')?.dirty || false"
				[error]="errors.password_new_confirm"
				[focused_control]="focused_control() === 'password_new_confirm'"
				(cancel)="onControlCancel('password_new_confirm')"
				(enter)="onSave()"
				(blur)="onBlur()"
			></orc-auth-general-formcontrol-password>
		</form>
	</mat-dialog-content>

	<mat-dialog-actions>
		<button mat-stroked-button (click)="onSave()" [disabled]="form_password.invalid">Save</button>
		<button mat-button mat-dialog-close>Close</button>
	</mat-dialog-actions>
</div>
