@use 'molecule/molecule';

.change-password-dialog {
	@extend %p-l-3;

	&.mobile-view {
		@extend %p-0;
	}
}

.auth-form-field {
	min-width: 20rem;
	@extend %block;
}

.mobile-view {
	.auth-form-field {
		@extend %w-min-0;
	}
}
