<div class="mint-info-form-motd-container">
	<form
		class="mint-info-form-motd-form"
		[formGroup]="form_group"
		(ngSubmit)="onSubmit($event)"
		(keydown.enter)="onSubmit($event)"
		(keydown.escape)="onCancel($event)"
	>
		<orc-dynamic-form-field
			[hot]="form_hot"
			[invalid]="form_group.get(control_name)?.invalid || false"
			[subscript_sizing]="'dynamic'"
			(submit)="onSubmit($event)"
			(cancel)="onCancel($event)"
		>
			<div
				[ngClass]="{
					'hot-motd': motd_state === 'hot',
					'unset-motd': motd_state === 'unset',
					'set-motd': motd_state === 'set',
				}"
				class="message-of-the-day"
				(click)="onClick($event)"
				matRipple
			>
				<mat-icon class="icon-lg" [class.mat-symbol-outline]="motd_state !== 'unset'">{{
					motd_state === 'unset' ? 'add' : 'info'
				}}</mat-icon>
				<div class="flex-grow flex flex-column flex-gap-0-5 p-v-1">
					<div>Message of the Day</div>
					<textarea
						type="text"
						rows="1"
						class="motd-input"
						#element_motd
						matInput
						[formControlName]="control_name"
						[autogrow]="true"
						placeholder="message displayed to mint members"
					></textarea>
				</div>
				@if (motd) {
					<button type="button" mat-icon-button (click)="onDelete($event)" class="orc-icon-button">
						<mat-icon>delete_forever</mat-icon>
					</button>
				}
			</div>
		</orc-dynamic-form-field>
	</form>
</div>
