@use 'molecule/molecule';

:host {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.mint-subsection-info-container {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
	@extend %flex-gap-1;
}
