@use 'molecule/molecule';

.bitcoin-enabled-container {
	min-height: 16rem;
	@extend %overflow-hidden;
}

.panel {
	@extend %flex-grow;
	@extend %flex-shrink-1;
	@extend %w-min-0;
}

.panel-blockchain {
	@extend %flex;
	@extend %flex-justify-center;
}
