@use '@styles/molecule/molecule';
@use '@styles/nucleus/nucleus';

.event-nav-tool-container {
	@extend %relative;
	@extend %border;
	@extend %border-solid;
	@extend %orc-outline-border;
	@extend %orc-corner-extra-large;
	@extend %p-0-125;

	&.nav-tool-saving {
		.event-nav-tool-switch {
			@extend %orc-primary-container-bg;
			cursor: default;
		}
	}

	&.nav-tool-success {
		.event-nav-tool-switch {
			@extend %orc-tertiary-container-bg;
		}
	}

	&.nav-tool-highlight {
		@extend %orc-corner-large;
		.event-nav-tool-switch {
			@extend %orc-primary-container-bg;
			@extend %orc-corner-medium;
			@extend %w-5;
			@extend %h-5;
		}
	}

	&.nav-tool-warning {
		.event-nav-tool-switch {
			@extend %orc-on-warning-bg;
		}
	}

	&.nav-tool-error {
		.event-nav-tool-switch {
			@extend %orc-on-error-bg;
		}
	}

	&.action-nav-tool-highlight {
		.event-nav-tool-switch {
			@extend %orc-primary-container-bg;
		}
	}
}

.event-nav-tool-switch {
	@extend %cursor-pointer;
	@extend %flex;
	@extend %flex-column;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	@extend %flex-gap-1;
	@extend %w-2-5;
	@extend %h-2-5;
	@extend %orc-corner-extra-large;
	@extend %trans-bg-fast;
	@extend %border-solid;
	@extend %border-0-125;
	@extend %border-transparent;
	@extend %orc-on-surface-variant-color;
	transition: all 0.15s ease-in-out;
}

.event-nav-tool-notifier {
	@extend %absolute;
	@extend %bottom-0;
	@extend %left-0;
	@extend %z-index-4;

	.event-nav-tool-container {
		&.nav-tool-notify {
			@extend %orc-corner-extra-large;

			.event-nav-tool-switch {
				border-radius: 1.5rem;
				@extend %flex-row;
				@extend %flex-items-end;
				@extend %p-l-0-5;
				@extend %p-b-0-5;
				@extend %p-t-0-5;
				@extend %p-r-1;
				@extend %auto-width;
				@extend %auto-height;
			}
		}
	}
}

.event-message {
	@extend %p-t-0-25;
	@extend %p-b-0-25;
	@extend %flex;
	@extend %flex-justify-end;

	// display: -webkit-box;
	// width: 20rem;
	// -webkit-line-clamp: 4;
	// -webkit-box-orient: vertical;
	// overflow: hidden;

	// display: flex;
	// justify-content: end;

	&.short-message {
		width: 12rem;
	}

	&.long-message {
		width: 20rem;
	}
}

.event-message-content {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
