<div 
    class="event-nav-tool-container"
    [class.action-nav-tool-highlight]="highlight"
    [ngClass]="{
        'nav-tool-saving': tool_state === 'saving',
        'nav-tool-success': tool_state === 'success',
        'nav-tool-error': tool_state === 'error',
        'nav-tool-highlight': tool_state === 'highlight',
    }"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    (click)="onClick()">
    <div class="event-nav-tool-switch">
        @if( !saving ) {
            <div [@scaleAnimation] class="h-1-75 w-1-75">
                <mat-icon [class.mat-symbol-outline]="!highlight" class="icon-md" [@iconAnimation]="icon">{{ icon }}</mat-icon>
            </div>
        } @else {
            <mat-spinner [diameter]="25" [@scaleAnimation]></mat-spinner>
        }
    </div>
</div>