<div class="flex flex-column flex-items-center relative">
	@if (morph_state() === 'actionable') {
		<button type="button" mat-icon-button class="orc-icon-button" (click)="cancel.emit()">
			<mat-icon>cancel</mat-icon>
		</button>
	}
	<div
		class="event-nav-tool-container"
		[class.action-nav-tool-highlight]="highlight()"
		[class]="container_class()"
		(mouseenter)="onMouseEnter()"
		(mouseleave)="onMouseLeave()"
		(click)="onClick()"
	>
		<div class="event-nav-tool-switch">
			@if (morph_state() === 'actionable') {
				<div animate.enter="fade-in-150-delay-100" class="font-size-xs">{{ active_event()?.message }}</div>
			}
			@if (!saving()) {
				<div animate.enter="enter-scale-200" class="h-1-75 w-1-75">
					<mat-icon #icon_collapsed [class.mat-symbol-outline]="!highlight()" class="icon-md">{{ icon() }}</mat-icon>
				</div>
			} @else {
				<!-- is this working with spinners? it might not be -->
				<mat-spinner [diameter]="25" animate.enter="enter-scale-200"></mat-spinner>
			}
		</div>
	</div>
</div>
