@use 'molecule/molecule';

.index-bitcoin-header-container {
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-gap-0-5;

	&.tablet-header {
		@extend %flex-gap-2;

		.header-box {
			@extend %w-min-0;
		}
	}
}

.header-box {
	@extend %w-min-10;
}
