<div class="flex flex-column flex-gap-1">
	<div class="title-l">Config</div>
	<mat-card appearance="outlined" class="relative overflow-hidden w-min-24">
		<mat-card-content class="orc-surface-container-low-bg">
			<div class="flex flex-column flex-gap-1">
				<div class="flex flex-column flex-gap-0-5">
					<div class="flex flex-row flex-gap-0-5 flex-wrap">
						@for (nut of nuts(); track nut.number) {
							<div class="nut-card orc-high-card">
								<orc-graphic-status [status]="nut.status" size="0.5rem"></orc-graphic-status>
								<div class="font-size-xs font-weight-semi-bold">{{ nut.number }}</div>
							</div>
						}
					</div>
					<div class="font-size-xs orc-outline-color">Supported Nuts</div>
				</div>

				<div class="flex flex-row flex-gap-1 flex-wrap">
					<div class="orc-high-card p-0-5 p-h-1 flex-1">
						<div class="flex flex-items-center flex-gap-0-5">
							<orc-graphic-status [status]="minting_status()" size="0.5rem"></orc-graphic-status>
							<span class="font-size-s"> Minting {{ minting_status() === 'inactive' ? 'disabled' : 'enabled' }} </span>
						</div>
					</div>
					<div class="orc-high-card p-0-5 p-h-1 flex-1">
						<div class="flex flex-items-center flex-gap-0-5">
							<orc-graphic-status [status]="melting_status()" size="0.5rem"></orc-graphic-status>
							<span class="font-size-s"> Melting {{ melting_status() === 'inactive' ? 'disabled' : 'enabled' }} </span>
						</div>
					</div>
				</div>

				<div class="flex flex-row flex-gap-1">
					<div class="flex-1 flex flex-column flex-gap-0-5">
						@if (minting_limits().length > 0) {
							<div class="font-size-xs orc-outline-color">Minting Limits</div>
							@for (limit of minting_limits(); track limit.method + limit.unit) {
								<div class="orc-high-card p-0-5 p-h-1">
									<div class="flex flex-items-center flex-gap-0-5 p-b-0-25">
										<orc-graphic-asset [unit]="limit.unit" [height]="'1rem'"></orc-graphic-asset>
										<orc-mint-general-payment-method
											class="orc-outline-color font-size-xs"
											[payment_method]="limit.method"
										></orc-mint-general-payment-method>
									</div>

									<div class="limit-range">
										<div class="limit-range-end limit-range-min">
											<div
												class="font-size-xs orc-outline-color"
												[innerHTML]="
													limit.min_amount !== null ? (limit.min_amount | localAmount: limit.unit : 'mint') : '--'
												"
											></div>
										</div>
										<div class="limit-range-bar">
											<div class="limit-range-track"></div>
										</div>
										<div class="limit-range-end limit-range-max">
											<div
												class="font-size-m font-weight-semi-bold"
												[innerHTML]="
													limit.max_amount !== null ? (limit.max_amount | localAmount: limit.unit : 'mint') : '--'
												"
											></div>
										</div>
									</div>
								</div>
							}
						}
					</div>

					<div class="flex-1 flex flex-column flex-gap-0-5">
						@if (melting_limits().length > 0) {
							<div class="font-size-xs orc-outline-color">Melting Limits</div>
							@for (limit of melting_limits(); track limit.method + limit.unit) {
								<div class="orc-high-card p-0-5 p-h-1">
									<div class="flex flex-items-center flex-gap-0-5 p-b-0-25">
										<orc-graphic-asset [unit]="limit.unit" [height]="'1rem'"></orc-graphic-asset>
										<orc-mint-general-payment-method
											class="orc-outline-color font-size-xs"
											[payment_method]="limit.method"
										></orc-mint-general-payment-method>
									</div>
									<div class="limit-range">
										<div class="limit-range-end limit-range-min">
											<div
												class="font-size-xs orc-outline-color"
												[innerHTML]="
													limit.min_amount !== null ? (limit.min_amount | localAmount: limit.unit : 'mint') : '--'
												"
											></div>
										</div>
										<div class="limit-range-bar">
											<div class="limit-range-track"></div>
										</div>
										<div class="limit-range-end limit-range-max">
											<div
												class="font-size-m font-weight-semi-bold"
												[innerHTML]="
													limit.max_amount !== null ? (limit.max_amount | localAmount: limit.unit : 'mint') : '--'
												"
											></div>
										</div>
									</div>
								</div>
							}
						}
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
