@use 'molecule/molecule';
@use 'nucleus/nucleus';

:host {
	@extend %block;
	@extend %overflow-hidden;
	@extend %h-max-3;
	flex-shrink: 0;
	transition: max-height 200ms ease;

	&.collapsed {
		@extend %h-max-0;
	}
}

.nav-secondary-container {
	@extend %flex;
	@extend %flex-row;
	@extend %flex-items-center;
	@extend %orc-surface-container-low-bg;
	@extend %h-3;
	@extend %p-h-1;
	transition:
		transform 200ms ease,
		opacity 200ms ease;

	&.collapsed {
		transform: translateY(-100%);
		pointer-events: none;
		@extend %opacity-0;
	}
}

::ng-deep [nav-secondary-header] {
	@extend %w-min-18;
}

.nav-secondary-items {
	@extend %flex-grow;
	@extend %h-full;
}

::ng-deep [nav-secondary-items] {
	@extend %flex;
	@extend %flex-row;
	@extend %h-full;
}
