// Orchard Background Colors

.orc-surface-primary-bg {
    background-color: var(--mat-sys-surface-primary);
}
.orc-surface-primary-container-bg {
    background-color: var(--mat-sys-surface-primary-container);
}
.orc-surface-container-low-bg {
    background-color: var(--mat-sys-surface-container-low);
}

// Orchard Text Colors

.orc-on-primary-color {
    color: var(--mat-sys-on-primary);
}
.orc-on-primary-container-color {
    color: var(--mat-sys-on-primary-container);
}


