@use 'molecule/molecule';
@use 'nucleus/nucleus';

:host {
	@extend %block;
	@extend %overflow-hidden;
	flex-shrink: 0;
	max-height: 20rem;
	transition: max-height 200ms ease;

	&.collapsed {
		@extend %h-max-0;
	}
}

.nav-mobile-container {
	@extend %flex;
	@extend %flex-row;
	@extend %flex-items-center;
	@extend %flex-justify-between;
	@extend %flex-gap-1;
	@extend %orc-surface-container-low-bg;
	@extend %p-v-0-5;
	@extend %p-h-1;
	@extend %border-top;
	@extend %border-top-solid;
	@extend %orc-surface-border;
	transition:
		transform 200ms ease,
		opacity 200ms ease;

	&.collapsed {
		transform: translateY(100%);
		pointer-events: none;
		@extend %opacity-0;
	}
}
