@use '@styles/molecule/molecule';

.lightning-channel-container{
    @extend %relative;
}

.lightning-channel{
    @extend %flex;
    @extend %overflow-hidden;
}

.lightning-channel-recievable{
    @extend %flex-justify-end;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;

    .potential-border{
        border-left: 1px dashed var(--mat-sys-outline);
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;

    }
}

.lightning-channel-sendable{
    @extend %flex-justify-start;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    .potential-border{
        border-right: 1px dashed var(--mat-sys-outline);
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}

.lightning-channel-filled{
    @extend %h-full;
}

.lightning-channel-potential{
    @extend %relative;
    @extend %flex-grow;
    @extend %h-full;
    
}
.potential-border{
    @extend %absolute;    
    @extend %top-0;
    @extend %left-0;
    @extend %bottom-0;
    @extend %right-0;
    border-top: 1px dashed var(--mat-sys-outline);
    border-bottom: 1px dashed var(--mat-sys-outline);
}

.lightning-channel-center{
    @extend %relative;
    @extend %w-0-25;

    .center-border{
        @extend %absolute;
        top: -2rem;
        @extend %left-0;
        bottom: -2rem;
        @extend %right-0;
        background-color: var(--mat-sys-outline);
        @extend %orc-corner-full;
    }
}

.channel-btc{
    @extend %orc-asset-btc-bg;
}

.channel-tether{
    @extend %orc-asset-tether-bg;
}

.channel-unknown{
    @extend %orc-surface-tint-bg;
}