<div class="mint-swap-container p-v-1">
	<div class="flex flex-row flex-gap-2 flex-wrap">
        <div class="flex-1 flex flex-column flex-gap-2">
            <div class="flex flex-column flex-gap-0-5">
                <div class="orc-outline-color font-weight-extra-light text-nowrap">
                    Operation ID
                </div>
                <div class="text-nowrap">{{ swap().operation_id }}</div>
            </div>
            <div class="flex flex-column flex-gap-0-5">
                <div class="orc-outline-color font-weight-extra-light text-nowrap">
                    Keysets involved
                </div>
                <div class="flex flex-row flex-gap-2 flex-wrap">
                    @for (keyset of involved_keysets(); track keyset.id) {
                        <orc-mint-general-keyset
                            [active]="keyset.active"
                            [index]="keyset.derivation_path_index"
                            [input_fee_ppk]="keyset.input_fee_ppk"
                        ></orc-mint-general-keyset>
                    }
                </div>
            </div>
        </div>
        <div class="flex-1 flex flex-column flex-gap-2">
            @if (!device_desktop()) {
                <div class="flex flex-column flex-gap-0-5">
                    <div class="orc-outline-color font-weight-extra-light text-nowrap">Fee</div>
                    <div class="text-nowrap" [innerHTML]="swap().fee | localAmount: swap().unit : 'mint'"></div>
                </div>
            }
            @if (bitcoin_oracle_amount()) {
                <div class="flex flex-column flex-gap-0-5">
                    <div class="flex flex-items-center flex-gap-0-5">
                        <orc-graphic-oracle-icon [size]="1.5"></orc-graphic-oracle-icon>
                        <div class="orc-outline-color font-weight-extra-light text-nowrap">Oracle Amount</div>
                    </div>
                    <div class="text-nowrap" [innerHTML]="bitcoin_oracle_amount() | localAmount: 'usd'"></div>
                </div>
            }
        </div>
	</div>
</div>
