<div class="font-size-xs orc-outline-color p-b-0-5">USD Price Oracle</div>
<mat-card appearance="outlined" class="relative overflow-hidden">
	<mat-card-content class="orc-surface-container-low-bg">
		<orc-settings-subsection-app-bitcoin-oracle
			[bitcoin_enabled]="bitcoin_enabled()"
			[form_group]="form_group()"
			[control_name]="'oracle_enabled'"
			[oracle_price]="oracle_price()"
			(update)="update_oracle.emit()"
		></orc-settings-subsection-app-bitcoin-oracle>
	</mat-card-content>
</mat-card>
