@use 'molecule/molecule';

.ai-sticker {
	@extend %absolute;
	@extend %left-1;
	top: 50%;
	transform: translateY(-50%);
	@extend %font-size-3;
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	opacity: 0.1;

	mat-icon {
		scale: 1.5;
	}
}

.ai-label {
	@extend %h-full;
	@extend %flex;
	@extend %flex-column;
	@extend %flex-gap-0-25;
	@extend %flex-items-center;
	@extend %flex-justify-center;
}

.ai-vendor-label {
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-gap-0-5;
	@extend %p-b-0-5;
	@extend %p-t-0-5;
}

.ai-vendor-text {
	@extend %flex;
	@extend %flex-column;
	@extend %text-left;
	@extend %flex-gap-0-25;
}

.ai-vendor-label-name {
	@extend %font-size-s;
	@extend %font-weight-semi-bold;
}

.ai-vendor-label-desc {
	@extend %font-size-xs;
	@extend %orc-outline-color;
}

.groundskeeper-card {
	@extend %flex-grow;
	@extend %p-2;

	&.groundskeeper-card-gap {
		@extend %flex-gap-2;
	}

	&.tablet-groundskeeper-card {
		&.groundskeeper-card-gap {
			@extend %flex-gap-1;
		}
	}
}

.health-container {
	width: 11rem;
	@extend %flex;
}

.tab-form-field-wrapper {
	width: 70%;
}