<div class="mint-info-form-urls-container">
	<div class="title-form-section p-b-1 flex flex-items-center flex-gap-0-5 cursor-pointer">
		<span>Connection URLs</span>
		<button type="button" tabindex="-1" mat-icon-button class="orc-icon-button" (click)="help_status.set(!help_status())">
			<mat-icon class="orc-outline-color">info</mat-icon>
		</button>
	</div>

	<div class="orc-animation-expand-collapse" [class.animation-expanded]="help_status()">
		<div class="orc-animation-expand-collapse-inner">
			<div class="flex p-t-0-5 p-b-2">
				<orc-form-help-text class="orc-surface-container-high-bg">
					<div class="p-b-1">Updates the connection URLs for this mint.</div>
					<div>Connection URLs inform how users can connect to your mint.</div>
					<div>You can add multiple URLs to provide redundancy and improve accessibility.</div>
				</orc-form-help-text>
			</div>
		</div>
	</div>

	<div class="flex flex-column flex-gap-1">
		@for (url_control of form_array().controls; track $index) {
			<orc-mint-subsection-info-form-url
				[form_group]="form_group()"
				[form_array]="form_array()"
				[array_name]="'urls'"
				[control_index]="$index"
				[focused]="added_index() === $index"
				(update)="onControlUpdate($event)"
				(cancel)="onControlCancel($event)"
				(remove)="onControlRemove($event)"
			></orc-mint-subsection-info-form-url>
		}

		<div class="flex">
			<button matButton="tonal" (click)="onAddControl()">
				<mat-icon class="orc-outline-color">add</mat-icon>
				<span class="font-size-s">New URL</span>
			</button>
		</div>
	</div>
</div>
