<div class="ai-agent-definition-container">
    <div class="flex flex-column flex-gap-2">
        <div class="agent-property">
            <div class="agent-property-label">
                Description
            </div>
            <div class="agent-property-value">
                {{ agent?.description }}
            </div>
        </div>
        <div class="agent-property">
            <div class="agent-property-label">
                Seed prompt
            </div>
            <div class="agent-property-value">
                {{ agent?.system_message?.content }}
            </div>
        </div>
        <div class="agent-property">
            <div class="agent-property-label">
                Tools
            </div>
            <div class="agent-property-value flex flex-column flex-gap-0-5">
                @for (tool of agent?.tools; track tool.function.name) {
                    <orc-ai-agent-definition-tool [tool]="tool"></orc-ai-agent-definition-tool>
                }
            </div>
        </div>
    </div>
</div>