<div class="flex flex-column" [class.tablet-view]="device_type() !== 'desktop'">
	<div class="sticky-section z-index-1">
		<orc-index-subsection-dashboard-bitcoin-header
			[enabled]="enabled_bitcoin"
			[loading]="preparing_bitcoin"
			[network_info]="bitcoin_network_info"
			[blockchain_info]="bitcoin_blockchain_info"
			[enabled_oracle]="enabled_bitcoin_oracle"
			[error]="errors_bitcoin.length ? true : false"
			[device_desktop]="device_type() === 'desktop'"
		></orc-index-subsection-dashboard-bitcoin-header>
		<div class="category-rule"></div>
	</div>

	<div class="index-block relative">
		@if (enabled_bitcoin) {
			<orc-index-subsection-dashboard-bitcoin-enabled
				[loading]="preparing_bitcoin"
                [enabled_oracle]="enabled_bitcoin_oracle"
                [bitcoin_oracle_price]="bitcoin_oracle_price()"
				[enabled_lightning]="enabled_lightning"
				[enabled_taproot_assets]="enabled_taproot_assets"
				[blockcount]="bitcoin_blockcount ? bitcoin_blockcount.height : 0"
				[blockchain_info]="bitcoin_blockchain_info!"
				[block]="bitcoin_block!"
				[network_info]="bitcoin_network_info!"
				[mempool]="bitcoin_mempool!"
				[block_template]="bitcoin_block_template!"
				[txfee_estimate]="bitcoin_txfee_estimate!"
				[lightning_accounts]="lightning_accounts!"
				[taproot_assets]="taproot_assets!"
				[errors_lightning]="errors_lightning"
				[errors_taproot_assets]="errors_taproot_assets"
				[form_group]="bitcoin_txfee_form"
				[control_name]="'target'"
				(target_change)="onTargetChange()"
			></orc-index-subsection-dashboard-bitcoin-enabled>
		} @else {
			<orc-index-subsection-dashboard-bitcoin-disabled
				(navigate)="onNavigate('bitcoin')"
			></orc-index-subsection-dashboard-bitcoin-disabled>
		}
		@if (errors_bitcoin.length > 0) {
			<div animate.enter="orc-animation-fadein" class="index-section-error">
				@for (error of errors_bitcoin; track error.code) {
					<orc-error-resolve [error]="error"></orc-error-resolve>
				}
			</div>
		}
	</div>

	<div class="sticky-section z-index-1">
		<orc-index-subsection-dashboard-lightning-header
			[enabled]="enabled_lightning"
			[loading]="preparing_lightning"
			[lightning_info]="lightning_info!"
			[error]="errors_lightning.length ? true : false"
			[device_desktop]="device_type() === 'desktop'"
		></orc-index-subsection-dashboard-lightning-header>
		<div class="category-rule"></div>
	</div>

	<div class="relative index-block">
		@if (enabled_lightning) {
			<orc-index-subsection-dashboard-lightning-enabled
				[loading]="preparing_lightning"
                [bitcoin_oracle_enabled]="enabled_bitcoin_oracle"
				[bitcoin_oracle_price]="bitcoin_oracle_price()"
				[lightning_info]="lightning_info!"
				[lightning_balance]="lightning_balance!"
                [lightning_channels]="lightning_channels!"
                [lightning_closed_channels]="lightning_closed_channels!"
				[taproot_assets]="taproot_assets!"
				[enabled_taproot_assets]="enabled_taproot_assets"
                [device_type]="device_type()"
			></orc-index-subsection-dashboard-lightning-enabled>
		} @else {
			<orc-index-subsection-dashboard-lightning-disabled
				(navigate)="onNavigate('lightning')"
			></orc-index-subsection-dashboard-lightning-disabled>
		}
		@if (errors_lightning.length > 0) {
			<div animate.enter="orc-animation-fadein" class="index-section-error">
				@for (error of errors_lightning; track error.code) {
					<orc-error-resolve [error]="error"></orc-error-resolve>
				}
			</div>
		}
		@if (errors_taproot_assets.length > 0) {
			<div animate.enter="orc-animation-fadein" class="index-section-error">
				@for (error of errors_taproot_assets; track error.code) {
					<orc-error-resolve [error]="error"></orc-error-resolve>
				}
			</div>
		}
	</div>

	<div class="sticky-section z-index-1">
		<orc-index-subsection-dashboard-mint-header
			[enabled]="enabled_mint"
			[loading]="preparing_mint"
			[info]="mint_info!"
			[error]="errors_mint.length ? true : false"
			[device_desktop]="device_type() === 'desktop'"
		></orc-index-subsection-dashboard-mint-header>
		<div class="category-rule"></div>
	</div>

	<div class="relative index-block">
		@if (enabled_mint) {
			<orc-index-subsection-dashboard-mint-enabled
				[loading]="loading_mint"
				[loading_icon]="loading_mint_icon"
				[info]="mint_info!"
				[balances]="mint_balances!"
				[keysets]="mint_keysets!"
				[icon_data]="mint_icon_data!"
				[lightning_balance]="lightning_balance!"
				[lightning_enabled]="enabled_lightning"
				[lightning_errors]="errors_lightning"
				[lightning_loading]="preparing_lightning"
				[bitcoin_oracle_enabled]="enabled_bitcoin_oracle"
				[bitcoin_oracle_price]="bitcoin_oracle_price()"
				[device_type]="device_type()"
				(navigate)="onNavigate($event)"
			></orc-index-subsection-dashboard-mint-enabled>
		} @else {
			<orc-index-subsection-dashboard-mint-disabled (navigate)="onNavigate('mint')"></orc-index-subsection-dashboard-mint-disabled>
		}
		@if (errors_mint.length > 0) {
			<div animate.enter="orc-animation-fadein" class="index-section-error">
				@for (error of errors_mint; track error.code) {
					<orc-error-resolve [error]="error"></orc-error-resolve>
				}
			</div>
		}
	</div>

	<div class="sticky-section z-index-1">
		<orc-index-subsection-dashboard-ecash-header></orc-index-subsection-dashboard-ecash-header>
		<div class="category-rule"></div>
	</div>

	<div class="relative index-block">
		@if (enabled_ecash) {
			<orc-index-subsection-dashboard-ecash-enabled></orc-index-subsection-dashboard-ecash-enabled>
		} @else {
			<orc-index-subsection-dashboard-ecash-disabled></orc-index-subsection-dashboard-ecash-disabled>
		}
	</div>
</div>
