@use 'molecule/molecule';
@use 'nucleus/nucleus';

:host {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.sticky-section {
	@extend %orc-surface-bg;
	@extend %sticky;
	@extend %p-l-2;
	@extend %p-r-2;
	@extend %p-t-2;
	@extend %top-0;
}

.index-block {
	@extend %p-2;
}

.index-section-error {
	@extend %orc-surface-bg;
	@extend %absolute;
	@extend %top-0;
	@extend %left-0;
	@extend %w-full;
	@extend %h-full;
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
}

.tablet-view {
	.sticky-section {
		@extend %p-l-1;
		@extend %p-t-1;
		@extend %p-r-1;
	}

	.index-block {
		@extend %p-h-1;
		@extend %p-v-2;
	}
}
