<div class="tertiary-nav-container">
	<ng-content></ng-content>
	<div class="tertiary-nav-items" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="onDrop($event)">
		@for (key of keys; track key) {
			<orc-tertiary-nav-item [item]="items[key]" (click)="onClick(key)" cdkDrag></orc-tertiary-nav-item>
		}
	</div>
	<div class="relative">
		<div
			class="absolute top-0-5 flex flex-gap-0-25 flex-row flex-align-center orc-outline-color"
			[@orderUpdateAnimation]="order_update_animation_state"
		>
			<div class="font-size-s">Order saved</div>
			<mat-icon class="icon-sm">save</mat-icon>
		</div>
	</div>
</div>
