<button mat-button type="button" [matMenuTriggerFor]="model_menu">
    <div class="orc-outline-color font-size-xs">{{ model }}</div>
</button>
<mat-menu #model_menu="matMenu" yPosition="above">
    @for (model of model_options; track model.model) {
        <button mat-menu-item>{{ model.model }}</button>
    }
</mat-menu>

<!-- 
// Customize the entire app. Change :root to your selector if you want to scope the styles. @todo implement this
:root {
  @include mat.menu-overrides((
    item-label-text-color: orange,
    item-icon-color: red,
  ));
} -->