<!-- @if (device_type() === 'mobile') {
	<button mat-icon-button type="button" (click)="togglePanel()" class="orc-icon-button">
		<mat-icon class="orc-outline-color">spa</mat-icon>
	</button>
} @else {
	<button mat-button type="button" (click)="togglePanel()">
		<div class="font-size-xs" [class.orc-outline-color]="model()" [class.orc-status-warning-color]="!model()">{{ model() ?? 'missing model' }}</div>
	</button>
} -->
<div (click)="togglePanel()">
	<ng-content></ng-content>
</div>

<ng-template #panelTemplate>
	<div class="model-panel orc-menu-button-full" [class.mobile]="device_type() === 'mobile'">
		<mat-form-field class="search-field">
			<mat-icon matPrefix class="orc-outline-color">search</mat-icon>
			<input matInput type="text" placeholder="Search models..." [formControl]="search_control" />
		</mat-form-field>
		<div class="model-list">
			@for (option of displayed_models(); track option.model) {
				<button mat-menu-item [class.active-model-option]="option.model === model()" (click)="selectModel(option.model)">
					<div class="flex flex-items-center flex-gap-1 font-weight-light">
						<orc-ai-vendor-icon [vendor]="option.openrouter?.family || 'ollama'" [size]="'2rem'"></orc-ai-vendor-icon>
						<div class="flex-grow">{{ option.name }}</div>
						<mat-icon [class.ai-favorite]="favorite_ids().has(option.model) && option.model !== model()">{{
							option.model === model() ? 'check' : favorite_ids().has(option.model) ? 'star' : ''
						}}</mat-icon>
					</div>
				</button>
			}
		</div>
	</div>
</ng-template>
