<div class="orc-code-block w-min-24 p-2">
	<div class="orc-code-block-header">
		<div class="absolute top-0-5 right-0-5">
			<div class="flex flex-items-center flex-gap-0-5">
				<div class="orc-outline-color orc-animation-copied" [class.animation-visible]="copy_animation_state === 'visible'">
					<div class="font-size-s">Copied</div>
				</div>
				<button mat-icon-button type="button" class="orc-icon-button" (click)="onCopy()">
					<mat-icon class="orc-outline-color">content_copy</mat-icon>
				</button>
			</div>
		</div>
	</div>

	<div class="orc-code-block-content">
		@if (env_config) {
			@for (line of env_config.lines; track line.type) {
				<div>
					@if (line.type === 'comment') {
						<span class="orc-cb-comment">{{ line.value }}</span>
					} @else {
						<span class="orc-cb-key">{{ line.key }}</span>
						<span class="orc-cb-equals">=</span>
						<span class="orc-cb-string">{{ line.value }}</span>
					}
				</div>
			}
		}
	</div>
</div>
