@use 'molecule/molecule';

:host {
	@extend %absolute;
	@extend %z-index-top;
	bottom: 5rem;

	&.ai-enabled {
		bottom: 2rem;
	}

	&.mobile {
		bottom: 2rem !important;
		left: 50%;
		transform: translateX(-50%);

		.animation-enter-fade {
			animation-name: stack-enter-mobile;
		}
	}
}

.event-stack-container {
	@extend %relative;
	@extend %left-1;
	@extend %flex;
	@extend %flex-column;
	@extend %flex-gap-1;
}

.animation-enter-fade {
	animation: stack-enter 200ms ease-out both;
	will-change: transform, opacity;
}

@keyframes stack-enter {
	from {
		opacity: 0;
		transform: translateX(-1rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes stack-enter-mobile {
	from {
		opacity: 0;
		transform: translateY(1rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
