<div class="mint-info-form-urls-container">
	<div class="title-form-section p-b-1">Contact Information</div>

	<div class="flex flex-column flex-gap-1">
		@for (contact_control of form_array.controls; track $index) {
			<orc-mint-subsection-info-form-contact
				[form_group]="form_group"
				[form_array]="form_array"
				[array_name]="'contact'"
				[subgroup_index]="$index"
				[focused]="added_index === $index"
				[init_method]="added_method"
				(update)="onControlUpdate($event)"
				(cancel)="onControlCancel($event)"
				(remove)="onControlRemove($event)"
			></orc-mint-subsection-info-form-contact>
		}

		<orc-form-array-add-item (addControl)="onAddControl()">
			<mat-icon class="orc-outline-color">add</mat-icon>
			<span>New Contact</span>
		</orc-form-array-add-item>
	</div>
</div>
