@use 'molecule/molecule';
@use 'nucleus/nucleus';

:host {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.index-subsection-crew-container {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
	@extend %p-h-1;
}

.crew-control {
	@extend %orc-surface-bg;
	@extend %sticky;
	@extend %top-0;
	@extend %z-index-1;
}

.index-subsection-crew-form-target {
	@extend %relative;
	top: -87px;
}

.crew-table {
	@extend %p-v-1;
	@extend %flex-grow;
	@extend %flex;
	@extend %flex-column;

	mat-card {
		@extend %flex-grow;
		@extend %flex;
		@extend %flex-column;
	}
}
