<div class="index-subsection-crew-container">
	<div class="crew-control p-t-1">
		<div class="flex flex-justify-between flex-gap-2 flex-items-start">
			<orc-index-subsection-crew-control
				class="flex-grow"
				[form_group]="panel"
				[state_options]="state_options"
				[role_options]="role_options"
				[filter_count]="filter_count()"
			></orc-index-subsection-crew-control>
			<div>
				<div class="flex flex-items-center flex-gap-0-5 relative">
					<button
						type="button"
						matFab
						extended
						class="orc-icon-button"
						(click)="onInvite()"
						(keydown.enter)="$event.preventDefault(); $event.stopPropagation()"
					>
						<mat-icon>person_add</mat-icon>
						Invite User
					</button>
				</div>
			</div>
		</div>
		<div class="category-rule"></div>
	</div>
	<div class="orc-animation-collapsible" [class.animation-open]="form_invite_create_open()">
		<div class="orc-animation-collapsible-inner">
			<div class="index-subsection-crew-form-target" #invite_form></div>
			<orc-index-subsection-crew-form-invite
				[form_group]="form_invite_create"
				[open]="form_invite_create_open()"
				[mode]="'create'"
				[role_options]="role_options_invite"
				(close)="onCloseInviteForm()"
				(cancel)="onCancel($event)"
			></orc-index-subsection-crew-form-invite>
		</div>
	</div>

	<div class="crew-table">
		<mat-card appearance="outlined">
			<orc-index-subsection-crew-table
				[data]="data()"
				[data_length]="data().data.length"
				[id_user]="id_user()"
				[loading]="loading()"
				[create_open]="form_invite_create_open()"
				[role_options]="role_options_invite"
				[form_invite]="form_invite_edit"
				[form_user]="form_user_edit"
				[table_form_id]="table_form_id()"
				(editInvite)="onEditInvite($event)"
				(editUser)="onEditUser($event)"
				(deleteInvite)="onDeleteInvite($event)"
				(deleteUser)="onDeleteUser($event)"
				(closeForm)="onCloseTableForm()"
			></orc-index-subsection-crew-table>
		</mat-card>
	</div>
</div>
