@use 'molecule/molecule';

.mint-analytic-control-panel-container {
	@extend %p-b-1;
}

.big-form-field {
	@extend %w-min-18;
}

.small-form-field {
	@extend %w-7;
}

.panel-form {
	@extend %flex;
	@extend %flex-justify-between;
}

.filter-options {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-gap-0-5;
}
