@use 'molecule/molecule';

.mint-analytic-control-panel-container {
	@extend %p-b-1;
}

.mint-analytic-daterange {
	@extend %w-min-18;
}

.panel-form {
	@extend %flex;
	@extend %flex-justify-between;
}
