<div class="flex flex-items-start">
	<div class="flex-grow flex flex-items-start flex-justify-between">
		<form [formGroup]="form_group()" (ngSubmit)="onSubmit($event)" (keydown.enter)="onSubmit($event)">
			<orc-form-field-dynamic
				[hot]="hot()"
				[invalid]="invalid()"
				[info]="true"
				(cancel)="onCancel($event)"
				(submit)="submit.emit()"
				(inform)="help_status.set(!help_status())"
			>
				<mat-form-field
					hideRequiredMarker="true"
					class="primary-form-field"
					[ngClass]="hot() ? 'orc-hot-form-field' : 'orc-cold-form-field'"
				>
					<mat-label>Username</mat-label>
					<input
						type="text"
						aria-label="Username"
						matInput
						[formControlName]="control_name()"
						(focus)="focused.set(true)"
						(blur)="focused.set(false)"
						#element_control
					/>
					@if (invalid()) {
						<mat-error class="font-size-xs">Invalid username</mat-error>
					}
				</mat-form-field>
			</orc-form-field-dynamic>
			<div class="orc-animation-expand-collapse" [class.animation-expanded]="help_status()">
				<div class="orc-animation-expand-collapse-inner">
					<div class="flex p-t-0-5 p-b-1 w-max-18">
						<orc-form-help-text class="orc-surface-container-high-bg">
							<div>Change your username to identify this user account</div>
						</orc-form-help-text>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
