<div class="flex flex-column flex-gap-1">
	<div class="title-l">Info</div>
	<mat-card appearance="outlined" class="relative overflow-hidden w-min-24">
		<mat-card-content class="orc-surface-container-low-bg">
			<div class="flex flex-column flex-gap-1">
				<div class="flex flex-row flex-items-center flex-justify-between flex-gap-1">
					<div class="flex flex-row flex-items-center flex-gap-1">
						<div class="h-2-5 w-2-5 orc-corner-full" [style.background-color]="lightning_info()?.color"></div>
						<div class="text-nowrap font-size-l">{{ lightning_info()?.alias }}</div>
					</div>

					<div class="flex flex-items-center flex-gap-0-5">
						<orc-graphic-status [status]="status()" size="1rem"></orc-graphic-status>
						<div class="orc-outline-color">{{ state() }}</div>
					</div>
				</div>
				<div>
					<mat-chip-set class="orc-medium-chip-set orc-pointer-chip-set orc-column-chip-set">
						@for (connection of uris(); track connection.uri) {
							<div class="flex flex-items-center">
								<div class="p-l-0-5">
									<orc-network-connection-status
										[type]="connection.type"
										[status]="connections_status_map().get(connection.uri.split('@')[1]) ?? null"
									></orc-network-connection-status>
								</div>
								<mat-chip matRipple (click)="onUriClick(connection)">
									<div class="flex flex-items-center flex-gap-0-5">
										<span>{{ connection.label }}</span>
									</div>
								</mat-chip>
							</div>
						}
					</mat-chip-set>

					<div class="font-size-xs orc-outline-color">Connections</div>
				</div>
				<div>
					<div class="font-size-l">{{ lightning_info()?.num_peers }}</div>
					<div class="font-size-xs orc-outline-color">Peers</div>
				</div>
				<div class="flex flex-row flex-items-center flex-justify-between flex-gap-4">
					<div>
						<div class="font-size-l">{{ open_channels() }}</div>
						<div class="font-size-xs orc-outline-color">Channels</div>
					</div>
					<ng-content></ng-content>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
