<div class="bitcoin-disabled-container p-1">
    <div class="orc-code-block w-min-24 p-2">
        <div class="orc-code-block-header">
            <div class="absolute top-0-5 right-0-5">
                <div class="flex flex-items-center flex-gap-0-5">
                    <div class="orc-outline-color" [@copyAnimation]="copy_animation_state">
                        <div class="font-size-s">Copied</div>
                    </div>
                    <button mat-icon-button type="button" class="orc-icon-button" (click)="onCopy()">
                        <mat-icon class="orc-outline-color">content_copy</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="orc-code-block-content">
            <div><span class="orc-cb-comment"># Sample bitcoin .env</span></div>
            <div>
                <span class="orc-cb-key">BITCOIN_TYPE</span>
                <span class="orc-cb-equals">=</span>
                <span class="orc-cb-string">'core'</span>
            </div>
            <div>
                <span class="orc-cb-key">BITCOIN_RPC_HOST</span>
                <span class="orc-cb-equals">=</span>
                <span class="orc-cb-string">'localhost'</span>
            </div>
            <div>
                <span class="orc-cb-key">BITCOIN_RPC_PORT</span>
                <span class="orc-cb-equals">=</span>
                <span class="orc-cb-string">'8332'</span>
            </div>
            <div>
                <span class="orc-cb-key">BITCOIN_RPC_USER</span>
                <span class="orc-cb-equals">=</span>
                <span class="orc-cb-string">'rpcuser'</span>
            </div>
            <div>
                <span class="orc-cb-key">BITCOIN_RPC_PASSWORD</span>
                <span class="orc-cb-equals">=</span>
                <span class="orc-cb-string">'rpcpass'</span>
            </div>
        </div>
    </div>
</div>