<section class="section-container">
	<orc-nav-secondary>
		<div secondary-nav-header class="secondary-nav-header">
			<div class="flex flex-items-center flex-gap-1">
				<div class="h-2 w-2 orc-corner-full" [style.background-color]="lightning_info?.color"></div>
				<div class="text-nowrap">{{ lightning_info?.alias }}</div>
			</div>
		</div>
		<div secondary-nav-items>
			<orc-nav-secondary-item name="Dashboard" navroute="mint" [active]="active_sub_section === 'dashboard'">
			</orc-nav-secondary-item>
		</div>
		<div secondary-nav-toolbar class="secondary-nav-toolbar">
			<div class="section-implementation">{{ lightning_info?.version }}</div>
			<orc-nav-secondary-more></orc-nav-secondary-more>
		</div>
	</orc-nav-secondary>

	<div class="subsection-container">
		<router-outlet></router-outlet>
	</div>
</section>
