<div class="ai-chat-message-system-container">
	<div class="orc-ai-chat-message">
		<orc-ai-chat-avatar [role]="message.role" [icon]="agent ? agent.icon : null" [section]="agent ? agent.section : null">
		</orc-ai-chat-avatar>
		<div class="flex flex-column flex-gap-1">
			<div>
				@if (marked_thinking_content) {
					@if (thinking_complete) {
						<div animate.enter="orc-fadein-fast" class="ai-thinking orc-text-button" (click)="toggleThinking()">
							<div>{{ think_duration | ai_thought }}</div>
							<mat-icon [@rotateIcon]="think_expanded ? 'expanded' : 'collapsed'">keyboard_arrow_down</mat-icon>
						</div>
					} @else {
						<div animate.enter="orc-fadein-fast" class="ai-thinking orc-text-button" (click)="toggleThinking()">
							<div class="shimmer-text">Thinking</div>
							<mat-icon [@rotateIcon]="think_expanded ? 'expanded' : 'collapsed'">keyboard_arrow_down</mat-icon>
						</div>
					}
					<div [@expandCollapse]="think_expanded ? 'expanded' : 'collapsed'">
						<div class="orc-ai-chat-message-content p-t-0-5">
							<div class="orc-ai-marked" [innerHTML]="marked_thinking_content"></div>
						</div>
					</div>
				}
			</div>
			@if (marked_content) {
				<div class="orc-ai-chat-message-content">
					<div class="orc-ai-marked" [innerHTML]="marked_content"></div>
				</div>
			}
		</div>
	</div>
	@if (message.tool_calls?.length) {
		<div animate.enter="orc-fadein-fast" class="orc-ai-chat-message">
			<orc-ai-chat-avatar [role]="tool_roll" [icon]="'construction'" [section]="agent ? agent.section : null"> </orc-ai-chat-avatar>
			<div class="flex flex-column flex-gap-1">
				<div class="orc-ai-chat-message-tool-calls">
					@for (tool_call of message.tool_calls; track tool_call.function.name) {
						<orc-ai-chat-message-toolcall [tool_call]="tool_call"></orc-ai-chat-message-toolcall>
					}
				</div>
			</div>
		</div>
	}
</div>
