@use 'molecule/molecule';

.ai-chat-message-system-container {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-gap-1;
}

.ai-thinking {
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-gap-0-5;
	@extend %font-size-xs;
}
