<div class="mint-info-form-contact-container">
    <form
        [formGroup]="form_group"
        (ngSubmit)="onSubmit($event)"
        (keydown.enter)="onSubmit($event)"
        (keydown.escape)="onCancel($event)">    
        <ng-container [formArrayName]="array_name">      
            <div [formGroupName]="subgroup_index" class="flex flex-items-center flex-gap-1">
                <div class="flex-grow flex flex-items-center flex-gap-1">
                    @if( !form_hot ) {
                        <mat-icon 
                            class="orc-outline-color" 
                            [class.mat-symbol-outline]="contact_icon === 'mail'"
                            [svgIcon]="contact_icon !== 'mail' ? contact_icon : ''">{{ contact_icon }}
                        </mat-icon>
                    }
                    <orc-dynamic-form-field
                        class="flex-grow"
                        [hot]="form_hot"
                        [invalid]="form_array.at(subgroup_index).invalid || false"
                        [subscript_sizing]="'dynamic'"
                        (submit)="onSubmit($event)"
                        (cancel)="onCancel($event)">
                        <div class="flex flex-items-center flex-grow">           
                            <div class="method-select-container" [@methodSelectState]="form_hot ? 'open' : 'closed'">
                                <mat-form-field 
                                    appearance="fill"
                                    [ngClass]="form_hot ? 'orc-hot-form-field' : 'orc-cold-form-field'"
                                    subscriptSizing="dynamic"
                                    class="orc-dynamic-form-field orc-array-form-field overflow-hidden w-full">
                                    <mat-select formControlName="method" #element_method>
                                        <mat-option [value]="'email'">Email</mat-option>
                                        <mat-option [value]="'twitter'">X</mat-option>
                                        <mat-option [value]="'nostr'">Nostr</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <mat-form-field 
                                appearance="fill"
                                [ngClass]="form_hot ? 'orc-hot-form-field' : 'orc-cold-form-field'"
                                subscriptSizing="dynamic"
                                class="orc-dynamic-form-field orc-array-form-field w-full">
                                <input 
                                    type="text" 
                                    matInput 
                                    formControlName="info" 
                                    #element_info>
                                <button
                                    type="button" 
                                    mat-icon-button 
                                    matSuffix
                                    class="orc-icon-button"
                                    (click)="onRemove($event)">
                                    <mat-icon>delete_forever</mat-icon>
                                </button>
                                @if (form_array.at(subgroup_index).invalid && (form_array.at(subgroup_index).dirty || form_array.at(subgroup_index).touched)) {
                                    <mat-error class="font-size-xs">
                                        @if (form_array.at(subgroup_index).hasError('required')) {
                                            Contact is required
                                        } @else {
                                            Invalid contact
                                        }
                                    </mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </orc-dynamic-form-field>
                </div>
            </div>
        </ng-container>
    </form>
</div>