@use 'molecule/molecule';

:host {
	--icon-size: calc(var(--size) * 0.75);
}

.oracle-crystal-ball {
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	@extend %orc-corner-full;
    // orc-on-primary-container-color
	border: 1px solid var(--mat-sys-on-primary-container);
	width: var(--size);
	height: var(--size);

	mat-icon,
	.icon {
		font-size: var(--icon-size);
		width: var(--icon-size);
		height: var(--icon-size);
		color: var(--mat-sys-on-primary-container);
	}
}
