<h2 mat-dialog-title>{{ data.connection.displayed_url }}</h2>

<mat-dialog-content>  
    <div #qr_canvas></div>

    <div class="p-1 flex">
        <mat-slider class="w-full" min="0" max="3" step="1" showTickMarks>
            <input matSliderThumb>
        </mat-slider>
        <div class="p-1">
            <mat-checkbox></mat-checkbox>
        </div>
    </div>
   

    
      
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="download()">Download</button>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>