<h2 mat-dialog-title>{{ data.connection.displayed_url }}</h2>

<mat-dialog-content>  
    <div #qr_canvas></div>
    <div class="p-h-1 p-t-1 flex flex-gap-1 flex-items-center" [formGroup]="qr_options">
        <mat-slider class="w-full" min="0" max="3" step="1" showTickMarks>
            <input matSliderThumb formControlName="style" (input)="onStyleChange($event)">
        </mat-slider>
        <div>
            <mat-slide-toggle formControlName="image" name="qr_logo" (change)="onImageChange($event)"></mat-slide-toggle>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close (click)="download()">Download</button>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>