<mat-card appearance="outlined" class="mint-enabled-card" (click)="navigate.emit()">
    <mat-card-content>

        <div class="absolute left-1 top-1">
            <div class="flex flex-column flex-gap-0-25">
                <div class="flex flex-items-center flex-gap-0-5 h-1">
                    @if( loading ) {
                        <div class="h-1 w-1 orc-corner-full shimmer-high"></div>
                        <div class="h-1 w-4 orc-corner-full shimmer-high"></div>
                    } @else {
                        <mat-icon [@fadeIn] class="icon-sm trans-color-medium orc-status-active-color">circle</mat-icon>
                        <div [@fadeIn] class="orc-outline-color">online</div>
                    }
                </div>
            </div>
        </div>

        <div class="flex flex-column flex-gap-2">
            <div class="flex flex-justify-center">
                <div class="mint-card-title">
                    <mat-icon class="icon-lg mat-symbol-outline">account_balance</mat-icon>
                    <div class="font-size-xxl font-weight-bold">Mint</div>
                </div>
            </div>

            <div class="flex flex-gap-2">
                <div class="flex-1 flex flex-column flex-gap-1">
                    <div class="title-l">Info</div>
                    <div class="flex flex-gap-2">
                        <div class="flex flex-column flex-gap-1">
                            <div class="font-weight-light p-t-1 orc-outline-color">Mint</div>
                            <div class="font-weight-light orc-outline-color">Minting</div>
                            <div class="font-weight-light orc-outline-color">Melting</div>
                        </div>
                        <div class="flex flex-column flex-gap-1">
                            @if( loading ) {
                                <div class="h-2 w-8 orc-corner-full shimmer-high"></div>
                                <div class="h-1 w-5 orc-corner-full shimmer-high"></div>
                                <div class="h-1 w-5 orc-corner-full shimmer-high"></div>
                            } @else {
                                <div [@fadeIn] class="flex flex-items-center flex-gap-1">
                                    <orc-mint-icon [icon_data]="icon_data"></orc-mint-icon>
                                    <div class="font-weight-bold text-nowrap">{{ info.name }}</div>
                                </div>
                                <div [@fadeIn] class="flex flex-items-center flex-gap-0-5">
                                    <mat-icon class="icon-sm orc-status-active-color">circle</mat-icon>
                                    <div class="font-weight-bold">{{ info.nuts.nut4.disabled ? 'Disabled' : 'Enabled' }}</div>
                                </div>
                                <div [@fadeIn] class="flex flex-items-center flex-gap-0-5">
                                    <mat-icon class="icon-sm orc-status-active-color">circle</mat-icon>
                                    <div class="font-weight-bold">{{ info.nuts.nut5.disabled ? 'Disabled' : 'Enabled' }}</div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="flex-1 flex flex-column flex-gap-1">
                    <div class="title-l">Liabilities</div>
                    
                    <div>
                        @if( loading ) {
                            <div class="flex flex-column flex-gap-1">
                                <div class="h-2 orc-corner-full shimmer-high"></div>
                            </div>
                        } @else {
                            <div [@fadeIn] class="flex flex-column flex-gap-1">
                                @for( balance of liabilities; track balance.unit ) {
                                    <div class="flex flex-items-center flex-gap-2">
                                        <orc-graphic-asset 
                                            [unit]="balance.unit" 
                                            [height]="'2rem'"
                                            [custody]="'ecash'">
                                        </orc-graphic-asset>
                                        <span class="text-nowrap font-size-l flex-grow" [innerHTML]="balance.amount | amount : balance.unit : 'mint'"></span>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="absolute right-1 bottom-1">
            @if( loading ) {
                <div class="h-1 w-8 orc-corner-full shimmer-high"></div>
            } @else {
                <div [@fadeIn] class="orc-outline-color font-size-xs">{{ info.version }}</div>
            }
        </div>

    </mat-card-content>
</mat-card>