<div class="p-t-2 p-b-2 p-l-2">
	<mat-card appearance="outlined" class="relative overflow-hidden">
		<mat-card-content class="orc-surface-container-low-bg">
			<div class="p-l-1 p-r-1 p-t-1 flex flex-column flex-gap-1">
				<orc-settings-subsection-device-time-timezone
					[timezone]="timezone"
					[loading]="loading"
					(timezoneChange)="timezoneChange.emit($event)"
				></orc-settings-subsection-device-time-timezone>
				<orc-settings-subsection-device-time-locale
					[locale]="locale"
					[loading]="loading"
					(localeChange)="localeChange.emit($event)"
				></orc-settings-subsection-device-time-locale>
			</div>
		</mat-card-content>
	</mat-card>
</div>
