<br>
<b>mint works!</b>
<br>
<div class="font-700">Test font-700</div>
<div class="font-600">Test font-600</div>
<div class="font-500">Test font-500</div>
<div class="font-400">Test font-400</div>
<div class="font-300">Test font-300</div>
<div class="font-200">Test font-200</div>
<br>
<div class="font-700-italic">Test font-700-italic</div>
<div class="font-600-italic">Test font-600-italic</div>
<div class="font-500-italic">Test font-500-italic</div>
<div class="font-400-italic">Test font-400-italic</div>
<div class="font-300-italic">Test font-300-italic</div>
<div class="font-200-italic">Test font-200-italic</div>
<br>


<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="house"></mat-icon>
<br><br>
<button mat-raised-button>Basic</button>
<button mat-stroked-button>Basic</button>
<button mat-flat-button>Basic</button>