@use '@styles/molecule/molecule';

:host {
	@extend %flex;
}

// .graphic-oracle-container {
// 	@extend %flex;

// 	.oracle-base {
// 		fill: var(--mat-sys-primary-container);
// 	}

// 	.oracle-eye {
// 		fill: var(--mat-sys-surface-container-low);
// 	}

// 	.oracle-block {
// 		fill: var(--mat-sys-surface-container-low);
// 	}

// 	.oracle-orb {
// 		fill: var(--mat-sys-surface-container-low);
// 	}

// 	&.running {
// 		.oracle-block {
// 			fill: var(--mat-sys-primary-container);
// 			animation:
// 				pulse 3s ease-in-out infinite,
// 				rotate 3s linear infinite;
// 			transform-box: fill-box;
// 			transform-origin: center;
// 		}

// 		.oracle-eye {
// 			fill: var(--mat-sys-primary-container);
// 			animation: pulse 3s ease-in-out infinite;
// 		}
// 	}

// 	&.completed {
// 		.oracle-block {
// 			fill: var(--mat-sys-primary-container);
// 		}

// 		.oracle-eye {
// 			fill: var(--mat-sys-primary-container);
// 		}
// 	}
// }

.graphic-oracle-container {
	@extend %flex;

	.oracle-base {
		fill: var(--mat-sys-surface-container-low);
	}

	.oracle-eye {
		fill: var(--mat-sys-surface-container-low);
	}

	.oracle-block {
		fill: var(--mat-sys-surface-container-low);
	}

	.oracle-orb {
		fill: var(--mat-sys-surface-container-low);
	}

	&.running {
		.oracle-block {
			@extend %orc-brand-lightest-fill;
			animation:
				pulse 3s ease-in-out infinite,
				rotate 3s linear infinite;
			transform-box: fill-box;
			transform-origin: center;
		}

		.oracle-eye {
			@extend %orc-brand-lightest-fill;
			animation: pulse 3s ease-in-out infinite;
		}
	}

	&.completed {
		.oracle-block {
			@extend %orc-brand-lightest-fill;
		}

		.oracle-eye {
			@extend %orc-brand-lightest-fill;
		}
	}
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.4;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
