<div class="bitcoin-block-container">
	@if (!is_template) {
		<div class="block-header">
			<div class="block-height">{{ block?.height | block }}</div>
		</div>
	}
	<div class="block" [ngClass]="{'block-template': is_template}">
		<div class="block-content">
			<div class="flex flex-column flex-gap-0-5 flex-align-center">
				<div class="block-feerange">
					<div>{{ block?.feerate_low | feerate | number: '1.2-2' }}</div>
					<div>-</div>
					<div>{{ block?.feerate_high | feerate | number: '1.2-2' }}</div>
					<div>sat/vB</div>
				</div>

				<div class="flex flex-justify-center orc-outline-color">
					<div>{{ block?.nTx | number }} transactions</div>
				</div>

				<div class="flex flex-justify-center orc-outline-color">
					@if (!is_template) {
						<div>{{ $any(this.block).time | time_ago }}</div>
					} @else {
						<div>~ 10 minutes</div>
					}
				</div>
			</div>
		</div>
		<div class="block-fullness" [style.height]="fullness | percent"></div>
	</div>
</div>
