@use '@styles/molecule/molecule';

:host{
    @extend %flex;
}

.bitcoin-block-container{
    @extend %relative;
    @extend %flex;
    @extend %flex-column;
}

.block-header{
    @extend %relative;
    @extend %flex;
    @extend %flex-items-center;
    @extend %flex-justify-center;
}

.block-height{
    @extend %absolute;
    @extend %bottom-1;
}

.block{
    @extend %orc-surface-container-highest-bg;
    height: 10rem;
    width: 10rem;
    border-radius: 0.5rem;
    @extend %relative;
    @extend %overflow-hidden;
}

.block-template{
    @extend %orc-surface-variant-bg;
}

.block-content{
    position: absolute;
    z-index: 2;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    @extend %flex;
    @extend %flex-items-center;
    @extend %flex-justify-center;
}

.block-fullness{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.05;
    background: white;
}