@use '@styles/molecule/molecule';

:host {
    @extend %w-full;
}

.lightning-enabled-card{
    min-height: 20rem;
    @extend %cursor-pointer;

    &:hover{
        .lightning-card-title {
            @extend %orc-primary-fixed-dim-color;
        }
    }
}

.lightning-card-title {
    @extend %trans-color-fast;
    @extend %flex;
    @extend %flex-items-center;
    @extend %flex-gap-1;
}

.channel-table {
    @extend %w-full;
    @extend %border-collapse;
    
    th, td {
        @extend %p-0-5;
        @extend %vertical-align-middle;
    }
}

.lightning-channels-divider{
    @extend %absolute;
    top: -0.5em;
    bottom: -1rem;
    @extend %w-0-25;
    @extend %orc-outline-bg;
    @extend %orc-corner-full;
}

.title-capacity-receive {
    @extend %absolute;
    @extend %right-2;
    @extend %top-0-5;
}

.title-capacity-send {
    @extend %absolute;
    @extend %left-2;
    @extend %top-0-5;
}