@use '@styles/molecule/molecule';

:host {
    @extend %w-full;
}

.lightning-enabled-card{
    min-height: 20rem;
}

.channel-divider{
    width: 0.25rem;
    height: 100%;
    @extend %orc-corner-full;
    @extend %orc-surface-container-highest-bg
}



.channel-table {
    width: 100%;
    border-collapse: collapse;
    
    th, td {
        padding: 0.5rem;
        vertical-align: middle;
    }
    
    .channel-divider {
        width: 100%;
        min-width: 100px; // Minimum width for the channel visualization
        background-color: var(--orc-surface-container-highest-bg);
        border-radius: 9999px;
    }
    
    .receive-cell, .send-cell {
        white-space: nowrap; // Prevent wrapping of content
    }
    
    .receive-cell {
        text-align: right;
    }
    
    .send-cell {
        text-align: left;
    }
}