<div class="mint-balance-stacks-container">
	<ng-container *ngTemplateOutlet="stackTpl; context: {rows: asset_rows(), showReserve: true}" />
	<div class="divider"></div>
	<ng-container *ngTemplateOutlet="stackTpl; context: {rows: liability_rows(), showReserve: false}" />
</div>

<ng-template #stackTpl let-rows="rows" let-showReserve="showReserve">
	<div class="stack-container">
		<div class="stack" [class]="unit_class()">
			@for (groups of rows; track $index) {
				@if (groups.length > 0) {
					<div class="coin-row" [style.--drop-delay]="(rows.length - 1 - $index) * 150">
						@for (group_size of groups; track $index) {
							<div class="coin-group" [style.--group-offset]="$index * 60">
								@for (_ of [].constructor(group_size); track $index) {
									<div class="coin" [style.--coin-offset]="$index * 30"></div>
								}
							</div>
						}
					</div>
				}
			}
		</div>
		@if (reserve() !== null) {
			<div class="orc-outline-color text-nowrap" [class.invisible]="!showReserve">{{ reserve() }}x</div>
		}
	</div>
</ng-template>
