<div class="p-r-1 p-b-2" [ngClass]="{'p-l-1': !device_desktop(), 'p-l-2': device_desktop()}">
	<mat-card appearance="outlined" class="relative overflow-hidden">
		<mat-card-content class="orc-surface-container-low-bg">
			<div class="flex flex-gap-2 flex-wrap">
				<div class="flex-1 flex flex-column flex-gap-2">
					<div class="flex flex-column flex-gap-2">
						<form class="flex-grow">
							<orc-form-field-dynamic [info]="true" (inform)="help_status.set(!help_status())">
								<mat-form-field
									appearance="fill"
									class="mint-quote-ttl-form-field orc-dynamic-form-field orc-cold-form-field"
								>
									<mat-label>Cache TTL</mat-label>
									<input type="number" [value]="nut19()?.ttl" matInput [disabled]="true" />
									<span matSuffix class="form-suffix-text">seconds</span>
								</mat-form-field>
							</orc-form-field-dynamic>
						</form>
						<div class="orc-animation-expand-collapse" [class.animation-expanded]="help_status()">
							<div class="orc-animation-expand-collapse-inner">
								<div class="flex p-b-1">
									<orc-form-help-text class="orc-surface-container-high-bg">
										<div>
											Configure the time to live for the cached endpoints. This is not currently configurable through
											the mint RPC and must be set in the mint config file.
										</div>
									</orc-form-help-text>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="flex-1">
					<div class="flex flex-column flex-items-center flex-gap-1">
						<div class="font-size-xs orc-outline-color">Cached endpoints</div>
						<div class="flex flex-column flex-gap-1">
							@for (ep of nut19()?.cached_endpoints; track ep.path) {
								<div class="flex">
									<div class="label-command orc-surface-container-high-bg">
										<div class="flex flex-gap-1">
											<span>{{ ep.method }}</span>
											<span>{{ ep.path }}</span>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
