@use '@styles/molecule/molecule';
@use '@styles/nucleus/nucleus';

:host {
    @extend %relative;
}


.primary-nav-item-container{
    @extend %font-size-xs;
    @extend %p-h-1;
    @extend %cursor-pointer;
    @extend %flex;
    @extend %flex-items-center;
    @extend %flex-column;
}

.primary-nav-item-icon{
    @extend %orc-corner-extra-large;
    @extend %w-4;
    @extend %h-2;
    @extend %trans-bg-fast;
    @extend %flex;
    @extend %flex-items-center;
    @extend %flex-justify-center;
}

.primary-nav-item-name{
    margin-top: 0.125rem;
    @extend %trans-font-weight-fast;
    @extend %trans-color-fast;
}

.primary-nav-item-highlight{
    .primary-nav-item-icon{
        @extend %orc-primary-container-bg;
        @extend %orc-on-primary-container-color;
    }
    .primary-nav-item-name{
        @extend %font-weight-semi-bold;
        @extend %orc-on-primary-container-color;
    }
}

.primary-nav-item-indicator{
    position: absolute;
    left: 0;
    top: 1rem;
}

.indicator-circle{
    // @extend %orc-surface-container-highest-bg;
    // @extend
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
}