<div class="quote-stats-container">
	@if (!loading() && quotes().length > 0) {
		<div class="quote-stats-item">
			<div class="quote-stats-item-label">avg</div>
			<div class="quote-stats-item-value">{{ stats().avg | number: '1.0-0' }} s</div>
		</div>
		<div class="quote-stats-item">
			<div class="quote-stats-item-label">median</div>
			<div class="quote-stats-item-value">{{ stats().median | number: '1.0-0' }} s</div>
		</div>
		<div class="quote-stats-item">
			<div class="quote-stats-item-label">max</div>
			<div class="quote-stats-item-value">{{ stats().max | number: '1.0-0' }} s</div>
		</div>
		<div class="quote-stats-item">
			<div class="quote-stats-item-label">min</div>
			<div class="quote-stats-item-value">{{ stats().min | number: '1.0-0' }} s</div>
		</div>
	} @else {
		loader
	}
</div>

<!-- @if (!loading && quotes.length > 0) {
    <div>{{ metrics.avg | number: '1.0-0' }}</div>
    <div>{{ metrics.median | number: '1.0-0' }}</div>
    <div>{{ metrics.min | number: '1.0-0' }}</div>
    <div>{{ metrics.max | number: '1.0-0' }}</div>
    <div>{{ metrics.coverage | number: '1.0-0' }}%</div>
} @else {
    <div class="flex flex-column flex-gap-1">
        <div class="h-0-5 w-3 orc-corner-full orc-animation-shimmer-high"></div>
        <div class="h-0-5 w-3 orc-corner-full orc-animation-shimmer-high"></div>
        <div class="h-0-5 w-3 orc-corner-full orc-animation-shimmer-high"></div>
        <div class="h-0-5 w-3 orc-corner-full orc-animation-shimmer-high"></div>
        <div class="h-0-5 w-3 orc-corner-full orc-animation-shimmer-high"></div>
    </div>
} -->
