@use '@styles/molecule/molecule';
@use '@styles/nucleus/nucleus';

// .bitcoin-oracle-chart-container {
// 	@extend %p-v-1;
// 	@extend %relative;
// 	max-height: max(80vh, 180px);
// 	min-height: 300px;

// 	canvas {
// 		max-height: max(80vh, 180px);
// 		min-height: 300px;
// 	}
// }

.bitcoin-oracle-chart-container {
	@extend %p-v-1;
	@extend %relative;
	height: 75vh;
	min-height: 300px;

	canvas {
		height: 100%;
		min-height: 300px;
	}
}

.no-data-overlay {
	@extend %absolute;
	@extend %top-0;
	@extend %left-0;
	@extend %right-0;
	@extend %bottom-0;
	@extend %flex;
	@extend %flex-column;
	@extend %flex-gap-1;
	@extend %flex-items-center;
	@extend %flex-justify-center;
}
