@use '@styles/molecule/molecule';
@use '@styles/nucleus/nucleus';

.bitcoin-oracle-chart-container {
	@extend %p-v-1;
	@extend %relative;
	height: calc(100vh - 11rem);
	min-height: 300px;
	transition:
		height 200ms ease-out,
		min-height 200ms ease-out;

	&.enabled-ai {
		height: calc(100vh - 14rem);
	}

	&.form-open {
		height: 50vh; // Or whatever height you prefer when form is open
		min-height: 250px;
	}

	canvas {
		height: 100%;
		min-height: 300px;
		transition:
			height 200ms ease-out,
			min-height 200ms ease-out;
	}
}

.no-data-overlay {
	@extend %absolute;
	@extend %top-0;
	@extend %left-0;
	@extend %right-0;
	@extend %bottom-0;
	@extend %flex;
	@extend %flex-column;
	@extend %flex-gap-1;
	@extend %flex-items-center;
	@extend %flex-justify-center;
}
