<div
	class="bitcoin-oracle-chart-container"
	[class.form-open]="form_open()"
	[class.enabled-ai]="enabled_ai()"
	[class.animations-embedded-enabled]="animations_embedded_enabled()"
	animate.enter="orc-animation-fadein"
>
	@if (displayed()) {
		<canvas baseChart [data]="chart_data()" [options]="chart_options()" [type]="chart_type()" [plugins]="chart_plugins()"></canvas>
	}
	@if (!loading() && data().length === 0) {
		<div class="no-data-overlay" animate.enter="orc-animation-fadein-fast" animate.leave="orc-animation-fadeout-fast">
			<mat-icon class="icon-lg mat-symbol-outline orc-outline-color">bar_chart_off</mat-icon>
		</div>
	}
</div>
