<div class="auth-password-container">
    <form
        [formGroup]="form_group"
        (ngSubmit)="onSubmit($event)"
        (keydown.enter)="onSubmit($event)"
        (keydown.escape)="onCancel($event)"
        autocomplete="on">        
        <orc-dynamic-form-field
            [hot]="form_hot"
            [invalid]="form_group.get(control_name)?.invalid || false"
            (submit)="onSubmit($event)"
            (cancel)="onCancel($event)">
            <mat-form-field appearance="fill" hideRequiredMarker="true" [ngClass]="form_hot ? 'orc-hot-form-field' : 'orc-cold-form-field'" class="auth-password-form-field orc-dynamic-form-field">
                <mat-label>Password</mat-label>
                <input 
                    [type]="password_visible() ? 'text' : 'password'"
                    matInput 
                    [formControlName]="control_name" 
                    autocomplete="current-password"
                    #element_password>
                <button
                    type="button" 
                    mat-icon-button 
                    matSuffix
                    class="orc-icon-button"
                    (click)="togglePasswordVisibility()">
                    <mat-icon>{{ password_visible() ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                @if (form_group.get(control_name)?.invalid && (form_group.get(control_name)?.dirty || form_group.get(control_name)?.touched)) {
                    <mat-error class="font-size-xs">{{ form_error }}</mat-error>
                }
            </mat-form-field>
        </orc-dynamic-form-field>
    </form>
</div>