@use '@styles/molecule/molecule';

.secondary-nav-item-container{
    @extend .flex;
    @extend .flex-items-center;
    @extend .flex-justify-center;
    @extend .h-full;
    @extend .cursor-pointer;
    @extend .m-h-1;
    @extend .w-min-5;
    @extend .relative;

    &::after {
        @extend .pseudo-element;
        @extend .absolute;
        bottom: 0;
        left: 0;

        @extend .w-full;
        @extend .h-0-5;

        @extend .orc-primary-container-bg;
        @extend .orc-corner-extra-large-top;
        
        opacity: 0;
        transform: scaleX(0.5) scaleY(0);
        transform-origin: center bottom;
        transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
    }

    &.secondary-nav-item-highlight::after {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }
}

.secondary-nav-item-name{
    @extend .font-size-s;
}