<section class="section-container">
	<orc-secondary-nav>
		<div secondary-nav-header class="secondary-nav-header">	
			{{ bitcoin_blockchain_info?.chain }}
		</div>
		<div secondary-nav-items>
			<orc-secondary-nav-item 
				name="Dashboard"
				navroute="mint"
				[active]="active_sub_section === 'dashboard'">
			</orc-secondary-nav-item>
		</div>
		<div secondary-nav-toolbar class="secondary-nav-toolbar">
			<div class="section-implementation">{{ bitcoin_network_info?.subversion }}</div>
			<orc-secondary-nav-more></orc-secondary-nav-more>
		</div>
	</orc-secondary-nav>

    <div class="subsection-container">
      	<router-outlet></router-outlet>
    </div>
</section>