<div class="mint-connections-container">
    <div class="title-l p-b-0-5">Connections</div>

    <div class="mint-connections-form">
        <div class="mint-connection-urls">
            @for (connection of connections; track connection) {
                <div class="orc-text-button" (click)="onSelectConnection(connection)">
                    {{ connection.displayed_url }}
                </div>
            }
        </div>
        <div class="mint-connection-qr">
            <div #qr_canvas [@fadeInOut]="qr_animation_state"></div>
        </div>
    </div>
</div>
