<!-- <div class="p-2">
    <mat-card appearance="outlined" class="relative overflow-hidden">
        <mat-card-content class="orc-surface-container-low-bg">
            {{ model_options | json }}
        </mat-card-content>
    </mat-card>
</div> -->


<div class="p-2">
    <mat-card appearance="outlined" class="relative overflow-hidden">
        <mat-card-content class="orc-surface-container-low-bg">
            <div class="p-l-1 p-r-1 p-t-1 flex flex-column flex-gap-1">
                <div class="flex flex-items-start flex-gap-2">
                    <div class="flex-1 flex flex-items-start flex-justify-between">
                        <form (ngSubmit)="onSubmit($event)" (keydown.enter)="onSubmit($event)">
                            <mat-form-field hideRequiredMarker="true" class="primary-form-field">
                                <mat-label>Agent Model</mat-label>
                                <input 
                                    type="text"
                                    placeholder="Select model"
                                    aria-label="Model"
                                    matInput
                                    [formControl]="model_control"
                                    [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    @for (option of filtered_options | async; track option.model) {
                                        <mat-option [value]="option.model">
                                            <div class="flex flex-items-center flex-gap-1">
                                                <div class="orc-outline-color w-min-3">{{ option.details.parameter_size }}</div>
                                                <div>{{option.name}}</div>
                                            </div>
                                        </mat-option>
                                    }
                                </mat-autocomplete>
                                @if( model_control.invalid ) {
                                    <mat-error class="font-size-xs">{{ model_control_error() }}</mat-error>
                                }
                            </mat-form-field>
                        </form>
                
                        <div class="w-max-18">
                            <orc-help-text class="orc-surface-container-high-bg">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Lorem ipsum dolor sit amet.
                            </orc-help-text>
                        </div>
                    </div>
                
                    <div class="flex-1">
                        <div class="ai-model-description">
                            <div class="flex flex-justify-center p-b-1">
                                <div class="font-size-xs orc-outline-color">Model Details</div>
                            </div>

                            @if( ai_model ) {
                                <div class="flex flex-justify-center flex-items-center flex-gap-1">
                                    <div class="flex flex-column flex-gap-0-5 font-size-xs orc-outline-color font-weight-extra-light">
                                        <div>model:</div>
                                        <div>parameter size:</div>
                                        <div>raw size:</div>
                                        <div>quantization level:</div>
                                        <div>last modified:</div>
                                    </div>
                                    <div class="flex flex-column flex-gap-0-5 font-size-xs orc-outline-color">
                                        <div>{{ ai_model.model }}</div>
                                        <div>{{ ai_model.details.parameter_size }}</div>
                                        <div>{{ ai_model.size }}</div>
                                        <div>{{ ai_model.details.quantization_level }}</div>
                                        <div>{{ ai_model.modified_at | time:'medium' }}</div>
                                    </div>
                                </div> 
                            }@else {
                                nothing selected ( todo)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>


<!-- <div class="flex flex-items-start">
    <div class="flex-grow flex flex-items-start flex-justify-between">
        <form class="flex flex-items-center flex-gap-1">
            <div>
                <mat-form-field hideRequiredMarker="true" class="primary-form-field">
                    <mat-label>Locale</mat-label>
                    <input 
                        type="text"
                        placeholder="Select locale"
                        aria-label="Locale"
                        matInput
                        [formControl]="locale_control"
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        @for (option of filtered_options | async; track option) {
                            <mat-option [value]="option.code">{{option.code}} - {{option.country}}</mat-option>
                        }
                    </mat-autocomplete>
                    @if( locale_control.invalid ) {
                        <mat-error class="font-size-xs">{{ locale_control_error() }}</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="m-b-1-25">
                <mat-checkbox 
                    [formControl]="system_default_control"
                    (change)="onSystemDefaultChange($event)">
                    Sync with system
                </mat-checkbox>
            </div>
        </form>

        <div class="w-max-18">
            <orc-help-text class="orc-surface-container-high-bg">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet.
            </orc-help-text>
        </div>
    </div>

    <div class="flex-grow-2 w-max-24">
        <div class="flex flex-items-center flex-justify-center">
            <div class="orc-outline-color">
                {{ unix_timestamp_seconds | time:'short' }}
            </div>
        </div>
    </div>
</div> -->