@use '@styles/molecule/molecule';

:host {
    @extend .flex-grow;
}

.transparent-input {
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    @extend .font-size-s;
    @extend .orc-outline-color;
}