<div class="mint-data-chart-container">
	<orc-mint-subsection-database-chart-legend
		[data]="data"
		[chart]="chart?.chart"
		[chart_data]="chart_data"
		[state_enabled]="state_enabled"
		[device_mobile]="device_mobile()"
	></orc-mint-subsection-database-chart-legend>

	@if (displayed) {
		<canvas baseChart [data]="chart_data" [options]="chart_options" [type]="chart_type"></canvas>
	}
	@if (!loading && data.source.data.length === 0) {
		<div class="no-data-overlay" animate.enter="orc-animation-fadein-fast" animate.leave="orc-animation-fadeout-fast">
			<mat-icon class="icon-lg mat-symbol-outline orc-outline-color">bar_chart_off</mat-icon>
		</div>
	}
</div>
