<div class="mint-subsection-database-container p-h-1">
	<div class="mint-database-control p-t-1">
		<div class="flex flex-justify-between flex-gap-1 flex-items-start">
			<!-- @if( chart_settings ) {
				<orc-mint-keyset-control
					class="flex-grow"
					[chart_settings]="chart_settings"
					[date_start]="chart_settings.date_start"
					[date_end]="chart_settings.date_end"
					[units]="chart_settings.units"
					[status]="chart_settings.status"
					[keysets]="mint_keysets"
					[loading]="loading_static_data"
					[mint_genesis_time]="mint_genesis_time"
					(dateChange)="onDateChange($event)"
					(unitsChange)="onUnitsChange($event)"
					(statusChange)="onStatusChange($event)">
				</orc-mint-keyset-control>
			} -->

			<div>
				control
			</div>
			<div class="flex flex-gap-1">
				<button 
					type="button" 
					mat-fab 
					extended 
					class="orc-icon-button"
					(click)="onCreate()" 
					(keydown.enter)="$event.preventDefault(); $event.stopPropagation();">
					<mat-icon>database</mat-icon>
					Create Backup
				</button>
				<button 
					type="button" 
					mat-fab 
					extended 
					class="orc-icon-button"
					(click)="onCreate()" 
					(keydown.enter)="$event.preventDefault(); $event.stopPropagation();">
					<mat-icon>database_upload</mat-icon>
					Restore Backup
				</button>
			</div>
		</div>
		<div class="category-rule"></div>
	</div>
</div>