<div>
    <form 
        class="flex flex-items-center flex-gap-0-5"
        [formGroup]="form_group"
        (ngSubmit)="onSubmit($event)"
        (keydown.enter)="onSubmit($event)"
        (keydown.escape)="onCancel()">        
        <mat-form-field [appearance]="form_hot ? 'fill' : 'outline'" class="mint-name-form-field orc-display-form-field">
            <mat-label>Name</mat-label>
            <input 
                type="text" 
                matInput 
                [formControlName]="control_name" 
                placeholder="Ex. My Mint"
                #element_name>
        </mat-form-field>

        @if (form_hot) {
            <div class="flex flex-items-center">
                <button 
                    type="button"
                    mat-icon-button
                    class="m-b-1-25 orc-icon-button"
                    (click)="onSubmit($event)">
                    <mat-icon>check_circle</mat-icon>
                </button>
                <button 
                    type="button" 
                    mat-icon-button 
                    class="m-b-1-25 orc-icon-button" 
                    (click)="onCancel()">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
        }
    </form>
</div>