<!-- <mat-card appearance="outlined" class="mint-disabled-card">
    <mat-card-content>
        <div class="flex-grow flex flex-column flex-gap-2">
            <div class="flex flex-justify-center">
                <div class="flex flex-items-center flex-gap-1">
                    <mat-icon class="icon-lg mat-symbol-outline">account_balance</mat-icon>
                    <div class="font-size-xxl font-weight-bold">Mint</div>
                </div>
            </div>
            <div class="flex-grow flex flex-justify-center flex-items-center">
                <div class="w-max-18 p-b-2">
                    <orc-help-text class="orc-surface-container-high-bg">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </orc-help-text>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card> -->


<div class="mint-disabled-card flex flex-column">
    <div class="p-1 flex-grow flex">
        <div class="flex-grow flex flex-column flex-gap-2">
            <div class="flex flex-justify-center">
                <div class="flex flex-items-center flex-gap-1 orc-outline-color">
                    <mat-icon class="icon-lg mat-symbol-outline">account_balance</mat-icon>
                    <div class="font-size-xxl font-weight-bold">Mint</div>
                </div>
            </div>
            <div class="flex-grow flex flex-justify-center flex-items-center">
                <div class="w-max-24 p-b-2">
                    <orc-help-text class="orc-surface-container-high-bg">
                        The mint section of Orchard is currently disabled. Configure the mint in your environment variables.
                        <br>
                        <br>
                        <a href="https://github.com/orangeshyguy21/orchard" target="_blank" class="orc-text-button">Orchard documentation</a>.
                    </orc-help-text>
                </div>
            </div>
        </div>
    </div>
</div>