@use '@styles/molecule/molecule';

:host {
    @extend %w-full;
}

.mint-disabled-card{
    min-height: 20rem;
    border: 1px dashed var(--mat-sys-outline-variant);
    border-radius: 1rem;

    mat-card-content{
        @extend %flex-grow;
        @extend %flex;
        @extend %flex-column;
    }
}