@use 'molecule/molecule';
@use 'nucleus/nucleus';

:host {
	@extend %flex-grow;
	@extend %flex;
	@extend %flex-column;
}

.crew-table-container {
	@extend %relative;
	@extend %overflow-auto;
	max-height: calc(100vh - 215px); // or calc(100vh - Xpx)
}

.crew-sticky-header {
	top: 0px !important;
}

.crew-icon {
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	@extend %flex-gap-1;
	@extend %w-2;
	@extend %h-2;
	@extend %orc-corner-full;
}

.user-icon {
	@extend %orc-primary-bg;
	@extend %orc-on-primary-color;
}

.invite-icon {
	@extend %orc-neutral-bg;
	@extend %orc-surface-container-high-color;
}

// these can be generalized i think
tr.entity-row {
	@extend %cursor-pointer;
}

tr.entity-row:not(.expanded):hover {
	@extend %orc-surface-container-low-bg;
}

tr.entity-row:not(.expanded):active {
	@extend %orc-surface-container-high-bg;
}

tr.more-entity-row {
	@extend %h-0;
}

.more-entity-wrapper {
	@extend %overflow-hidden;
	@extend %grid;
	@extend %rows-0;
	@extend %columns-full;
	transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.more-entity-wrapper-expanded {
	@extend %rows-1;
}

.more-entity-content {
	@extend %flex;
	@extend %h-min-0;
	@extend %font-size-m;
	line-height: 1.4;
}
