@use 'molecule/molecule';
@use 'nucleus/nucleus';

:host {
	@extend %block;
	@extend %overflow-hidden;
	flex-shrink: 0;
	max-height: 20rem;
	transition: max-height 200ms ease;

	&.collapsed {
		@extend %h-max-0;
	}
}

.ai-nav-container {
	@extend %flex;
	@extend %flex-row;
	@extend %flex-items-start;
	@extend %flex-gap-1;
	@extend %orc-surface-container-low-bg;
	@extend %p-h-1;
	@extend %p-l-1;
	@extend %border-top;
	@extend %border-top-solid;
	@extend %orc-surface-border;
	transition:
		transform 200ms ease,
		opacity 200ms ease;

	&.collapsed {
		transform: translateY(100%);
		pointer-events: none;
		@extend %opacity-0;
	}

	&.mobile-agent {
		@extend %flex-column;
		@extend %flex-gap-0;

		.ai-user-input {
			@extend %w-full;
		}

		.ai-action-bar {
			@extend %w-full;
			@extend %flex-justify-between;
		}
	}
}

.ai-user-input {
	@extend %flex-grow;
	@extend %flex;
	@extend %flex-items-center;
	@extend %h-min-3;
}

.ai-action-bar {
	@extend %flex;
	@extend %flex-row;
	@extend %flex-items-center;
	@extend %flex-gap-1;
	@extend %h-3;
}
