<div class="ai-nav-container" [class.collapsed]="!opened()" [class.mobile-assistant]="mobile_assistant()">
	<div class="ai-user-input">
		<orc-ai-input
			[active_assistant]="active_assistant()"
			[active_chat]="active_chat()"
			[model]="model()"
			[content]="content()"
			[focus]="focus()"
			(chat)="command.emit()"
		></orc-ai-input>
	</div>

	<div class="ai-action-bar">
		<orc-ai-model
			[model]="model()"
			[model_options]="model_options()"
			[device_type]="device_type()"
			[vendor]="vendor()"
			[favorites]="favorites()"
			(modelChange)="modelChange.emit($event)"
			(favoritesChange)="favoritesChange.emit($event)"
		>
			@if (device_type() === 'mobile') {
				<button mat-icon-button type="button" class="orc-icon-button">
					<mat-icon class="orc-outline-color">spa</mat-icon>
				</button>
			} @else {
				<button mat-button type="button">
					<div class="font-size-xs">{{ model() }}</div>
				</button>
			}
		</orc-ai-model>

		@if (mobile_assistant()) {
			<button mat-icon-button type="button" (click)="onHideAssistant()" class="orc-icon-button">
				<mat-icon class="orc-outline-color">{{ event_pending() ? 'cancel' : 'close' }}</mat-icon>
			</button>
			<ng-content></ng-content>
			<orc-ai-command [actionable]="actionable()" [active_chat]="active_chat()" (command)="command.emit()"></orc-ai-command>
		} @else {
			<orc-ai-command [actionable]="actionable()" [active_chat]="active_chat()" (command)="command.emit()"></orc-ai-command>
		}
		<orc-ai-conversation-hud
			[conversation]="conversation()"
			[message_length]="message_length()"
			[tool_length]="tool_length()"
			[log_open]="log_open()"
			(toggle)="toggleLog.emit()"
		></orc-ai-conversation-hud>
	</div>
</div>
