@use '@angular/material' as mat;
// @use './theme' as orchard-theme;
@use './_theme-colors' as orchard-theme;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      primary: orchard-theme.$primary-palette,
      tertiary: orchard-theme.$tertiary-palette,
    ),
    density: 0,
  ));
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: 'Bai Jamjuree', sans-serif;

  &.dark-mode {
    color-scheme: dark;
  }

  &.light-mode {
    color-scheme: light;
  }
}
