// Font Family Normal
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  src: url('../../assets/font/BaiJamjuree-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap; 
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  src: url('../../assets/font/BaiJamjuree-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap; 
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  src: url('../../assets/font/BaiJamjuree-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap; 
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  src: url('../../assets/font/BaiJamjuree-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap; 
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  src: url('../../assets/font/BaiJamjuree-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap; 
}