@use '@angular/material' as mat;

/****************************************
* Angular Material Supported Overrides
****************************************/

/* Application Level Overrides */
:root {
	@include mat.table-overrides((
		row-item-outline-color: var(--mat-sys-outline-variant),
	));
}

/* Specific Table Overrides */
.orc-feature-table {
	@include mat.table-overrides((
		header-container-height: 2.5rem,
		row-item-container-height: 3.0rem,
	));
}

// still needs work, can we get the importants out of here?
// also need special classes for these setryles - and need one for dashed and solid (add or update)

/****************************************
* Angular Material Unsupported Overrides
****************************************/

/* Specific Form Field Overrides */
:root {
	.mat-mdc-form-field{
		&.orc-dynamic-form-field {
			.mdc-notched-outline__leading,
			.mdc-notched-outline__notch,
			.mdc-notched-outline__trailing {
				border-color: var(--mat-sys-outline-variant);
				transition: border-color 0.1s ease-in-out;
			}
		  
			&:hover .mdc-notched-outline__leading,
			&:hover .mdc-notched-outline__notch,
			&:hover .mdc-notched-outline__trailing {
				border-color: var(--mat-sys-on-primary-container);
			}
	
			&.mat-form-field-hide-placeholder{
				.mdc-notched-outline__leading{
					border-top-style: dashed;
					border-left-style: dashed;
					border-bottom-style: dashed;
				}
				.mdc-notched-outline__notch{
					border-top-style: dashed;
					border-bottom-style: dashed;
				}
				.mdc-notched-outline__trailing{
					border-top-style: dashed;
					border-right-style: dashed;
					border-bottom-style: dashed;
				}
				.mdc-notched-outline__leading,
				.mdc-notched-outline__notch,
				.mdc-notched-outline__trailing {
					border-color: var(--mat-sys-outline);
					transition: border-color 0.1s ease-in-out;
				}

				&:hover .mdc-notched-outline__leading,
				&:hover .mdc-notched-outline__notch,
				&:hover .mdc-notched-outline__trailing {
					border-color: var(--mat-sys-on-primary-container);
					background-color: var(--mat-sys-surface-container);
				}
			}
		}
	}
}

.mat-mdc-form-field-textarea-control {
	&.orc-autogrow{
		resize: none;
	}
}

// Add this new section for icon buttons (todo)
// .mat-mdc-icon-button {
// 	&.orc-icon-button {
// 		.mdc-icon-button__ripple {
// 			&:before {
// 				transition: background-color 0.1s ease-in-out;
// 			}
// 		}

// 		// &:hover .mdc-icon-button__ripple {
// 		// 	background-color: var(--mat-sys-primary-container);
// 		// }
// 	}
// }

// mat-mdc-button-persistent-ripple mdc-icon-button__ripple