@use '@angular/material' as mat;

/****************************************
* Angular Material Supported Overrides
****************************************/

/* Application Level Overrides */
:root {
	@include mat.table-overrides((
		row-item-outline-color: var(--mat-sys-outline-variant),
	));
	@include mat.dialog-overrides((
	  	container-color: var(--mat-sys-surface-container-highest),
	));
	@include mat.badge-overrides((
	 	text-size: 0.75rem,
		text-weight: 800,
	));
	@include mat.tooltip-overrides((
		container-color: var(--mat-sys-surface-container-highest),
		supporting-text-color: var(--mat-sys-on-surface),
		supporting-text-size: 0.75rem,
	));
}

/* Specific Table Overrides */
.orc-feature-table {
	@include mat.table-overrides((
		header-container-height: 2.5rem,
		row-item-container-height: 3.0rem,
	));
}

.orc-feature-paginator{
	@include mat.paginator-overrides((
		container-text-size: 0.875rem,
		container-size: 2.5rem,
	));
}

/* Specific Form Field Overrides */
.orc-array-form-field {
	@include mat.form-field-overrides((
		container-height: 2rem,
	));
}
.orc-array-select{
	@include mat.form-field-overrides((
		container-vertical-padding: 0.65rem,
		container-height: 1rem,
	));
}

.orc-cold-form-field{
	@include mat.form-field-overrides((
		// filled-label-text-weight: 600,
		filled-container-color: transparent,
	));
}


/****************************************
* Angular Material Unsupported Overrides
****************************************/

:root {
	.orc-cold-form-field {
		.mdc-text-field--filled{
			border-left-width: 1px;
			border-right-width: 1px;
			border-top-width: 1px;
			border-left-style: solid;
			border-right-style: solid;
			border-top-style: solid;
			border-left-color: var(--mat-sys-outline-variant);
			border-right-color: var(--mat-sys-outline-variant);
			border-top-color: var(--mat-sys-outline-variant);
		}

		.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
			border-bottom-style: solid;
			border-bottom-color:  var(--mat-sys-outline-variant);
			
		}

		&.mat-form-field-hide-placeholder{
			.mdc-text-field--filled{
				border-left-style: dashed;
				border-right-style: dashed;
				border-top-style: dashed;
				border-left-color: var(--mat-sys-outline);
				border-right-color: var(--mat-sys-outline);
				border-top-color: var(--mat-sys-outline);
			}
			.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
				border-bottom-style: dashed;
				border-bottom-color:  var(--mat-sys-outline);
			}
		}
	}
}

:root {
	.orc-hot-form-field {
		.mdc-text-field--filled{
			border-left-width: 1px;
			border-right-width: 1px;
			border-top-width: 1px;

			border-left-style: solid;
			border-right-style: solid;
			border-top-style: solid;

			border-left-color: transparent;
			border-right-color: transparent;
			border-top-color: transparent;
		}
	}
}

:root {
	.orc-array-form-field{
		.mat-mdc-form-field-flex {
			margin-right: 0.25rem;
		}
	}
}

:root {
	.orc-autogrow{
		&.mat-mdc-form-field-textarea-control{
			resize: none;
		}
	}
}

:root {
	mat-icon{
		.mat-badge-content{
			font-family: 'Bai Jamjuree', sans-serif;
		}
	}
}