:root {
    // brand colors
    --orc-sys-brand-lightest: #fffd9f;
    --orc-sys-brand-light: #ffd61f;
    --orc-sys-brand-medium: #f58f22;
    --orc-sys-brand-dark: #f3651d;
    --orc-sys-brand-darkest: #9c2222;
    --orc-sys-brand-surface: #100;

    // asset colors
    --orc-asset-btc: light-dark(#f7931a, #f7931a);
    --orc-asset-usd: light-dark(#84B08D, #84B08D);
    --orc-asset-eur: light-dark(#8AAAD8, #8AAAD8);
    --orc-asset-tether: #0f9493;

    // status colors
    --orc-status-active: #869936;
    --orc-status-warning: #e3a042;
    --orc-status-inactive: #993636;

    // warning colors
    --orc-on-warning-bg: #694000;

    // theme colors
    --mat-sys-inverse-tertiary: light-dark(#C5C9B2, #5C604E);
    --mat-sys-inverse-secondary: light-dark(#CFC5B9, #645D54);
    --mat-sys-neutral: light-dark(#797676, #797676);
    --mat-sys-on-neutral: light-dark(#1c1b1b, #e6e2e1);
}