<div class="mint-icon-container">
	@switch (state()) {
		@case ('loading') {
			<div class="mint-icon mint-icon-loading orc-animation-shimmer-high"></div>
		}
		@case ('error') {
			<div class="mint-icon mint-icon-error" animate.enter="orc-animation-fadein">
				<mat-icon class="mat-symbol-outline">error</mat-icon>
			</div>
		}
		@case ('icon') {
			<img
				[src]="icon_data()"
				alt="Mint Icon"
				class="cursor-pointer mint-icon-url"
				[style.height]="height()"
				(click)="onClick()"
				animate.enter="orc-animation-fadein"
			/>
		}
		@case ('unset') {
			<div class="mint-icon mint-icon-placeholder" matRipple (click)="onClick()" animate.enter="orc-animation-fadein">
				<mat-icon>add</mat-icon>
			</div>
		}
	}
</div>
