@use 'molecule/molecule';

.mint-icon-container {
	@extend %flex;
}

.mint-icon {
	height: var(--size);
	width: var(--size);
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	@extend %orc-corner-full;
}

.mint-icon-loading {
	@extend %orc-surface-container-high-bg;
}

.mint-icon-placeholder {
	@extend %border;
	@extend %border-dashed;
	@extend %orc-outline-border;
	@extend %trans-bg-fast;
	@extend %cursor-pointer;

	&:hover {
		@extend %orc-surface-container-high-bg;
	}
}

.mint-icon-error {
	@extend %orc-on-error-container-color;
	@extend %orc-on-error-bg;
}
