@use 'molecule/molecule';
@use 'nucleus/nucleus';

$analytics-offset: 86px;

.mint-dashboard-container {
	@extend %flex;
	@extend %flex-column;
	@extend %p-1;
}

.mint-dashboard-header {
	@extend %flex;
	@extend %flex-gap-2;
	@extend %flex-wrap;
}

.mint-analytic-control-panel {
	@extend %p-t-1;
	@extend %orc-surface-bg;
	@extend %sticky;
	@extend %top-0;
	@extend %z-index-2;
}

.mint-analytic-header {
	@extend %sticky;
	@extend %title-m;
	@extend %flex;
	@extend %flex-justify-between;
	top: $analytics-offset;
}

.mint-analytic-title {
	@extend %orc-surface-bg;
	@extend %p-r-1;
	@extend %p-t-1;
	@extend %p-b-1;
	@extend %orc-corner-extra-large-bottom;
}

.mint-analytic-selector {
	@extend %orc-surface-bg;
	@extend %p-0-5;
	@extend %orc-corner-extra-large-bottom;
}

.mint-chart-tertiary-nav {
	@extend %sticky;
	@extend %z-index-1;
	top: calc(#{$analytics-offset} + 1rem);
}

.chart-tertiary-nav-mobile {
	min-height: 12rem;
}

.nav-tertiary-title {
	@extend %font-size-m;
	@extend %orc-on-surface-variant-color;
	@extend %p-b-0-5;
	@extend %p-l-0-25;
}

.chart-target {
	@extend %relative;
	top: -$analytics-offset;
}

.active-chart-option {
	@extend %orc-surface-variant-bg;

	&.mat-mdc-menu-item {
		&:hover {
			@extend %orc-surface-variant-bg;
		}
	}
}

.chart-balance-sheet {
	grid-area: nav1;
}
.chart-mints {
	grid-area: nav2;
}
.chart-melts {
	grid-area: nav3;
}
.chart-swaps {
	grid-area: nav4;
}
.chart-fee-revenue {
	grid-area: nav5;
}
