<div class="mint-dashboard-container">
	<div class="mint-dashboard-header p-b-1">
		<orc-mint-general-balance-sheet
			[balances]="mint_balances"
			[keysets]="mint_keysets"
			[lightning_balance]="lightning_balance ? lightning_balance : null"
			[lightning_enabled]="lightning_enabled"
			[lightning_errors]="errors_lightning"
			[lightning_loading]="loading_lightning()"
			[bitcoin_oracle_enabled]="bitcoin_oracle_enabled"
            [bitcoin_oracle_price]="bitcoin_oracle_price()"
			[loading]="loading_static_data"
			[device_type]="device_type()"
			(navigate)="onNavigate('lightning')"
		></orc-mint-general-balance-sheet>
		<orc-mint-subsection-dashboard-connections
			[urls]="mint_info ? mint_info.urls : null"
			[icon_url]="mint_info ? mint_info.icon_url : null"
			[time]="mint_info?.time"
			[mint_name]="mint_info?.name"
			[mint_connections]="mint_connections"
			[loading]="loading_static_data"
			[device_type]="device_type()"
		></orc-mint-subsection-dashboard-connections>
	</div>

	<div class="mint-analytic-control-panel">
		<div class="flex flex-justify-between flex-gap-1 flex-items-end">
			@if (device_type() === 'desktop') {
				<div class="title-l p-1">Nutalytics</div>
			}
			@if (page_settings()) {
				<orc-mint-subsection-dashboard-control
					class="flex-grow"
					[page_settings]="page_settings()"
					[date_start]="page_settings().date_start"
					[date_end]="page_settings().date_end"
					[units]="page_settings().units"
					[interval]="page_settings().interval"
					[keysets]="mint_keysets"
					[loading]="loading_static_data"
					[mint_genesis_time]="mint_genesis_time"
					[device_desktop]="device_type() === 'desktop'"
                    [bitcoin_oracle_enabled]="bitcoin_oracle_enabled"
					(dateChange)="onDateChange($event)"
					(unitsChange)="onUnitsChange($event)"
					(intervalChange)="onIntervalChange($event)"
                    (oracleUsedChange)="onOracleUsedChange($event)"
				></orc-mint-subsection-dashboard-control>
			}
			@if (device_type() !== 'desktop') {
				<div class="p-b-1-5">
					<button matButton type="button" [matMenuTriggerFor]="chart_order_menu">
						<mat-icon>menu</mat-icon>
						<span class="text-nowrap font-size-s">Charts</span>
					</button>
				</div>
			}
		</div>
		<div class="category-rule"></div>
	</div>

	<div class="flex flex-gap-0-5">
		<div class="flex-grow grid" #chart_container>
			<div class="relative chart-balance-sheet">
				<div class="chart-target nav1" #nav1></div>
				<div class="mint-analytic-header z-index-1">
					<div class="mint-analytic-title">Balance Sheet</div>
					<div class="flex">
						<div class="mint-analytic-selector">
							<button
								matButton
								type="button"
								[matMenuTriggerFor]="chart_type_menu"
								[matMenuTriggerData]="{chart: 'balance_sheet'}"
							>
								<mat-icon>bar_chart</mat-icon>
								<span class="text-nowrap font-size-s">{{ type_balance_sheet() | titlecase }}</span>
							</button>
						</div>
					</div>
				</div>
				<orc-mint-subsection-dashboard-balance-chart
					[locale]="locale"
					[mint_analytics]="mint_analytics_balances"
					[mint_analytics_pre]="mint_analytics_balances_pre"
                    [bitcoin_oracle_price_map]="bitcoin_oracle_price_map()"
					[lightning_balance]="lightning_balance"
					[lightning_analytics_backfill_status]="lightning_analytics_backfill_status"
					[lightning_analytics]="lightning_analytics"
					[lightning_analytics_pre]="lightning_analytics_pre"
					[page_settings]="page_settings()"
					[mint_genesis_time]="mint_genesis_time"
					[selected_type]="type_balance_sheet()"
					[loading]="loading_analytics()"
					[lightning_enabled]="lightning_enabled"
					[device_mobile]="device_type() === 'mobile'"
				></orc-mint-subsection-dashboard-balance-chart>
			</div>

			<div class="relative chart-mints">
				<div class="chart-target nav2" #nav2></div>
				<div class="mint-analytic-header z-index-1">
					<div class="mint-analytic-title">Mints &nbsp;&nbsp;<small>deposits</small></div>
					<div class="flex">
						<div class="mint-analytic-selector">
							<button matButton type="button" [matMenuTriggerFor]="chart_type_menu" [matMenuTriggerData]="{chart: 'mints'}">
								<mat-icon>bar_chart</mat-icon>
								<span class="text-nowrap font-size-s">{{ type_mints() | titlecase }}</span>
							</button>
						</div>
					</div>
				</div>
				<orc-mint-subsection-dashboard-chart
					[locale]="locale"
					[mint_analytics]="mint_analytics_mints"
					[mint_analytics_pre]="mint_analytics_mints_pre"
					[page_settings]="page_settings()"
					[mint_genesis_time]="mint_genesis_time"
					[selected_type]="type_mints()"
					[loading]="loading_analytics()"
				></orc-mint-subsection-dashboard-chart>
			</div>
			<div class="relative chart-melts">
				<div class="chart-target nav3" #nav3></div>
				<div class="mint-analytic-header z-index-1">
					<div class="mint-analytic-title">Melts &nbsp;&nbsp;<small>withdrawals</small></div>
					<div class="flex">
						<div class="mint-analytic-selector">
							<button matButton type="button" [matMenuTriggerFor]="chart_type_menu" [matMenuTriggerData]="{chart: 'melts'}">
								<mat-icon>bar_chart</mat-icon>
								<span class="text-nowrap font-size-s">{{ type_melts() | titlecase }}</span>
							</button>
						</div>
					</div>
				</div>
				<orc-mint-subsection-dashboard-chart
					[locale]="locale"
					[mint_analytics]="mint_analytics_melts"
					[mint_analytics_pre]="mint_analytics_melts_pre"
					[page_settings]="page_settings()"
					[mint_genesis_time]="mint_genesis_time"
					[selected_type]="type_melts()"
					[loading]="loading_analytics()"
				></orc-mint-subsection-dashboard-chart>
			</div>
			<div class="relative chart-swaps">
				<div class="chart-target nav4" #nav4></div>
				<div class="mint-analytic-header z-index-1">
					<div class="mint-analytic-title w-min-7">Swaps &nbsp;&nbsp;<small>internal</small></div>
					<div class="flex">
						<div class="mint-analytic-selector">
							<button matButton type="button" [matMenuTriggerFor]="chart_type_menu" [matMenuTriggerData]="{chart: 'swaps'}">
								<mat-icon>bar_chart</mat-icon>
								<span class="text-nowrap font-size-s">{{ type_swaps() | titlecase }}</span>
							</button>
						</div>
					</div>
				</div>
				<orc-mint-subsection-dashboard-chart
					[locale]="locale"
					[mint_analytics]="mint_analytics_swaps"
					[mint_analytics_pre]="mint_analytics_swaps_pre"
					[page_settings]="page_settings()"
					[mint_genesis_time]="mint_genesis_time"
					[selected_type]="type_swaps()"
					[loading]="loading_analytics()"
				></orc-mint-subsection-dashboard-chart>
			</div>
			<div class="relative chart-fee-revenue">
				<div class="chart-target nav5" #nav5></div>
				<div class="mint-analytic-header z-index-1">
					<div class="mint-analytic-title">Fee Revenue</div>
					<div class="flex">
						<div class="mint-analytic-selector">
							<button
								matButton
								type="button"
								[matMenuTriggerFor]="chart_type_menu"
								[matMenuTriggerData]="{chart: 'fee_revenue'}"
							>
								<mat-icon>bar_chart</mat-icon>
								<span class="text-nowrap font-size-s">{{ type_fee_revenue() | titlecase }}</span>
							</button>
						</div>
					</div>
				</div>
				<div class="relative">
					<orc-mint-subsection-dashboard-chart
						[locale]="locale"
						[mint_analytics]="mint_analytics_fees"
						[mint_analytics_pre]="mint_analytics_fees_pre"
						[page_settings]="page_settings()"
						[mint_genesis_time]="mint_genesis_time"
						[selected_type]="type_fee_revenue()"
						[loading]="loading_analytics()"
					></orc-mint-subsection-dashboard-chart>

					@if (!loading_analytics()) {
						@if (mint_type === 'cdk') {
							<div class="absolute top-0 right-0 bottom-0 left-0 flex flex-justify-center flex-items-center orc-surface-bg">
								<div class="flex flex-column flex-items-center flex-gap-1">
									<div><mat-icon class="icon-lg orc-outline-color mat-symbol-outline">block</mat-icon></div>
									<div class="font-size-s orc-outline-color">Fee analytics not available for CDK</div>
								</div>
							</div>
						}
						@if (mint_type === 'nutshell' && mint_fees.length === 0 && mint_fee_revenue) {
							<div class="absolute top-0 right-0 bottom-0 left-0 flex flex-justify-center flex-items-center orc-surface-bg">
								<div class="flex flex-column flex-items-center flex-gap-1">
									<div><mat-icon class="icon-lg orc-outline-color">sound_detection_dog_barking</mat-icon></div>
									<div class="font-size-s orc-outline-color">Nutshells watchdog required for analytics</div>
								</div>
							</div>
						}
						@if (mint_type === 'nutshell' && mint_fees.length === 0 && !mint_fee_revenue) {
							<div class="absolute top-0 right-0 bottom-0 left-0 flex flex-justify-center flex-items-center orc-surface-bg">
								<div class="flex flex-column flex-items-center flex-gap-1">
									<div><mat-icon class="icon-lg orc-outline-color">money_off</mat-icon></div>
									<div class="font-size-s orc-outline-color">No fee revenue</div>
								</div>
							</div>
						}
					}
				</div>
			</div>
		</div>
		@if (device_type() === 'desktop') {
			<div class="w-8 p-t-1">
				<orc-nav-tertiary
					class="mint-chart-tertiary-nav"
					[keys]="tertiary_nav()"
					[items]="tertiary_nav_items"
					(orderChange)="onTertiaryNavChange($event)"
					(keySelect)="onTertiaryNavSelect($event)"
				>
					<div class="nav-tertiary-title">Charts</div>
				</orc-nav-tertiary>
			</div>
		}
	</div>
</div>

<mat-menu #chart_type_menu="matMenu" yPosition="below" xPosition="before">
	<ng-template matMenuContent let-chart="chart">
		@for (option of chart_type_options[chart]; track option) {
			<button mat-menu-item [class.active-chart-option]="option === getChartType(chart)" (click)="onChartTypeChange(chart, option)">
				<mat-icon>{{ option === getChartType(chart) ? 'check' : '' }}</mat-icon>
				{{ option | titlecase }}
			</button>
		}
	</ng-template>
</mat-menu>

<mat-menu #chart_order_menu="matMenu" yPosition="below" xPosition="before" class="orc-sticky-menu w-min-10">
	<div class="p-l-1 p-t-0-5 chart-tertiary-nav-mobile">
		<orc-nav-tertiary
			[keys]="tertiary_nav()"
			[items]="tertiary_nav_items"
			[draggable]="false"
			(orderChange)="onTertiaryNavChange($event)"
			(keySelect)="onTertiaryNavSelect($event)"
		></orc-nav-tertiary>
	</div>
</mat-menu>
