<div class="mint-info-form-icon-container">
	<div class="mint-info-id-card">
		<div class="mint-icon-display" (click)="onIconClick()">
			<div
				class="mint-info-icon-display"
				matRipple
				[ngClass]="{
					'load-icon': icon_state === 'loading',
					'error-icon': icon_state === 'error',
					'set-icon': icon_state === 'set',
					'unset-icon orc-icon-button': icon_state === 'unset',
				}"
			>
				@switch (icon_state) {
					@case ('loading') {
						<mat-spinner [animate.enter]="form_ready ? 'enter-scale' : null" [diameter]="35"></mat-spinner>
					}
					@case ('error') {
						<mat-icon [animate.enter]="form_ready ? 'enter-scale' : null" class="icon-lg mat-symbol-outline">error</mat-icon>
					}
					@case ('unset') {
						<mat-icon [animate.enter]="form_ready ? 'enter-scale' : null" class="icon-lg mat-symbol-outline"
							>add_photo_alternate</mat-icon
						>
					}
					@default {
						<div animate.enter="orc-animation-fadein-fast" class="set-icon-interior">
							<div class="set-icon-update">
								<mat-icon class="icon-lg">edit</mat-icon>
							</div>
							<img [src]="display_icon_url" class="h-8 mint-icon-url" />
						</div>
					}
				}
			</div>
		</div>
		<div class="flex flex-grow flex-column flex-gap-1">
			<ng-content></ng-content>
		</div>
	</div>

	<form [formGroup]="form_group" (ngSubmit)="onSubmit($event)" (keydown.enter)="onSubmit($event)" (keydown.escape)="onCancel($event)">
		<orc-dynamic-form-field [hot]="form_hot" (submit)="onSubmit($event)" (cancel)="onCancel($event)">
			<mat-form-field
				appearance="fill"
				[ngClass]="form_hot ? 'orc-hot-form-field' : 'orc-cold-form-field'"
				class="w-full orc-dynamic-form-field"
			>
				<mat-label>Icon URL</mat-label>
				<textarea
					type="text"
					rows="1"
					#element_icon_url
					matInput
					[formControlName]="control_name"
					[autogrow]="true"
					placeholder="Ex. https://example.com/icon.png"
				></textarea>
			</mat-form-field>
		</orc-dynamic-form-field>
	</form>
</div>
