<div class="mint-info-form-icon-container">
    <div class="mint-info-id-card">
        <div class="mint-icon-display" (click)="onIconClick()">
            @switch (icon_state) {
                @case ('loading') {
                    <div class="mint-info-icon-display load-icon">
                        <mat-spinner [diameter]="35"></mat-spinner>
                    </div>
                }
                @case ('error') {
                    <div class="mint-info-icon-display error-icon">
                        <mat-icon class="icon-lg mat-symbol-outline">error</mat-icon>
                    </div>
                }
                @case ('empty') {
                    <div class="mint-info-icon-display add-icon orc-icon-button" matRipple>
                        <mat-icon class="icon-lg mat-symbol-outline">add_photo_alternate</mat-icon>
                    </div>
                }
                @default {
                    <div class="mint-info-icon-display set-icon">
                        <img [src]="display_icon_url" class="h-8 mint-icon-url">
                    </div>
                }
            }
        </div>
        <div class="flex flex-grow flex-column flex-gap-1">
            <ng-content></ng-content>
        </div>
    </div>

    <form
        [formGroup]="form_group"
        (ngSubmit)="onSubmit($event)"
        (keydown.enter)="onSubmit($event)"
        (keydown.escape)="onCancel($event)">        
        <orc-dynamic-form-field
            [hot]="form_hot"
            (submit)="onSubmit($event)"
            (cancel)="onCancel($event)">
            <mat-form-field [appearance]="form_hot ? 'fill' : 'outline'" class="w-full orc-dynamic-form-field">
                <mat-label>Icon URL</mat-label>
                <textarea 
                    type="text" 
                    rows="1"
                    #element_icon_url
                    matInput 
                    [formControlName]="control_name"
                    [autogrow]="true"
                    placeholder="Ex. https://example.com/icon.png"
                ></textarea>
            </mat-form-field>
        </orc-dynamic-form-field>
    </form>
</div>