@use 'molecule/molecule';

.nav-mobile-item-container {
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	@extend %relative;
	@extend %cursor-pointer;

	&:hover {
		.nav-mobile-item-button {
			@extend %orc-primary-container-bg;
		}
	}
}

.nav-mobile-item-button {
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	@extend %flex-gap-0-5;
	@extend %orc-corner-full;
	@extend %orc-surface-container-low-bg;
	@extend %orc-surface-border;
	@extend %trans-bg-fast;
	@extend %relative;
	@extend %w-2-5;
	@extend %h-2-5;
	top: -0.5rem;
}

.nav-mobile-item-name {
	@extend %font-size-xs;
	@extend %absolute;
	@extend %z-index-1;
	top: 1.5rem;
}
