<div class="primary-nav-items">
    <orc-primary-nav-item>
        <div class="m-v-0-5">
            <mat-icon class="w-1-5 h-1-5" svgIcon="bitcoin_outline"></mat-icon>
        </div>
    </orc-primary-nav-item>
    <orc-primary-nav-item>
        <div class="font-size-xxl">
            <mat-icon class="mat-symbol-outline" [inline]="true">bolt</mat-icon>
        </div>
    </orc-primary-nav-item>
    <orc-primary-nav-item>
        <div class="font-size-xxl">
            <mat-icon class="mat-symbol-outline" [inline]="true">account_balance</mat-icon>
        </div>
    </orc-primary-nav-item>
    <orc-primary-nav-item>
        <div class="font-size-xxl">
            <mat-icon class="mat-symbol-outline" [inline]="true">payments</mat-icon>
        </div>
    </orc-primary-nav-item>
</div>
