<div class="primary-nav-items">
    <orc-primary-nav-item>
        <!-- <mat-icon class="mat-symbol-outline" [inline]="true">currency_bitcoin</mat-icon> -->
        <mat-icon svgIcon="bitcoin" [inline]="true"></mat-icon>
    </orc-primary-nav-item>
    <orc-primary-nav-item>
        <mat-icon class="mat-symbol-outline" [inline]="true">bolt</mat-icon>
    </orc-primary-nav-item>
    <orc-primary-nav-item>
        <mat-icon class="mat-symbol-outline" [inline]="true">account_balance</mat-icon>
    </orc-primary-nav-item>
    <orc-primary-nav-item>
        <mat-icon class="mat-symbol-outline" [inline]="true">payments</mat-icon>
    </orc-primary-nav-item>
</div>
