<div class="primary-nav-items">
    <orc-primary-nav-item 
        navroute="bitcoin"
        icon="bitcoin"
        name="Bitcoin"
        [active]="active_section === 'bitcoin'"
        [enabled]="enabled_bitcoin"
        [online]="online_bitcoin"
        [syncing]="syncing_bitcoin"
        mode="svg">
    </orc-primary-nav-item>
    <orc-primary-nav-item 
        navroute="lightning"
        icon="bolt"
        name="Lightning"
        [active]="active_section === 'lightning'"
        [enabled]="enabled_lightning"
        [online]="online_lightning"
        [syncing]="syncing_lightning">
    </orc-primary-nav-item>
    <orc-primary-nav-item 
        navroute="mint"
        icon="account_balance"
        name="Mint"
        [active]="active_section === 'mint'"
        [enabled]="enabled_mint"
        [online]="online_mint">
    </orc-primary-nav-item> 
    <orc-primary-nav-item 
        navroute="ecash"
        icon="payments"
        name="Ecash"
        [active]="active_section === 'ecash'">
    </orc-primary-nav-item>
</div>