@use '@styles/molecule/molecule';
@use '@styles/nucleus/nucleus';

:host {
	@extend %orc-corner-small;
	@extend %overflow-hidden;
}

.help-text-container {
	@extend %orc-corner-small;
	@extend %inherit-bg;
	@extend %h-min-3;
}

.help-text-content {
	@extend %font-size-xs;
	@extend %p-h-1;
	@extend %p-v-0-5;
	@extend %orc-outline-color;
}

.standard-help-text {
	@extend %orc-surface-container-low-bg;
}

.light-help-text {
	@extend %orc-surface-container-high-bg;
}
