@use 'molecule/molecule';

.crew-icon {
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	@extend %flex-gap-1;
	@extend %w-full;
	@extend %h-full;
	@extend %orc-corner-full;
	@extend %orc-primary-bg;
	@extend %orc-on-primary-color;
}
