<div class="mint-keyset-rotation-container p-t-1">
	<mat-card appearance="outlined" class="relative overflow-hidden">
		<mat-card-content class="orc-surface-container-low-bg">
			<div class="absolute top-0-5 right-0-5">
				<button mat-icon-button (click)="close.emit()">
					<mat-icon>close</mat-icon>
				</button>
			</div>
			<div class="flex flex-gap-2 flex-wrap">
				<div class="flex-1">
					<form
						class="flex-grow flex flex-column flex-gap-1"
						[formGroup]="form_group"
						(ngSubmit)="$event.preventDefault()"
						(keydown.enter)="$event.preventDefault()"
					>
						<div class="flex flex-gap-2">
							<mat-form-field
								appearance="fill"
								hideRequiredMarker="true"
								class="w-full orc-dynamic-form-field orc-hot-form-field p-r-2"
							>
								<mat-label>File name</mat-label>
								<input type="text" matInput formControlName="filename" />
								@if (
									form_group.get('filename')?.invalid &&
									(form_group.get('filename')?.dirty || form_group.get('filename')?.touched)
								) {
									<mat-error class="font-size-xs">{{ filename_error() }}</mat-error>
								}
							</mat-form-field>
						</div>
					</form>
				</div>
				<div class="flex-1">
					<div class="flex flex-items-center flex-gap-2">
						<div>
							<mat-icon class="icon-lg">database</mat-icon>
						</div>
						<div class="flex flex-justify-center flex-items-center flex-gap-0-5">
							<div class="flex flex-column flex-gap-0-5 font-size-xs orc-outline-color font-weight-extra-light">
								<div>Database:</div>
								<div>Version:</div>
								<div>Timestamp:</div>
							</div>
							<div class="flex flex-column flex-gap-0-5 font-size-xs">
								@if (database_implementation && database_version && database_timestamp) {
									<div>{{ database_implementation }}</div>
									<div>{{ database_version }}</div>
									<div>{{ database_timestamp | localTime: 'medium' }}</div>
								} @else {
									<div class="flex flex-column flex-gap-1 orc-outline-color">
										<div class="h-0-5 w-3 orc-corner-full orc-animation-shimmer-high"></div>
										<div class="h-0-5 w-3 orc-corner-full orc-animation-shimmer-high"></div>
										<div class="h-0-5 w-3 orc-corner-full orc-animation-shimmer-high"></div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
