@use 'molecule/molecule';

.mint-analytic-chart-container {
	@extend %p-b-1;
	@extend %relative;
	max-height: max(calc(100vh - 580px), 300px);
	min-height: 300px;

	canvas {
		height: 100% !important;
		width: 100% !important;
	}
}

.no-data-overlay {
	@extend %absolute;
	@extend %top-0;
	@extend %left-0;
	@extend %right-0;
	@extend %bottom-0;
	@extend %flex;
	@extend %flex-column;
	@extend %flex-gap-1;
	@extend %flex-items-center;
	@extend %flex-justify-center;
}
