<div>
    <div class="flex flex-items-center">
        <form class="flex-grow flex flex-items-center flex-gap-1">
            <div>
                <mat-form-field hideRequiredMarker="true" class="primary-form-field">
                    <mat-label>Locale</mat-label>
                    <input 
                        type="text"
                        placeholder="Select locale"
                        aria-label="Locale"
                        matInput
                        [formControl]="locale_control"
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        @for (option of filtered_options | async; track option) {
                            <mat-option [value]="option.code">{{option.code}} - {{option.country}}</mat-option>
                        }
                    </mat-autocomplete>
                    @if( locale_control.invalid ) {
                        <mat-error class="font-size-xs">{{ locale_control_error() }}</mat-error>
                    }
                </mat-form-field>
            </div>
			<div class="m-b-1-25">
                <mat-checkbox 
                    [formControl]="system_default_control"
                    (change)="onSystemDefaultChange($event)">
                    Sync with system
                </mat-checkbox>
            </div>
        </form>

        <div class="w-max-36 m-b-1-25">
            <div>
                {{ unix_timestamp_seconds | time:'short' }}
            </div>
        </div>
    </div>
</div>