@use 'molecule/molecule';
@use 'nucleus/nucleus';

.ai-agent-contaienr {
    min-height: 20rem;
    @extend %flex;
    @extend %flex-column;
    @extend %flex-gap-1;
}

.system-message {
	background: var(--mat-sys-surface-container);
	border-radius: 8px;
	padding: 0.75rem;
	max-height: 6rem;
	overflow-y: auto;
	white-space: pre-wrap;
	word-break: break-word;
}

.tool-chip {
    @extend %orc-surface-container-high-bg;
    @extend %orc-corner-full;
    @extend %flex;
    @extend %flex-items-center;
    @extend %flex-gap-0-5;
    @extend %p-l-0-25;
    @extend %p-r-1;
    @extend %p-v-0-25;
}

.category-circle {
    @extend %flex;
    @extend %flex-items-center;
    @extend %flex-justify-center;
    @extend %orc-corner-full;
    background: color-mix(in srgb, var(--orc-status-active) 10%, transparent);
    @extend %p-0-25;

    mat-icon {
        @extend %orc-status-active-color;
    }
}

.tool-unavailable {
    .category-circle {
        background: color-mix(in srgb, var(--orc-status-inactive) 10%, transparent);

        mat-icon {
            @extend %orc-status-inactive-color;
        }
    }
}