<div class="ai-agent-contaienr">
    @if (loading()) {
        <div class="flex-grow flex flex-items-center flex-justify-center p-2">
            <mat-icon class="orc-outline-color icon-lg">spa</mat-icon>
        </div>
    } @else if (agent(); as agent) {
        <div class="flex flex-column flex-gap-1" animate.enter="orc-animation-fadein">
            <div class="flex flex-items-center flex-gap-1">
                <div class="flex-grow flex flex-items-center flex-gap-1 flex-wrap">
                    <div class="title-l">{{ agent.name }}</div>
                    <orc-ai-model
                        [model]="model()"
                        [model_options]="ai_models()"
                        [device_type]="device_type()"
                        [vendor]="ai_vendor()"
                        [favorites]="ai_favorites()"
                        (modelChange)="onModelChange($event)"
                        (favoritesChange)="onFavoritesChange($event)"
                    >
                        <button mat-button type="button">
                            <div class="font-size-xs" [class.orc-status-warning-color]="!model()">{{ model() ?? 'missing model' }}</div>
                        </button>
                    </orc-ai-model>
                </div>
                
                <button mat-icon-button type="button" class="orc-icon-button" (click)="openSettings.emit(agent)">
                    <mat-icon class="orc-outline-color">settings</mat-icon>
                </button>
            </div>
    
            <div class="font-size-xs orc-outline-color">{{ agent.description }}</div>
    
            <div class="p-t-1">
                <div class="system-message font-size-xs">{{ agent.system_message }}</div>
            </div>
            
            <div class="p-t-1">
                <orc-settings-subsection-app-ai-tool-chips
                    [tools]="tools()"
                ></orc-settings-subsection-app-ai-tool-chips>
            </div>
            
        </div>
    } @else {
        <div class="orc-outline-color">No agent configured</div>
    }
</div>
