@use 'molecule/molecule';

:host {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.event-subsection-log-container {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.event-log-control {
	@extend %orc-surface-bg;
	@extend %sticky;
	@extend %top-0;
	@extend %z-index-1;
}

