<div class="primary-nav-container">
	<orc-nav-primary-header
		[active]="active_section === 'index'"
		[block_count]="block_count"
		[user_name]="user_name()"
	></orc-nav-primary-header>
	<orc-nav-primary-items
		[active_section]="active_section"
		[enabled_bitcoin]="enabled_bitcoin"
		[enabled_lightning]="enabled_lightning"
		[enabled_mint]="enabled_mint"
		[online_bitcoin]="online_bitcoin"
		[online_lightning]="online_lightning"
		[online_mint]="online_mint"
		[syncing_bitcoin]="syncing_bitcoin"
		[syncing_lightning]="syncing_lightning"
	></orc-nav-primary-items>
	<orc-nav-primary-footer
		[active_section]="active_section"
		[active_event]="active_event"
		(save)="save.emit()"
		(cancel)="cancel.emit()"
		(abort)="abort.emit()"
	></orc-nav-primary-footer>
</div>
