<div class="flex flex-column flex-gap-1">
    <div class="title-l">Info</div>
    <div class="orc-info-table">
        <table>
            <tbody>
                <tr>
                    <td class="font-weight-extra-light orc-outline-color">Chain</td>
                    <td>{{ blockchain_info?.chain }}</td>
                </tr>
                <tr>
                    <td class="font-weight-extra-light orc-outline-color text-nowrap">Block height</td>
                    <td>
                        {{ blockcount | block }}
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-extra-light orc-outline-color text-nowrap">Chain weight</td>
                    <td>{{ blockchain_info?.size_on_disk | bytes }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>