@use 'molecule/molecule';

.agent-form-container {
    @extend %flex;
    @extend %flex-column;
    @extend %h-full;
    @extend %overflow-hidden;
}

.agent-form-header {
    @extend %p-0-5;
    @extend %flex;
    @extend %flex-items-center;
    @extend %flex-justify-between;
    flex-shrink: 0;
}

.agent-form-content {
    @extend %relative;
    @extend %p-1;
    flex: 1;
    @extend %overflow-y-auto;
}

.fullscreen-button {
    rotate: 45deg;
}

.fullscreen-system-message {
    @extend %absolute;
    @extend %top-0;
    @extend %left-0;
    @extend %right-0;
    @extend %bottom-0;
}