<div>
	<div class="title-l p-b-0-5">Balance Sheet</div>
	<mat-card appearance="outlined" class="overflow-hidden">
        <!-- <mat-card-content> -->
            <table mat-table [dataSource]="rows" class="orc-feature-table">

				<ng-container matColumnDef="Liabilities">
					<th mat-header-cell *matHeaderCellDef> Liabilities </th>
					<td mat-cell *matCellDef="let row"> 
						<div class="flex flex-items-center flex-gap-1">
							<orc-graphic-asset 
								[unit]="row.unit" 
								[height]="'1.75rem'"
								[custody]="'ecash'">
							</orc-graphic-asset>
							<span class="font-size-m" [innerHTML]="row.liabilities | amount : row.unit : 'mint'"></span>
						</div>
					</td>
				</ng-container>
			
				<ng-container matColumnDef="Assets">
					<th mat-header-cell *matHeaderCellDef> Assets </th>
					<td mat-cell *matCellDef="let row">
						<div class="flex flex-items-center flex-gap-1">
							<orc-graphic-asset 
								[unit]="row.unit" 
								[height]="'1.75rem'"
								[custody]="'lightning'">
							</orc-graphic-asset>
							<span class="font-size-m w-min-5" [innerHTML]="row.assets | amount : row.unit : 'lightning'"></span>
							<span class="font-size-m font-weight-bold orc-outline-color">{{ row.reserve_ratio }}</span>
						</div>
					</td>
				</ng-container>

				<ng-container matColumnDef="Fee">
					<th mat-header-cell *matHeaderCellDef> Fee Rate </th>
					<td mat-cell *matCellDef="let row">
						<span class="font-size-m">{{ row.fee }}%</span>
					</td>
				</ng-container>
			
				<ng-container matColumnDef="Keyset Expiration">
					<th mat-header-cell *matHeaderCellDef> Keyset Expiration </th>
					<td mat-cell *matCellDef="let row">
						@if (row.keyset_expiration === null) {
							<div>-</div>
						} @else {
							<div>{{ row.keyset_expiration }}</div>
						}
					</td>
				</ng-container>
			
				<tr mat-header-row *matHeaderRowDef="displayed_columns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayed_columns;"></tr>
			
			</table>
        <!-- </mat-card-content> -->
    </mat-card>
</div>

