<div>
	<div class="title-l p-b-1 p-l-1">Balance Sheet</div>
	<mat-card appearance="outlined" class="overflow-hidden">
		<div class="p-h-1">
            <table mat-table [dataSource]="rows" class="orc-feature-table">

				<ng-container matColumnDef="Liabilities">
					<th mat-header-cell *matHeaderCellDef> Liabilities </th>
					<td mat-cell *matCellDef="let row"> 
						<div class="flex flex-items-center flex-gap-1">
							<orc-graphic-asset 
								[unit]="row.unit" 
								[height]="'1.75rem'"
								[custody]="'ecash'">
							</orc-graphic-asset>
							<span class="font-size-m" [innerHTML]="row.liabilities | amount : row.unit : 'mint'"></span>
						</div>
					</td>
				</ng-container>
			
				<ng-container matColumnDef="Assets">
					<th mat-header-cell *matHeaderCellDef> Assets </th>
					<td mat-cell *matCellDef="let row">
						@if( lightning_enabled ) {
							<div class="flex flex-items-center flex-gap-1">
								<orc-graphic-asset 
									[unit]="row.unit" 
									[height]="'1.75rem'"
									[custody]="'lightning'">
								</orc-graphic-asset>
								<span class="font-size-m w-min-10" [innerHTML]="row.assets | amount : row.unit : 'lightning'"></span>
								<span class="font-size-m font-weight-bold orc-outline-color">{{ row.reserve_ratio }}</span>
							</div>
						}@else {
							<button mat-stroked-button (click)="navigate.emit()">Lightning Configuration</button>
						}
						
					</td>
				</ng-container>

				<ng-container matColumnDef="Keyset">
					<th mat-header-cell *matHeaderCellDef> Keyset </th>
					<td mat-cell *matCellDef="let row">
						<orc-mint-keyset
							[active]="row.active"
							[index]="row.derivation_path_index"
							[input_fee_ppk]="row.fee">
						</orc-mint-keyset>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayed_columns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayed_columns;"></tr>
			
			</table>
	    </div>
    </mat-card>
</div>

