<div class="ai-chat-message-toolcall-container">
	<div class="tool-summary orc-text-button" (click)="toggleToolDetails()">
		<div>{{ tool_title }}</div>
		<mat-icon class="orc-animation-rotate-toggle" [class.animation-expanded]="tool_expanded">keyboard_arrow_down</mat-icon>
	</div>

	<div class="orc-animation-expand-collapse p-t-0-5" [class.animation-expanded]="tool_expanded">
		<div class="orc-animation-expand-collapse-inner">
			<mat-card appearance="outlined" class="overflow-hidden">
				<div class="p-h-1 orc-surface-container-low-bg">
					<table mat-table [dataSource]="data_source" class="orc-dense-table orc-table-low">
						<ng-container matColumnDef="field">
							<th mat-header-cell *matHeaderCellDef>Form Field</th>
							<td mat-cell *matCellDef="let argument">
								<div>{{ argument.field }}</div>
							</td>
						</ng-container>

						<ng-container matColumnDef="value">
							<th mat-header-cell *matHeaderCellDef>New Value</th>
							<td mat-cell *matCellDef="let argument">
								<div>{{ argument.value }}</div>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayed_columns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayed_columns"></tr>
					</table>
				</div>
			</mat-card>
		</div>
	</div>
</div>
