<div class="p-2">
    <mat-card appearance="outlined" class="relative overflow-hidden">
        <mat-card-content class="orc-surface-container-low-bg">
            <div class="p-l-1 p-r-1 p-t-1 flex flex-column flex-gap-1">
                <orc-settings-time-timezone
					[timezone]="timezone"
					[loading]="loading"
                    (timezoneChange)="timezoneChange.emit($event)">
				</orc-settings-time-timezone>
                <orc-settings-time-locale
					[locale]="locale"
					[loading]="loading"
                    (localeChange)="localeChange.emit($event)">
				</orc-settings-time-locale>
            </div>
        </mat-card-content>
    </mat-card>
</div>


<!-- <div class="sticky-nut z-index-1">
    <div class="title-l">Melting</div>
    <div class="font-size-xs orc-outline-color p-b-0-5">Configure withdrawing from the mint</div>
    <div class="config-category-rule"></div>
</div>   -->