<div class="mint-keyset-rotation-container p-t-1">
	<mat-card appearance="outlined" class="relative overflow-hidden">
		<mat-card-content class="orc-surface-container-low-bg">
			<div class="absolute top-0-5 right-0-5">
				<button mat-icon-button (click)="close.emit()">
					<mat-icon>close</mat-icon>
				</button>
			</div>
			<div class="flex flex-gap-2 p-h-1 flex-wrap">
				<div class="flex-1 flex flex-row flex-items-center flex-gap-2 flex-wrap">
					<form class="flex">
						<div>
							<button mat-stroked-button (click)="fileInput.click()" type="button">
								<span class="text-nowrap">Select Backup</span>
							</button>
							@if (form_group.get('file')?.invalid && (form_group.get('file')?.dirty || form_group.get('file')?.touched)) {
								<mat-error class="font-size-xs">{{ file_error() }}</mat-error>
							}
							<input #fileInput type="file" hidden (change)="onFileSelected($event)" accept=".db,.sqlite,.sql,.backup" />
						</div>
					</form>
					<div class="flex flex-items-center flex-gap-2">
						<div>
							<mat-icon class="icon-lg" [class]="file_quorum ? 'file-ready' : 'file-not-ready'">database</mat-icon>
						</div>
						<div class="flex flex-justify-center flex-items-center flex-gap-1" [class.invisible]="!file_quorum">
							<div class="flex flex-column flex-gap-0-5 font-size-xs orc-outline-color font-weight-extra-light">
								<div>File:</div>
								<div class="text-nowrap">Last Modified:</div>
								<div>Size:</div>
							</div>
							<div class="flex flex-column flex-gap-0-5 font-size-xs">
								<div>{{ form_group.get('file')?.value?.name }}</div>
								<div>{{ form_group.get('file')?.value?.lastModified / 1000 | localTime: 'medium' }}</div>
								<div>{{ form_group.get('file')?.value?.size | dataBytes }}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="flex-1 p-r-1">
					<orc-form-help-text class="orc-surface-container-high-bg w-max-18 w-min-18">
						<div class="title-m">Restoring from backup</div>
						<ol class="list-gap-0-25 p-l-1">
							<li><span class="orc-status-warning-color">Shut down the mint</span></li>
							<li class="text-nowrap">Select a backup file (match current mint version)</li>
							<li>Restore the backup</li>
							<li>Start the mint</li>
						</ol>
					</orc-form-help-text>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
