<div class="mint-quote-container p-v-1">
	<div class="flex flex-gap-2 flex-wrap">
		<div class="flex-grow flex flex-items-center flex-justify-center">
			<div class="qrcode-static orc-corner-medium">
				<div #qr_canvas></div>
			</div>
		</div>
		<div class="flex flex-gap-2 flex-wrap-reverse">
			<div class="flex flex-column flex-gap-1">
				<div class="flex flex-column flex-gap-0-5">
					<div class="orc-outline-color font-weight-extra-light">Melt Quote ID</div>
					<orc-button-copy [text]="quote().id" size="sm">
						<span class="mega-string">{{ quote().id }}</span>
					</orc-button-copy>
				</div>
				<div class="flex flex-column flex-gap-0-5">
					<div class="orc-outline-color font-weight-extra-light">Request Lookup ID</div>
					@if (quote().request_lookup_id) {
						<orc-button-copy [text]="quote().request_lookup_id!" size="sm">
							<span class="mega-string">{{ quote().request_lookup_id }}</span>
						</orc-button-copy>
					} @else {
						<div class="orc-outline-variant-color">Null</div>
					}
				</div>
				<div class="flex flex-column flex-gap-0-5">
					<div class="orc-outline-color font-weight-extra-light">
						{{ quote().payment_method == 'bolt11' ? 'Bolt 11 Invoice' : 'Bolt 12 Offer' }}
					</div>
					<div class="w-max-36">
						<orc-button-copy [text]="quote().request" size="sm">
							<span class="mega-string">{{ quote().request }}</span>
						</orc-button-copy>
					</div>
				</div>
				@if (lightning_request() && !loading()) {
					<div animate.enter="orc-animation-fadein-fast" class="flex flex-column flex-gap-1">
						@if (lightning_request()?.description) {
							<div class="flex flex-gap-1 flex-wrap">
								<div class="w-8 orc-outline-color font-weight-extra-light">Description</div>
								<div>{{ lightning_request()?.description }}</div>
							</div>
						}
					</div>
				}
				<div class="flex flex-column flex-gap-0-5">
					<div class="orc-outline-color font-weight-extra-light">Fee Reserve</div>
					<div [innerHTML]="quote().fee_reserve | localAmount: quote().unit : 'mint'"></div>
				</div>
				@if (bitcoin_oracle_data(); as data) {
					<div class="flex flex-column flex-gap-0-5">
						<div class="flex flex-items-center flex-gap-0-5">
							<orc-graphic-oracle-icon [size]="2"></orc-graphic-oracle-icon>
							<div class="flex flex-column flex-gap-0-25">
								<div class="orc-outline-color font-weight-extra-light">Oracle Amount</div>
								<div class="font-size-xs orc-outline-color font-weight-extra-light text-nowrap">
									{{ data.date | timeUtc: 'date-only' }}
								</div>
							</div>
						</div>
						<div class="text-nowrap" [innerHTML]="data.price_cents | localAmount: 'usd'"></div>
					</div>
				}
			</div>

			<div class="flex flex-column flex-gap-1">
				@if (!device_desktop()) {
					<div class="flex flex-column flex-gap-0-5">
						<div class="orc-outline-color font-weight-extra-light">Created Time</div>
						<div class="text-nowrap">{{ quote().created_time | localTime: 'medium' }}</div>
					</div>
				}
				<div class="flex flex-column flex-gap-0-5">
					<div class="orc-outline-color font-weight-extra-light">Paid Time</div>
					@if (quote().paid_time) {
						<div class="flex flex-gap-0-5 flex-wrap">
							<div class="text-nowrap">{{ quote().paid_time | localTime: 'medium' }}</div>
							<div class="orc-outline-color">
								{{ quote().created_time | localTimeDelta: quote().paid_time }} after created
							</div>
						</div>
					} @else {
						<div class="orc-outline-variant-color">Not Paid</div>
					}
				</div>
				@if (lightning_request() && !loading()) {
					<div animate.enter="orc-animation-fadein-fast" class="flex flex-column flex-gap-1">
						<div class="flex flex-column flex-gap-0-5">
							<div class="orc-outline-color font-weight-extra-light text-nowrap">
								{{ quote().payment_method == 'bolt11' ? 'Bolt 11 Expiry' : 'Bolt 12 Expiry' }}
							</div>
							@if (lightning_request()?.expiry) {
								<div class="flex flex-gap-0-5 flex-wrap">
									<div class="text-nowrap">{{ lightning_request()?.expiry | localTime: 'medium' }}</div>
									<div class="text-nowrap" [ngClass]="expired_class()">{{ expired_message() }}</div>
								</div>
							} @else {
								<div class="orc-outline-variant-color">No Expiry</div>
							}
						</div>
					</div>
				}
				<div class="flex flex-column flex-gap-0-5">
					<div class="orc-outline-color font-weight-extra-light">Payment Preimage</div>
					@if (quote().payment_preimage) {
						<orc-button-copy [text]="quote().payment_preimage!" size="sm">
							<span class="mega-string">{{ quote().payment_preimage }}</span>
						</orc-button-copy>
					} @else {
						<div class="orc-outline-variant-color">Null</div>
					}
				</div>
				@if (can_set_paid()) {
					<div class="flex flex-column flex-gap-0-5">
						<div class="orc-outline-color font-weight-extra-light p-t-0-5">Actions</div>
						<div class="flex">
							<button mat-stroked-button color="primary" (click)="onSetStatePaid($event)">
								<mat-icon class="mat-symbol-outline">credit_score</mat-icon>
								Set as Paid
							</button>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
