@use 'molecule/molecule';
@use 'nucleus/nucleus';

.event-nav-tool-container {
	@extend %flex;
	@extend %flex-items-center;
	@extend %relative;
	@extend %flex-column;

	&.mobile-mode {
		@extend %flex-row;
	}
}

.event-nav-tool {
	@extend %relative;
	@extend %border;
	@extend %border-solid;
	@extend %orc-outline-border;
	@extend %orc-corner-extra-large;
	@extend %p-0-125;

	&.nav-tool-saving {
		.event-nav-tool-switch {
			@extend %orc-primary-container-bg;
			cursor: default;
		}
	}

	&.nav-tool-subscribed {
		.event-nav-tool-switch {
			@extend %orc-primary-container-bg;
		}
	}

	&.nav-tool-success {
		.event-nav-tool-switch {
			@extend %orc-tertiary-container-bg;
		}
	}

	&.nav-tool-highlight {
		@extend %orc-corner-large;
		.event-nav-tool-switch {
			@extend %orc-primary-container-bg;
			@extend %orc-corner-medium;
			@extend %w-5;
			@extend %h-5;
		}
	}

	&.nav-tool-warning {
		.event-nav-tool-switch {
			@extend %orc-on-warning-bg;
		}
	}

	&.nav-tool-error {
		.event-nav-tool-switch {
			@extend %orc-on-error-bg;
		}
	}

	&.action-nav-tool-highlight {
		.event-nav-tool-switch {
			@extend %orc-primary-container-bg;
		}
	}
}

.event-nav-tool-switch {
	@extend %cursor-pointer;
	@extend %flex;
	@extend %flex-column;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	@extend %flex-gap-1;
	@extend %w-2-5;
	@extend %h-2-5;
	@extend %orc-corner-extra-large;
	@extend %trans-bg-fast;
	@extend %border-solid;
	@extend %border-0-125;
	@extend %border-transparent;
	@extend %orc-on-surface-variant-color;
	transition: all 0.15s ease-in-out;
}

.event-nav-tool-actionable-container {
	@extend %relative;
}

.mobile-mode {
	.event-nav-tool-switch {
		@extend %flex-row;
	}

	.event-nav-tool {
		&.nav-tool-highlight {
			@extend %orc-corner-full;
			.event-nav-tool-switch {
				@extend %orc-corner-full;
				width: auto;
				@extend %h-2-5;
				@extend %p-h-1;
			}
		}
	}

	.event-nav-tool-actionable-container {
		button {
			@extend %absolute;
			@extend %right-1;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.animate-enter-scale {
	animation: enter-scale 200ms ease-out both;
}
@keyframes enter-scale {
	from {
		transform: scale(0.8);
		opacity: 0.5;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

.animate-fadein-delayed {
	animation: fade-in-150 150ms ease-in 100ms both;
}
@keyframes fade-in-150 {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
