<div class="mint-info-form-url-container">
    <form
        [formGroup]="form_group"
        (ngSubmit)="onSubmit($event)"
        (keydown.enter)="onSubmit($event)"
        (keydown.escape)="onCancel($event)">    
        <ng-container [formArrayName]="array_name">
            <div class="flex flex-items-center flex-gap-1">
                <mat-icon class="orc-outline-color">language</mat-icon>
                <orc-dynamic-form-field
                    [hot]="form_hot"
                    [invalid]="form_array.at(control_index).invalid || false"
                    [subscript_sizing]="'dynamic'"
                    (submit)="onSubmit($event)"
                    (cancel)="onCancel($event)">
                    <mat-form-field 
                        [appearance]="form_hot ? 'fill' : 'outline'"
                        subscriptSizing="dynamic"
                        class="orc-dynamic-form-field orc-array-form-field mint-url-form-field">
                        <input 
                            type="text" 
                            matInput 
                            [formControlName]="control_index" 
                            placeholder="Ex. https://my-mint.com"
                            #element_url>
                        <button
                            type="button" 
                            mat-icon-button 
                            matSuffix
                            class="orc-icon-button"
                            (click)="onRemove($event)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </mat-form-field>
                </orc-dynamic-form-field>
            </div>
        </ng-container>
    </form>
</div>