<div class="mint-balance-chart-container">
    @if (!device_mobile()) {
        <div class="flex flex-justify-evenly flex-gap-1">
            <div class="flex flex-items-center flex-gap-2">
                <div class="font-weight-light font-size-xs">Liabilities</div>
                <div class="flex flex-items-center flex-justify-center flex-gap-1">
                    @for (dataset of liability_datasets(); track dataset.label) {
                        <div class="legend-item" (click)="toggleDataset(dataset)">
                            <div class="legend-item-visual default" [style.border-color]="dataset.borderColor"></div>
                            <div class="legend-item-label" [class.hidden-dataset]="hidden_datasets().has(dataset._index)">{{ dataset.label }}</div>
                        </div>
                    }
                </div>
                
            </div>
            <div class="flex flex-items-center flex-gap-2">
                <div class="font-weight-light font-size-xs">Assets</div>
                <div class="flex flex-items-center flex-justify-center flex-gap-1">
                    @for (dataset of asset_datasets(); track dataset.label) {
                        <div class="legend-item" (click)="toggleDataset(dataset)">
                            <div class="legend-item-visual dashed" [style.border-color]="dataset.borderColor"></div>
                            <div class="legend-item-label" [class.hidden-dataset]="hidden_datasets().has(dataset._index)">{{ dataset.label }}</div>
                        </div>
                    }
                    @if (lightning_analytics_backfill_status() && lightning_analytics_backfill_status()?.is_running) {
                        <div class="orc-outline-color font-size-xs">Archiving...</div>
                    }
                </div>
            </div>
        </div>
    }@else {
        <div class="mobile-legend">
            <button matButton type="button" [matMenuTriggerFor]="legend_menu">
                <span class="text-nowrap font-size-s orc-outline-color">Legend</span>
            </button>
        </div>
    }
	@if (displayed()) {
		<canvas baseChart [data]="chart_data()" [options]="chart_options" [type]="chart_type" [plugins]="chart_plugins"></canvas>
	}
	@if (!loading() && mint_analytics().length === 0 && mint_analytics_pre().length === 0 && lightning_analytics().length === 0 && lightning_analytics_pre().length === 0) {
		<div class="no-data-overlay" animate.enter="orc-animation-fadein-fast" animate.leave="orc-animation-fadeout-fast">
			<mat-icon class="icon-lg mat-symbol-outline orc-outline-color">bar_chart_off</mat-icon>
		</div>
	}
</div>

<mat-menu #legend_menu="matMenu" yPosition="below">
	<div class="flex flex-column flex-gap-1 p-1">
		<div class="flex flex-column flex-gap-0-5">
			<div class="font-weight-light font-size-xs">Liabilities</div>
			<div class="category-rule"></div>
			<div class="flex flex-column flex-gap-1">
				@for (dataset of liability_datasets(); track dataset.label) {
                    <div class="legend-item" (click)="toggleDataset(dataset)">
                        <div class="legend-item-visual default" [style.border-color]="dataset.borderColor"></div>
                        <div class="legend-item-label" [class.hidden-dataset]="hidden_datasets().has(dataset._index)">{{ dataset.label }}</div>
                    </div>
                }
			</div>
		</div>
        <div class="flex flex-column flex-gap-0-5">
            <div class="font-weight-light font-size-xs">Assets</div>
            <div class="category-rule"></div>
            <div class="flex flex-column flex-gap-1">
                @for (dataset of asset_datasets(); track dataset.label) {
                    <div class="legend-item" (click)="toggleDataset(dataset)">
                        <div class="legend-item-visual dashed" [style.border-color]="dataset.borderColor"></div>
                        <div class="legend-item-label" [class.hidden-dataset]="hidden_datasets().has(dataset._index)">{{ dataset.label }}</div>
                    </div>
                }
            </div>
        </div>
	</div>
</mat-menu>
