<section class="section-container">
	<orc-secondary-nav>
		<div secondary-nav-header class="secondary-nav-header">	
			<orc-mint-icon 
				[icon_data]="icon_data"
				[loading]="loading"
				[error]="error">
			</orc-mint-icon>
			<orc-mint-name
				[name]="mint_info ? mint_info.name : null"
				[loading]="loading"
				[error]="error">
			</orc-mint-name>
		</div>
		<div secondary-nav-items>
			<orc-secondary-nav-item 
				name="Dashboard"
				navroute="mint"
				[active]="active_sub_section === 'dashboard'">
			</orc-secondary-nav-item>
			<orc-secondary-nav-item 
				name="Info"
				navroute="mint/info"
				[active]="active_sub_section === 'info'">
			</orc-secondary-nav-item>
			<orc-secondary-nav-item
				name="Config"
				navroute="mint/config"
				[active]="active_sub_section === 'config'">
			</orc-secondary-nav-item>
			<orc-secondary-nav-item
				name="Keysets"
				navroute="mint/keysets"
				[active]="active_sub_section === 'keysets'">
			</orc-secondary-nav-item>
			<orc-secondary-nav-item
				name="Database"
				navroute="mint/database"
				[active]="active_sub_section === 'database'">
			</orc-secondary-nav-item>
		</div>
		<div secondary-nav-toolbar class="secondary-nav-toolbar">
			<div class="section-implementation">{{ mint_info?.version }}</div>
		</div>
	</orc-secondary-nav>

    <div class="subsection-container">
      	<router-outlet></router-outlet>
    </div>
</section>