<div class="mint-icon-container">
    @switch (state) {
        @case ('loading') {
            loading...
        }
        @case ('error') {
            <div class="mint-icon-error">
                <mat-icon class="mat-symbol-outline">error</mat-icon>
            </div>
        }
        @case ('icon') {
            <img [src]="icon_url" alt="Mint Icon" class="h-2 cursor-pointer mint-icon-url" (click)="onClick()">
        }
        @case ('unset') {
            <div class="mint-icon-placeholder" matRipple (click)="onClick()">
                <mat-icon>add</mat-icon>
            </div>
        }
    }
</div>