@use 'molecule/molecule';

.messaging-vendor-icon {
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	@extend %w-2;
	@extend %h-2;
	@extend %orc-corner-full;
	@extend %orc-surface-container-bg;
	flex-shrink: 0;
	@extend %overflow-hidden;

	img {
		object-fit: contain;
		@extend %w-2;
		@extend %h-2;
	}
}

.ai-messaging-label {
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-gap-0-5;
	@extend %p-b-0-5;
	@extend %p-t-0-5;
}

.ai-messaging-text {
	@extend %flex;
	@extend %flex-column;
	@extend %text-left;
	@extend %flex-gap-0-25;
}

.ai-messaging-label-name {
	@extend %font-size-s;
	@extend %font-weight-semi-bold;
}

.ai-messaging-label-desc {
	@extend %font-size-xs;
	@extend %orc-outline-color;
}

.tab-form-field-wrapper {
	width: 70%;
}
