@use 'molecule/molecule';

.mint-data-control-container {
	@extend %p-b-1;
}

.search-field {
	@extend %w-full;
}

.filter-options {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-gap-0-5;
}

.mobile-form-field {
	width: 11rem;
}
