@use 'molecule/molecule';

:host {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.sticky-setting {
	@extend %orc-surface-bg;
	@extend %sticky;
	@extend %p-l-2;
	@extend %p-r-2;
	@extend %p-t-2;
	@extend %top-0;
}

.settings-box {
	@extend %p-2;
}

.mobile-view {
	.sticky-setting {
		@extend %p-l-1;
		@extend %p-t-1;
		@extend %p-r-1;
	}
	.settings-box {
		@extend %p-1;
	}
}
