<div class="flex flex-column flex-gap-1">
	<div class="flex flex-gap-1 relative">
		<div class="flex-grow">
			<div class="mint-quote-ttl-chart-container">
				@if (displayed()) {
					<canvas baseChart [data]="chart_data" [options]="chart_options" [type]="chart_type"></canvas>
				}
			</div>
		</div>

		@if (!loading() && quotes().length === 0) {
			<div
				class="no-data-overlay orc-surface-container-low-bg"
				animate.enter="orc-animation-fadein-fast"
				animate.leave="orc-animation-fadeout-fast"
			>
				<mat-icon class="icon-lg mat-symbol-outline orc-outline-variant-color">bar_chart_off</mat-icon>
				<div class="font-size-xs orc-outline-variant-color">No data available</div>
			</div>
		}
	</div>
</div>
