<mat-card appearance="outlined" class="relative overflow-hidden">
	<mat-card-content class="orc-surface-container-low-bg">
		<div class="p-1 flex flex-row flex-gap-2 flex-wrap">
			<div class="flex-1 flex-grow flex flex-gap-2 flex-wrap">
				<orc-crew-facehash
					[name]="form_group().get('name')?.value || ''"
					[enableBlink]="true"
					size="3.5rem"
				></orc-crew-facehash>
				<div class="flex flex-column flex-gap-1">
					<orc-settings-subsection-user-user-name
						[form_group]="form_group()"
						[control_name]="'name'"
						[invalid]="form_group().get('name')?.invalid || false"
						[dirty]="form_group().get('name')?.dirty || false"
						(cancel)="cancel_user_name.emit($event)"
						(submit)="submit_user_name.emit()"
					></orc-settings-subsection-user-user-name>
					<orc-settings-subsection-user-user-password
						[device_type]="device_type()"
						(save)="save_user_password.emit($event)"
					></orc-settings-subsection-user-user-password>
				</div>
			</div>
		</div>
	</mat-card-content>
</mat-card>
