@use 'molecule/molecule';
@use 'nucleus/nucleus';

.mint-keyset-table-container {
	@extend %p-b-1;
}

.keyset-table-sticky-header {
	top: 86px !important;
}

.more-entity-wrapper {
	@extend %overflow-hidden;
	@extend %grid;
	@extend %rows-0;
	@extend %columns-full;
	transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.more-entity-wrapper-expanded {
	@extend %rows-1;
}

.more-entity-content {
	@extend %flex;
	@extend %h-min-0;
}
