@use 'molecule/molecule';

.mint-method-chart-container {
	@extend %relative;
	max-height: 225px;
	min-height: 225px;

	canvas {
		max-height: 225px;
	}
}

.no-data-overlay {
	@extend %absolute;
	@extend %top-0;
	@extend %left-0;
	@extend %right-0;
	@extend %bottom-0;
	@extend %flex;
	@extend %flex-column;
	@extend %flex-gap-1;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	@extend %border;
	@extend %border-solid;
	@extend %orc-outline-variant-border;
	@extend %orc-corner-small;
}
