@use 'molecule/molecule';
@use 'nucleus/nucleus';

.mint-keyset-version{
    @extend %flex;
    @extend %flex-items-center;
    @extend %flex-justify-center;
    @extend %orc-corner-small;
    @extend %orc-surface-container-highest-bg;
    @extend %font-weight-bold;
    @extend %p-h-0-5;
    @extend %p-v-0-25;
}