<mat-dialog-content>
	<div class="flex flex-column flex-gap-1 flex-items-center p-2">
		<div class="flex">
			<div class="label-state label-l label-intermediate">PAID</div>
		</div>
		<div class="text-center">
			<span class="font-weight-bold">{{ data.quote.id }}</span>
		</div>
		<div class="text-center">
			This will force this {{ quote_type() }} quote’s state to <strong>PAID</strong>. The mint will then continue and attempt to
			complete the {{ quote_type() }} process for the user. This action cannot be undone.
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button mat-dialog-close>Cancel</button>
	<button mat-button [mat-dialog-close]="true"><span class="orc-success-color">Set as Paid</span></button>
</mat-dialog-actions>
