<div class="lightning-disabled-container p-1">
	<div class="flex flex-column flex-items-center flex-gap-2">
		<div class="config-container">
			<mat-form-field>
				<mat-label>Lightning Type</mat-label>
				<mat-select [(value)]="type">
					<mat-option value="lnd">lnd</mat-option>
					<mat-option value="cln">cln</mat-option>
				</mat-select>
			</mat-form-field>
			<orc-settings-general-env [env_config]="env_config_lightning"></orc-settings-general-env>
		</div>
		<orc-settings-general-env [env_config]="env_config_taproot_assets"></orc-settings-general-env>
	</div>
</div>
