<div class="p-v-1">
	<div class="flex flex-row flex-gap-2 flex-wrap">
		<div class="flex flex-column flex-gap-1">
			<div class="orc-outline-color text-center font-weight-extra-light">Invite link</div>
			<div class="flex flex-justify-center">
				<div class="qrcode-action orc-corner-medium">
					<div
						#qr_canvas
						matRipple
						[matRippleCentered]="false"
						[matRippleDisabled]="false"
						[matRippleUnbounded]="false"
						(click)="onCopyUrl()"
					></div>
				</div>
			</div>
			<div class="mega-string w-max-36 orc-text-button" (click)="onCopyUrl()">
				{{ invite_url() }}
			</div>
			<div class="flex">
				<div class="relative w-4">
					<div
						class="orc-animation-feedback absolute left-0 top-0 flex flex-gap-0-25 flex-row flex-align-center orc-outline-color"
						[class.animation-visible]="show_copy_url()"
					>
						<div class="font-size-s text-nowrap">Copied</div>
						<mat-icon class="icon-sm">content_copy</mat-icon>
					</div>
				</div>
			</div>
		</div>
		<div class="flex flex-gap-1 flex-column flex-wrap">
			@if (!device_desktop()) {
				<div class="flex flex-gap-1">
					<div class="w-6 orc-outline-color font-weight-extra-light">Label:</div>
					<div class="text-nowrap">
						@if (invite().label) {
							<div>{{ invite().label }}</div>
						} @else {
							<span class="orc-outline-color">
								<mat-icon>check_indeterminate_small</mat-icon>
							</span>
						}
					</div>
				</div>
				<div class="flex flex-gap-1">
					<div class="w-6 orc-outline-color font-weight-extra-light">Created:</div>
					<div class="flex flex-gap-1 flex-wrap">
						<span class="text-nowrap"> {{ invite().created_at | localTime: 'short' }} </span>
						<div class="text-nowrap orc-outline-color">Exipres in {{ invite().expires_at | localTimeDelta: now() }}</div>
					</div>
				</div>
			}
			<div class="flex flex-gap-1">
				<div class="w-6 orc-outline-color font-weight-extra-light">Invite key:</div>
				<div class="orc-text-button" (click)="onCopyToken()">{{ invite().token }}</div>
			</div>
			<div class="flex">
				<div class="relative w-4">
					<div
						class="orc-animation-feedback absolute left-0 top-0 flex flex-gap-0-25 flex-row flex-align-center orc-outline-color"
						[class.animation-visible]="show_copy_token()"
					>
						<div class="font-size-s text-nowrap">Copied</div>
						<mat-icon class="icon-sm">content_copy</mat-icon>
					</div>
				</div>
			</div>
			@if (!device_desktop()) {
				<div class="flex flex-gap-1">
					<div class="w-6 orc-outline-color font-weight-extra-light p-t-0-5">Actions:</div>
					<div class="flex flex-gap-1 flex-wrap">
						<button mat-stroked-button color="primary" (click)="editInvite.emit(invite())">
							<mat-icon class="mat-symbol-outline">edit</mat-icon>
							<span class="text-nowrap">Edit invite</span>
						</button>
						<button mat-stroked-button color="primary" (click)="deleteInvite.emit(invite())">
							<mat-icon class="mat-symbol-outline">delete_forever</mat-icon>
							<span class="text-nowrap">Delete invite</span>
						</button>
					</div>
				</div>
			}
		</div>
	</div>
</div>
