<div class="mint-quote-container p-v-1">
    <div class="flex flex-gap-1">
        <div>qr</div>
        <div class="flex flex-column flex-gap-0-5">
            <div class="flex flex-gap-1">
                <div>Mint Quote ID:</div> 
                <div>{{ quote.id }}</div>
            </div>
            <div class="flex flex-gap-1">
                <div>Invoice:</div> 
                <div class="mega-string">{{ quote.request }}</div>
            </div>
            <div class="flex flex-gap-1">
                <div>Pubkey:</div> 
                <div>{{ quote.pubkey }}</div>
            </div>
            <div class="flex flex-gap-1">
                <div>Request Lookup ID:</div> 
                <div>{{ quote.request_lookup_id }}</div>
            </div>
        </div>
        <div class="flex flex-column flex-gap-0-5">
            <div class="flex flex-gap-1">
                <div>Paid Time:</div> 
                @if(quote.paid_time) {
                    <div>{{ quote.paid_time | time:'medium' }}</div>
                }@else {
                    <div class="orc-outline-variant-color">Not Paid</div>
                }
            </div>
            <div class="flex flex-gap-1">
                <div>Issued Time:</div> 
                @if(quote.issued_time) {
                    <div>{{ quote.issued_time | time:'medium' }}</div>
                }@else {
                    <div class="orc-outline-variant-color">Not Issued</div>
                }
            </div>
        </div>
    </div>
</div>