@use '@styles/molecule/molecule';

.mega-string {
    max-width: 36rem;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    line-height: 1.4;
}

.mint-connection-qr{
    @extend %orc-corner-large;
    @extend %overflow-hidden;
    @extend %orc-on-secondary-container-bg;
    @extend %cursor-pointer;
    @extend %trans-bg-medium;

    &:hover {
        @extend %orc-secondary-bg;
    }
}