<div class="mint-config-form-min-container">
	<div class="flex flex-column">
		<form
			class="flex-1 flex-grow"
			[formGroup]="form_group()"
			(ngSubmit)="onSubmit($event)"
			(keydown.enter)="onSubmit($event)"
			(keydown.escape)="onCancel($event)"
		>
			<orc-form-field-dynamic
				[hot]="form_hot() ?? false"
				[invalid]="control_invalid() ?? false"
				[info]="true"
				(submit)="onSubmit($event)"
				(cancel)="onCancel($event)"
				(inform)="help_status.set(!help_status())"
			>
				<div class="orc-small-form-field-wrapper">
					<mat-form-field
						appearance="fill"
						hideRequiredMarker="true"
						[ngClass]="form_hot() ? 'orc-hot-form-field' : 'orc-cold-form-field'"
						class="w-full orc-dynamic-form-field"
					>
						<mat-label>Max amount</mat-label>
						<input
							type="text"
							matInput
							formNumberSeparator
							[formControlName]="control_name()"
							(focus)="onFocus()"
							(blur)="onBlur()"
							placeholder="Ex. 300 000"
							#element_max
						/>
						<span matSuffix class="form-suffix-text">{{ unit() | localUnit }}</span>
						<mat-hint class="font-size-xs orc-outline-color">
							<orc-mint-subsection-config-form-limit-hint
								[amounts]="stat_amounts()"
								[limit]="form_group().get(control_name())?.value"
								[type]="'max'"
							></orc-mint-subsection-config-form-limit-hint>
						</mat-hint>
						<mat-error>
							<orc-form-error [errors]="control_errors()">Invalid amount</orc-form-error>
						</mat-error>
					</mat-form-field>
				</div>
			</orc-form-field-dynamic>
		</form>
		<div class="orc-animation-expand-collapse" [class.animation-expanded]="help_status()">
			<div class="orc-animation-expand-collapse-inner">
				<div class="flex p-t-0-5 p-b-1">
					<orc-form-help-text class="orc-surface-container-high-bg">
						<div [innerHTML]="help_text()"></div>
					</orc-form-help-text>
				</div>
			</div>
		</div>
	</div>
</div>
