<mat-dialog-content>
    <div class="flex flex-column flex-gap-1 flex-items-center p-2">
        <mat-icon class="mat-symbol-outline orc-status-warning-color icon-lg">save</mat-icon>
        <div class="text-center">You have unsaved changes. Press Cancel to continue editing, or OK to lose these changes.</div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>