<mat-dialog-content>
    <div class="flex flex-column flex-gap-1 flex-items-center p-2">
        <mat-icon class="mat-symbol-outline orc-status-warning-color icon-lg">save</mat-icon>
        <div class="text-center">You have unsaved changes. Do you want to stay on this page?</div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Stay on page</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Leave page</button>
</mat-dialog-actions>