@use 'molecule/molecule';

:host {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.sticky-setting {
	@extend %orc-surface-bg;
	@extend %sticky;
	@extend %p-l-2;
	@extend %p-t-2;
	@extend %top-0;
}

.settings-box {
	@extend %p-t-2;
	@extend %p-b-2;
	@extend %p-l-2;
}

.settings-tertiary-nav {
	@extend %sticky;
	@extend %z-index-1;
	top: 3rem;
}

.settings-tertiary-nav-mobile {
	min-height: 8rem;
}

.nav-tertiary-title {
	@extend %font-size-m;
	@extend %orc-on-surface-variant-color;
	@extend %p-b-0-5;
	@extend %p-l-0-25;
}

.mobile-settings-nav {
	@extend %fixed;
	@extend %z-index-2;
	@extend %right-1;
	@extend %top-0-5;
}

.tablet-view {
	.sticky-setting {
		@extend %p-l-1;
		@extend %p-t-1;
		@extend %p-r-1;
	}
	.settings-box {
		@extend %p-1;
	}
}

.settings-location {
	grid-area: nav1;
}
.settings-theme {
	grid-area: nav2;
}
.settings-ai {
	grid-area: nav3;
}
