<div class="flex flex-gap-2">
	@if (mobile_view()) {
		<div class="mobile-settings-nav">
			<button matButton type="button" [matMenuTriggerFor]="settings_menu">
				<mat-icon>menu</mat-icon>
				<span class="text-nowrap font-size-s">Settings</span>
			</button>
		</div>
	}
	<div class="grid flex-grow" #settings_container [class.mobile-view]="mobile_view()">
		<div class="settings-location nav1" #nav1>
			<div class="sticky-setting z-index-1">
				<div class="flex flex-justify-between flex-items-end p-b-0-5">
					<div>
						<div class="title-l">Location</div>
						<div class="font-size-xs orc-outline-color">Settings for local display and timezone</div>
					</div>
				</div>
				<div class="category-rule"></div>
			</div>
			<div class="settings-box">
				<orc-settings-subsection-device-time
					[locale]="locale()"
					[timezone]="timezone()"
					[loading]="loading_static()"
					(localeChange)="onLocaleChange($event)"
					(timezoneChange)="onTimezoneChange($event)"
				></orc-settings-subsection-device-time>
			</div>
		</div>

		<div class="settings-theme nav2" #nav2>
			<div class="sticky-setting z-index-1">
				<div class="flex flex-justify-between flex-items-end p-b-0-5">
					<div>
						<div class="title-l">Theme</div>
						<div class="font-size-xs orc-outline-color">Settings for the appearance of the application</div>
					</div>
				</div>
				<div class="category-rule"></div>
			</div>
			<div class="settings-box">
				<orc-settings-subsection-device-theme
					[theme]="theme()"
					[loading]="loading_static()"
					(themeChange)="onThemeChange($event)"
				></orc-settings-subsection-device-theme>
			</div>
		</div>

		<div class="settings-ai nav3" #nav3>
			<div class="sticky-setting z-index-1">
				<div class="flex flex-justify-between flex-items-end p-b-0-5">
					<div>
						<div class="title-l">AI</div>
						<div class="font-size-xs orc-outline-color">Settings for the AI agents</div>
					</div>
				</div>
				<div class="category-rule"></div>
			</div>
			<div class="settings-box">
				<orc-settings-subsection-device-ai
					[enabled]="enabled_ai"
					[loading]="loading_ai()"
					[error]="error_ai()"
					[model_options]="ai_models()"
					[model]="model()"
					(modelChange)="onModelChange($event)"
				></orc-settings-subsection-device-ai>
			</div>
		</div>
	</div>
	@if (!mobile_view()) {
		<div class="p-r-2">
			<orc-nav-tertiary
				class="settings-tertiary-nav"
				[keys]="page_settings()?.tertiary_nav ?? []"
				[items]="tertiary_nav_items"
				(orderChange)="onTertiaryNavChange($event)"
				(keySelect)="onTertiaryNavSelect($event)"
			>
				<div class="nav-tertiary-title">Settings</div>
			</orc-nav-tertiary>
		</div>
	}
</div>

<mat-menu #settings_menu="matMenu" yPosition="below" xPosition="before" class="orc-sticky-menu w-min-10">
	<div class="p-l-1 p-t-0-5 settings-tertiary-nav-mobile">
		<orc-nav-tertiary
			[keys]="page_settings()?.tertiary_nav ?? []"
			[items]="tertiary_nav_items"
			(orderChange)="onTertiaryNavChange($event)"
			(keySelect)="onTertiaryNavSelect($event)"
		></orc-nav-tertiary>
	</div>
</mat-menu>
