@use 'molecule/molecule';

:host {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.sticky-setting {
	@extend %orc-surface-bg;
	@extend %sticky;
	@extend %p-l-2;
	@extend %p-t-2;
	@extend %top-0;
}

.settings-tertiary-nav {
	@extend %sticky;
	@extend %z-index-1;
	top: 3rem;
	height: calc(100vh - 9rem);
	@extend %overflow-y-auto;
	@extend %block;
}

.nav-tertiary-title {
	@extend %font-size-m;
	@extend %orc-on-surface-variant-color;
	@extend %p-b-0-5;
	@extend %p-l-0-25;
}

.settings-location {
	grid-area: nav1;
}
.settings-theme {
	grid-area: nav2;
}
.settings-ai {
	grid-area: nav3;
}
