<div class="mint-dashboard-container p-1">
	<div class="mint-dashboard-header">
		<orc-mint-balance-sheet 
			[balances]="mint_balances"
			[keysets]="mint_keysets"
			[loading]="loading_static_data">
		</orc-mint-balance-sheet>
		<orc-mint-connections 
			[urls]="mint_info ? mint_info.urls : null"
			[icon_url]="mint_info ? mint_info.icon_url : null"
			[time]="mint_info?.time"
			[mint_name]="mint_info?.name"
			[loading]="loading_static_data">
		</orc-mint-connections>
	</div>

	<orc-mint-analytics
		[chart_settings]="chart_settings"
		[keysets]="active_keysets"
		[loading_static_data]="loading_static_data"
		[loading_dynamic_data]="loading_dynamic_data"
		[locale]="locale"
		[selected_type]="chart_settings ? chart_settings.type : undefined"
		[mint_analytics_balances]="mint_analytics_balances"
		[mint_analytics_balances_pre]="mint_analytics_balances_pre"
		[mint_analytics_mints]="mint_analytics_mints"
		[mint_analytics_mints_pre]="mint_analytics_mints_pre"
		[mint_analytics_melts]="mint_analytics_melts"
		[mint_analytics_melts_pre]="mint_analytics_melts_pre"
		[mint_analytics_transfers]="mint_analytics_transfers"
		[mint_analytics_transfers_pre]="mint_analytics_transfers_pre"
		(date_change)="onDateChange($event)"
		(units_change)="onUnitsChange($event)"
		(interval_change)="onIntervalChange($event)"
		(type_change)="onTypeChange($event)">
	</orc-mint-analytics>
	<!-- <div class="mint-dashboard-charts">
		<div class="title-l p-1">Nutalytics</div>	
		<mat-card appearance="outlined" class="overflow-hidden">
			<mat-card-content>	
				<orc-mint-analytic-control-panel
					[chart_settings]="chart_settings"
					[keysets]="active_keysets"
					[loading]="loading_static_data"
					(date_change)="onDateChange($event)"
					(units_change)="onUnitsChange($event)"
					(interval_change)="onIntervalChange($event)"
					(type_change)="onTypeChange($event)">
				</orc-mint-analytic-control-panel>
				
				<div class="flex flex-column flex-gap-2">
					<orc-mint-analytic-chart
						[title]="'Balance Sheet'"
						[locale]="locale"
						[mint_analytics]="mint_analytics_balances"
						[mint_analytics_pre]="mint_analytics_balances_pre"
						[chart_settings]="chart_settings"
						[selected_type]="chart_settings ? chart_settings.type : undefined"
						[loading]="loading_dynamic_data">
					</orc-mint-analytic-chart>
					<orc-mint-analytic-chart
						[title]="'Mints'"
						[locale]="locale"
						[mint_analytics]="mint_analytics_mints"
						[mint_analytics_pre]="mint_analytics_mints_pre"
						[chart_settings]="chart_settings"
						[selected_type]="chart_settings ? chart_settings.type : undefined"
						[loading]="loading_dynamic_data">
					</orc-mint-analytic-chart>
					<orc-mint-analytic-chart
						[title]="'Melts'"
						[locale]="locale"
						[mint_analytics]="mint_analytics_melts"
						[mint_analytics_pre]="mint_analytics_melts_pre"
						[chart_settings]="chart_settings"
						[selected_type]="chart_settings ? chart_settings.type : undefined"
						[loading]="loading_dynamic_data">
					</orc-mint-analytic-chart>
					<orc-mint-analytic-chart
						[title]="'Transfers'"
						[locale]="locale"
						[mint_analytics]="mint_analytics_transfers"
						[mint_analytics_pre]="mint_analytics_transfers_pre"
						[chart_settings]="chart_settings"
						[selected_type]="chart_settings ? chart_settings.type : undefined"
						[loading]="loading_dynamic_data">
					</orc-mint-analytic-chart>
				</div>
			</mat-card-content>
		</mat-card>
	</div> -->
</div>