@use 'molecule/molecule';

.quote-stats-container {
	@extend %flex;
	@extend %flex-row;
	@extend %flex-gap-0-5;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	@extend %font-size-xs;
	@extend %orc-outline-color;
	@extend %text-nowrap;
}

.quote-stats-item-label {
	@extend %font-weight-extra-light;
}

.quote-stats-item-value {
	@extend %font-weight-semi-bold;
}
