<div class="auth-initialization-form-container">
	<form [formGroup]="form_group()" autocomplete="on">
		<orc-auth-section-general-formcontrol-password
			[form_group]="form_group()"
			[control_name]="'key'"
			[label]="'Setup Key'"
			[invalid]="form_group().get('key')?.invalid || false"
			[dirty]="form_group().get('key')?.dirty || false"
			[error]="errors().key"
			(cancel)="onControlCancel('key')"
		></orc-auth-section-general-formcontrol-password>
		<orc-auth-section-general-formcontrol-password
			[form_group]="form_group()"
			[control_name]="'password'"
			[label]="'Password'"
			[invalid]="form_group().get('password')?.invalid || false"
			[dirty]="form_group().get('password')?.dirty || false"
			[error]="errors().password"
			(cancel)="onControlCancel('password')"
		></orc-auth-section-general-formcontrol-password>
		<orc-auth-section-general-formcontrol-password
			[form_group]="form_group()"
			[control_name]="'password_confirm'"
			[label]="'Confirm Password'"
			[invalid]="form_group().get('password_confirm')?.invalid || false"
			[dirty]="form_group().get('password_confirm')?.dirty || false"
			[error]="errors().password_confirm"
			(cancel)="onControlCancel('password_confirm')"
		></orc-auth-section-general-formcontrol-password>
		<orc-auth-section-general-formcontrol-name
			[form_group]="form_group()"
			[control_name]="'name'"
			[label]="'Name'"
			[invalid]="form_group().get('name')?.invalid || false"
			[dirty]="form_group().get('name')?.dirty || false"
			[error]="errors().name"
			(cancel)="onControlCancel('name')"
		></orc-auth-section-general-formcontrol-name>
	</form>
</div>
