@use '@styles/molecule/molecule';
@use '@styles/nucleus/nucleus';

:host {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.mint-subsection-config-container {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.sticky-nut {
	@extend %orc-surface-bg;
	@extend %sticky;
	@extend %p-l-2;
	@extend %p-r-2;
	@extend %p-t-2;
	@extend %top-0;
}

.sticky-method {
	@extend %orc-surface-bg;
	@extend %sticky;
	@extend %p-l-2;
	@extend %p-r-2;
	top: 57px;
}

.nut-tertiary-nav {
	@extend %sticky;
	@extend %z-index-1;
	top: 3rem;
	height: calc(100vh - 9rem);
	@extend %overflow-y-auto;
	@extend %block;
}

.nav-tertiary-title {
	@extend %font-size-m;
	@extend %orc-on-surface-variant-color;
	@extend %p-b-0-5;
	@extend %p-l-0-25;
}

.nut4 {
	grid-area: nav4;
}
.nut5 {
	grid-area: nav5;
}
.nut7 {
	grid-area: nav7;
}
.nut8 {
	grid-area: nav8;
}
.nut9 {
	grid-area: nav9;
}
.nut10 {
	grid-area: nav10;
}
.nut11 {
	grid-area: nav11;
}
.nut12 {
	grid-area: nav12;
}
.nut14 {
	grid-area: nav14;
}
.nut15 {
	grid-area: nav15;
}
.nut17 {
	grid-area: nav17;
}
.nut19 {
	grid-area: nav19;
}
.nut20 {
	grid-area: nav20;
}
