<div class="mint-subsection-config-container">
    <div class="flex flex-column">

        <div class="sticky-nut z-index-1">
            <div class="title-l">Minting</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Configure depositing to the mint</div>
            <div class="config-category-rule"></div>
        </div>

        <orc-mint-config-form-enabled
            [nut]="'nut4'"
            [enabled]="form_minting.get('enabled')?.value"
            [form_group]="form_minting"
            (update)="onEnabledUpdate($event)"
        ></orc-mint-config-form-enabled>

        <orc-mint-config-form-quote-ttl
            [nut]="'nut4'"
            [form_group]="form_minting"
            [control_name]="'mint_ttl'"
            [disabled]="mint_info?.nuts?.nut4?.disabled"
            [locale]="locale"
            [loading]="data_loading"
            [quotes]="mint_quotes"
            (update)="onTtlUpdate($event)"
            (cancel)="onTtlCancel($event)"
        ></orc-mint-config-form-quote-ttl>
   
        @for (unit of minting_units; track unit) {
            <div class="sticky-method z-index-1">
                <div class="flex flex-items-center flex-gap-1 p-b-0-5">
                    <div class="font-size-xs orc-outline-color">{{ unit | titlecase }} Configuration</div>
                    <orc-graphic-asset 
                        [unit]="unit" 
                        [height]="'1rem'">
                    </orc-graphic-asset>
                    <div class="font-size-xs orc-outline-color">bolt11</div>
                </div>                
            </div>

            <div class="p-h-2 p-b-2">
                <mat-card appearance="outlined" class="relative overflow-hidden">
                    <mat-card-content class="orc-surface-container-low-bg">
                        @for (method of mint_info?.nuts?.nut4?.methods; track method; let i = $index) {
                            @if (method.unit === unit && method.method === 'bolt11') {
                                <orc-mint-config-form-bolt11 
                                    class="flex-1"
                                    [nut]="'nut4'"
                                    [index]="i"
                                    [unit]="unit"
                                    [method]="method.method"
                                    [form_group]="form_minting"
                                    [locale]="locale"
                                    [loading]="data_loading"
                                    [quotes]="mint_quotes"
                                    (update)="onMethodUpdate($event)"
                                    (cancel)="onMethodCancel($event)"
                                ></orc-mint-config-form-bolt11>
                            }
                        }
                        @if(mint_info?.nuts?.nut4?.disabled) {
                            <div class="disabled-overlay" @fadeInOut>
                                <div class="orc-outline-color font-weight-bold">MINTING DISABLED</div>
                            </div>
                        }
                    </mat-card-content>
                </mat-card>
            </div>
        }

        <div class="sticky-nut z-index-1">
            <div class="title-l">Melting</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Configure withdrawing from the mint</div>
            <div class="config-category-rule"></div>
        </div>  

        <orc-mint-config-form-enabled
            [nut]="'nut5'"
            [form_group]="form_melting"
            (update)="onEnabledUpdate($event)"
        ></orc-mint-config-form-enabled>

        <orc-mint-config-form-quote-ttl
            [nut]="'nut5'"
            [form_group]="form_melting"
            [control_name]="'melt_ttl'"
            [disabled]="mint_info?.nuts?.nut5?.disabled"
            [locale]="locale"
            [loading]="data_loading"
            [quotes]="melt_quotes"
            (update)="onTtlUpdate($event)"
            (cancel)="onTtlCancel($event)"
        ></orc-mint-config-form-quote-ttl>
        

        @for (unit of melting_units; track unit) {
            <div class="sticky-method z-index-1">
                <div class="flex flex-items-center flex-gap-1 p-b-0-5">
                    <div class="font-size-xs orc-outline-color">{{ unit | titlecase }} Configuration</div>
                    <orc-graphic-asset 
                        [unit]="unit" 
                        [height]="'1rem'">
                    </orc-graphic-asset>
                    <div class="font-size-xs orc-outline-color">bolt11</div>
                </div>                
            </div>

            <div class="p-h-2 p-b-2">
                <mat-card appearance="outlined" class="relative overflow-hidden">
                    <mat-card-content class="orc-surface-container-low-bg">
                        @for (method of mint_info?.nuts?.nut4?.methods; track method; let i = $index) {
                            @if (method.unit === unit && method.method === 'bolt11') {
                                <orc-mint-config-form-bolt11 
                                    class="flex-1"
                                    [nut]="'nut5'"
                                    [index]="i"
                                    [unit]="unit"
                                    [method]="method.method"
                                    [form_group]="form_melting"
                                    [form_status]="form_melting.get('enabled')?.value"
                                    [locale]="locale"
                                    [loading]="data_loading"
                                    [quotes]="melt_quotes"
                                    (update)="onMethodUpdate($event)"
                                    (cancel)="onMethodCancel($event)"
                                ></orc-mint-config-form-bolt11>
                            }
                        }
                        @if(mint_info?.nuts?.nut5?.disabled) {
                            <div class="disabled-overlay" @fadeInOut>
                                <div class="orc-outline-color font-weight-bold">MELTING DISABLED</div>
                            </div>
                        }
                    </mat-card-content>
                </mat-card>
            </div>
        }

        <div class="sticky-nut z-index-1">
            <div class="title-l">Token state check</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Lorem ipsum dolor sit amet, consectetur</div>
            <div class="config-category-rule"></div>
        </div>  
    </div>
</div>