<div class="mint-subsection-config-container">
    <div class="flex flex-column">

        <div class="sticky-nut z-index-1">
            <div class="title-l">Minting</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Configure depositing to the mint</div>
            <div class="config-category-rule"></div>
        </div>

        <orc-mint-config-form-enabled
            [nut]="'nut4'"
            [enabled]="form_minting.get('enabled')?.value"
            [form_group]="form_minting"
            (update)="onEnabledUpdate($event)"
        ></orc-mint-config-form-enabled>

        <orc-mint-config-form-quote-ttl
            [nut]="'nut4'"
            [form_group]="form_minting"
            [control_name]="'mint_ttl'"
            [disabled]="mint_info?.nuts?.nut4?.disabled"
            [locale]="locale"
            [loading]="data_loading"
            [quotes]="mint_quotes"
            (update)="onTtlUpdate($event)"
            (cancel)="onTtlCancel($event)"
        ></orc-mint-config-form-quote-ttl>
   
        @for (unit of minting_units; track unit) {
            <div class="sticky-method z-index-1">
                <div class="flex flex-items-center flex-gap-0-5 p-b-0-5">
                    <div class="font-size-xs orc-outline-color">{{ unit | titlecase }} Configuration</div>
                    <orc-graphic-asset 
                        [unit]="unit" 
                        [height]="'1rem'">
                    </orc-graphic-asset>
                </div>                
            </div>

            <div class="p-h-2 p-b-2">
                <mat-card appearance="outlined" class="relative overflow-hidden">
                    <mat-card-content class="orc-surface-container-low-bg">
                        @for (method of mint_info?.nuts?.nut4?.methods; track method; let i = $index) {
                            @if (method.unit === unit && method.method === 'bolt11') {
                                <orc-mint-config-form-bolt11 
                                    class="flex-1"
                                    [nut]="'nut4'"
                                    [index]="i"
                                    [unit]="unit"
                                    [method]="method.method"
                                    [form_group]="form_minting"
                                    [locale]="locale"
                                    [loading]="data_loading"
                                    [quotes]="mint_quotes"
                                    (update)="onMethodUpdate($event)"
                                    (cancel)="onMethodCancel($event)"
                                ></orc-mint-config-form-bolt11>
                            }
                        }
                        @if(mint_info?.nuts?.nut4?.disabled) {
                            <div class="disabled-overlay" @fadeInOut>
                                <div class="orc-outline-color font-weight-bold">MINTING DISABLED</div>
                            </div>
                        }
                    </mat-card-content>
                </mat-card>
            </div>
        }

        <div class="sticky-nut z-index-1">
            <div class="title-l">Melting</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Configure withdrawing from the mint</div>
            <div class="config-category-rule"></div>
        </div>  

        <orc-mint-config-form-enabled
            [nut]="'nut5'"
            [form_group]="form_melting"
            (update)="onEnabledUpdate($event)"
        ></orc-mint-config-form-enabled>

        <orc-mint-config-form-quote-ttl
            [nut]="'nut5'"
            [form_group]="form_melting"
            [control_name]="'melt_ttl'"
            [disabled]="mint_info?.nuts?.nut5?.disabled"
            [locale]="locale"
            [loading]="data_loading"
            [quotes]="melt_quotes"
            (update)="onTtlUpdate($event)"
            (cancel)="onTtlCancel($event)"
        ></orc-mint-config-form-quote-ttl>
        

        @for (unit of melting_units; track unit) {
            <div class="sticky-method z-index-1">
                <div class="flex flex-items-center flex-gap-0-5 p-b-0-5">
                    <div class="font-size-xs orc-outline-color">{{ unit | titlecase }} Configuration</div>
                    <orc-graphic-asset 
                        [unit]="unit" 
                        [height]="'1rem'">
                    </orc-graphic-asset>
                </div>                
            </div>

            <div class="p-h-2 p-b-2">
                <mat-card appearance="outlined" class="relative overflow-hidden">
                    <mat-card-content class="orc-surface-container-low-bg">
                        @for (method of mint_info?.nuts?.nut4?.methods; track method; let i = $index) {
                            @if (method.unit === unit && method.method === 'bolt11') {
                                <orc-mint-config-form-bolt11 
                                    class="flex-1"
                                    [nut]="'nut5'"
                                    [index]="i"
                                    [unit]="unit"
                                    [method]="method.method"
                                    [form_group]="form_melting"
                                    [form_status]="form_melting.get('enabled')?.value"
                                    [locale]="locale"
                                    [loading]="data_loading"
                                    [quotes]="melt_quotes"
                                    (update)="onMethodUpdate($event)"
                                    (cancel)="onMethodCancel($event)"
                                ></orc-mint-config-form-bolt11>
                            }
                        }
                        @if(mint_info?.nuts?.nut5?.disabled) {
                            <div class="disabled-overlay" @fadeInOut>
                                <div class="orc-outline-color font-weight-bold">MELTING DISABLED</div>
                            </div>
                        }
                    </mat-card-content>
                </mat-card>
            </div>
        }

        <div class="sticky-nut z-index-1">
            <div class="title-l">Token state check</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Lorem ipsum dolor sit amet, consectetur</div>
            <div class="config-category-rule"></div>
        </div>  

        <div class="p-2"> 
            <mat-card appearance="outlined" class="relative overflow-hidden">
                <mat-card-content class="orc-surface-container-low-bg">
                    <div class="flex flex-items-center flex-gap-2">
                        <div class="flex-1">
                            <div class="flex flex-items-center flex-gap-2">
                                <div class="flex-1 flex flex-items-center flex-grow">
                                    <mat-slide-toggle
                                        #toggle
                                        [checked]="mint_info?.nuts?.nut7?.supported"
                                        [disabled]="true"
                                        name="supported_07">
                                    </mat-slide-toggle>
                                    <div class="p-l-1 font-size-s">
                                        Supported
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <orc-help-text class="orc-surface-container-high-bg">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </orc-help-text>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex flex-justify-center">
                             <div class="nut-spec flex-grow" [class.disabled]="!mint_info?.nuts?.nut7?.supported">
                                <div>NUT 07</div>
                                <div class="flex flex-gap-0-5 nut-icon-graphic" [ngClass]="mint_info?.nuts?.nut7?.supported ? 'nut-icon-fill' : 'nut-icon-outline'">
                                    <mat-icon class="icon-lg">nature</mat-icon>
                                </div>
                             </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="sticky-nut z-index-1">
            <div class="title-l">Lightning fee return</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Lorem ipsum dolor sit amet, consectetur</div>
            <div class="config-category-rule"></div>
        </div>  

        <div class="p-2"> 
            <mat-card appearance="outlined" class="relative overflow-hidden">
                <mat-card-content class="orc-surface-container-low-bg">
                    <div class="flex flex-items-center flex-gap-2">
                        <div class="flex-1">
                            <div class="flex flex-items-center flex-gap-2">
                                <div class="flex-1 flex flex-items-center flex-grow">
                                    <mat-slide-toggle
                                        #toggle
                                        [checked]="mint_info?.nuts?.nut8?.supported"
                                        [disabled]="true"
                                        name="supported_08">
                                    </mat-slide-toggle>
                                    <div class="p-l-1 font-size-s">
                                        Supported
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <orc-help-text class="orc-surface-container-high-bg">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </orc-help-text>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex flex-justify-center">
                             <div class="nut-spec flex-grow" [class.disabled]="!mint_info?.nuts?.nut8?.supported">
                                <div>NUT 08</div>
                                <div class="flex flex-gap-0-5 nut-icon-graphic" [ngClass]="mint_info?.nuts?.nut8?.supported ? 'nut-icon-fill' : 'nut-icon-outline'">
                                    <mat-icon class="icon-lg">nature</mat-icon>
                                </div>
                             </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="sticky-nut z-index-1">
            <div class="title-l">Restore signatures</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Lorem ipsum dolor sit amet, consectetur</div>
            <div class="config-category-rule"></div>
        </div>  

        <div class="p-2"> 
            <mat-card appearance="outlined" class="relative overflow-hidden">
                <mat-card-content class="orc-surface-container-low-bg">
                    <div class="flex flex-items-center flex-gap-2">
                        <div class="flex-1">
                            <div class="flex flex-items-center flex-gap-2">
                                <div class="flex-1 flex flex-items-center flex-grow">
                                    <mat-slide-toggle
                                        #toggle
                                        [checked]="mint_info?.nuts?.nut9?.supported"
                                        [disabled]="true"
                                        name="supported_09">
                                    </mat-slide-toggle>
                                    <div class="p-l-1 font-size-s">
                                        Supported
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <orc-help-text class="orc-surface-container-high-bg">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </orc-help-text>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex flex-justify-center">
                             <div class="nut-spec flex-grow" [class.disabled]="!mint_info?.nuts?.nut9?.supported">
                                <div>NUT 09</div>
                                <div class="flex flex-gap-0-5 nut-icon-graphic" [ngClass]="mint_info?.nuts?.nut9?.supported ? 'nut-icon-fill' : 'nut-icon-outline'">
                                    <mat-icon class="icon-lg">nature</mat-icon>
                                </div>
                             </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="sticky-nut z-index-1">
            <div class="title-l">Spending conditions</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Lorem ipsum dolor sit amet, consectetur</div>
            <div class="config-category-rule"></div>
        </div>  

        <div class="p-2"> 
            <mat-card appearance="outlined" class="relative overflow-hidden">
                <mat-card-content class="orc-surface-container-low-bg">
                    <div class="flex flex-items-center flex-gap-2">
                        <div class="flex-1">
                            <div class="flex flex-items-center flex-gap-2">
                                <div class="flex-1 flex flex-items-center flex-grow">
                                    <mat-slide-toggle
                                        #toggle
                                        [checked]="mint_info?.nuts?.nut10?.supported"
                                        [disabled]="true"
                                        name="supported_10">
                                    </mat-slide-toggle>
                                    <div class="p-l-1 font-size-s">
                                        Supported
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <orc-help-text class="orc-surface-container-high-bg">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </orc-help-text>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex flex-justify-center">
                             <div class="nut-spec flex-grow" [class.disabled]="!mint_info?.nuts?.nut10?.supported">
                                <div>NUT 10</div>
                                <div class="flex flex-gap-0-5 nut-icon-graphic" [ngClass]="mint_info?.nuts?.nut10?.supported ? 'nut-icon-fill' : 'nut-icon-outline'">
                                    <mat-icon class="icon-lg">nature</mat-icon>
                                </div>
                             </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="sticky-nut z-index-1">
            <div class="title-l">Pay to Public Key (P2PK)</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Lorem ipsum dolor sit amet, consectetur</div>
            <div class="config-category-rule"></div>
        </div>  

        <div class="p-2"> 
            <mat-card appearance="outlined" class="relative overflow-hidden">
                <mat-card-content class="orc-surface-container-low-bg">
                    <div class="flex flex-items-center flex-gap-2">
                        <div class="flex-1">
                            <div class="flex flex-items-center flex-gap-2">
                                <div class="flex-1 flex flex-items-center flex-grow">
                                    <mat-slide-toggle
                                        #toggle
                                        [checked]="mint_info?.nuts?.nut11?.supported"
                                        [disabled]="true"
                                        name="supported_11">
                                    </mat-slide-toggle>
                                    <div class="p-l-1 font-size-s">
                                        Supported
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <orc-help-text class="orc-surface-container-high-bg">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </orc-help-text>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex flex-justify-center">
                             <div class="nut-spec flex-grow" [class.disabled]="!mint_info?.nuts?.nut11?.supported">
                                <div>NUT 11</div>
                                <div class="flex flex-gap-0-5 nut-icon-graphic" [ngClass]="mint_info?.nuts?.nut11?.supported ? 'nut-icon-fill' : 'nut-icon-outline'">
                                    <mat-icon class="icon-lg">nature</mat-icon>
                                </div>
                             </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="sticky-nut z-index-1">
            <div class="title-l">Offline ecash signature validation</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Lorem ipsum dolor sit amet, consectetur</div>
            <div class="config-category-rule"></div>
        </div>  

        <div class="p-2"> 
            <mat-card appearance="outlined" class="relative overflow-hidden">
                <mat-card-content class="orc-surface-container-low-bg">
                    <div class="flex flex-items-center flex-gap-2">
                        <div class="flex-1">
                            <div class="flex flex-items-center flex-gap-2">
                                <div class="flex-1 flex flex-items-center flex-grow">
                                    <mat-slide-toggle
                                        #toggle
                                        [checked]="mint_info?.nuts?.nut12?.supported"
                                        [disabled]="true"
                                        name="supported_12">
                                    </mat-slide-toggle>
                                    <div class="p-l-1 font-size-s">
                                        Supported
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <orc-help-text class="orc-surface-container-high-bg">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </orc-help-text>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex flex-justify-center">
                             <div class="nut-spec flex-grow" [class.disabled]="!mint_info?.nuts?.nut12?.supported">
                                <div>NUT 12</div>
                                <div class="flex flex-gap-0-5 nut-icon-graphic" [ngClass]="mint_info?.nuts?.nut12?.supported ? 'nut-icon-fill' : 'nut-icon-outline'">
                                    <mat-icon class="icon-lg">nature</mat-icon>
                                </div>
                             </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="sticky-nut z-index-1">
            <div class="title-l">Hashed Timelock Contracts (HTLCs)</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Lorem ipsum dolor sit amet, consectetur</div>
            <div class="config-category-rule"></div>
        </div>  

        <div class="p-2"> 
            <mat-card appearance="outlined" class="relative overflow-hidden">
                <mat-card-content class="orc-surface-container-low-bg">
                    <div class="flex flex-items-center flex-gap-2">
                        <div class="flex-1">
                            <div class="flex flex-items-center flex-gap-2">
                                <div class="flex-1 flex flex-items-center flex-grow">
                                    <mat-slide-toggle
                                        #toggle
                                        [checked]="mint_info?.nuts?.nut14?.supported"
                                        [disabled]="true"
                                        name="supported_14">
                                    </mat-slide-toggle>
                                    <div class="p-l-1 font-size-s">
                                        Supported
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <orc-help-text class="orc-surface-container-high-bg">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </orc-help-text>
                                </div>
                            </div>
                        </div>

                        <div class="flex-1 flex flex-justify-center">
                             <div class="nut-spec flex-grow" [class.disabled]="!mint_info?.nuts?.nut14?.supported">
                                <div>NUT 14</div>
                                <div class="flex flex-gap-0-5 nut-icon-graphic" [ngClass]="mint_info?.nuts?.nut14?.supported ? 'nut-icon-fill' : 'nut-icon-outline'">
                                    <mat-icon class="icon-lg">nature</mat-icon>
                                </div>
                             </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="sticky-nut z-index-1">
            <div class="title-l">Partial multi-path payments</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Lorem ipsum dolor sit amet, consectetur</div>
            <div class="config-category-rule"></div>
        </div>  

        <div class="p-2"> 
            <mat-card appearance="outlined" class="relative overflow-hidden">
                <mat-card-content class="orc-surface-container-low-bg">
                    <div class="flex flex-items-center flex-gap-2">
                        <div class="flex-1">
                            <div class="flex flex-items-center flex-gap-2">
                                <div class="flex-1 flex flex-items-center flex-grow">
                                    <mat-slide-toggle
                                        #toggle
                                        [checked]="mint_info?.nuts?.nut15?.methods?.length === 0 ? false : true"
                                        [disabled]="true"
                                        name="supported_15">
                                    </mat-slide-toggle>
                                    <div class="p-l-1 font-size-s">
                                        Supported
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <orc-help-text class="orc-surface-container-high-bg">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </orc-help-text>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex flex-justify-center">
                             <div class="nut-spec flex-grow" [class.disabled]="mint_info?.nuts?.nut15?.methods?.length === 0 ? true : false">
                                <div>NUT 15</div>
                                <div class="flex flex-gap-0-5 nut-icon-graphic" [ngClass]="mint_info?.nuts?.nut15?.methods?.length === 0 ? 'nut-icon-outline' : 'nut-icon-fill'">
                                    <mat-icon class="icon-lg">nature</mat-icon>
                                </div>
                             </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        @if( nut15_methods.length > 0 ) {
            <div class="sticky-method z-index-1">
                <div class="flex flex-items-center flex-gap-0-5 p-b-0-5">
                    <div class="font-size-xs orc-outline-color">Supported methods</div>
                </div>                
            </div>

            <div class="p-h-2 p-b-2">
                <div class="flex flex-items-center flex-justify-evenly flex-gap-2">
                    @for (unit of nut15_methods; track unit) {
                        <div class="flex flex-column flex-items-center flex-gap-1">
                            <div class="flex flex-items-center flex-gap-1">
                                <orc-graphic-asset 
                                    [unit]="unit.unit" 
                                    [height]="'2rem'">
                                </orc-graphic-asset>
                                <div>{{ unit.unit | unit:true }}</div>
                            </div>

                            <mat-card appearance="outlined" class="w-min-18">
                                <mat-card-content>
                                    <div class="flex flex-items-center flex-justify-center flex-gap-2 p-0-5">
                                        @for (method of unit.methods; track method) {
                                            <div class="protocol-spec">{{ method }}</div>
                                        }
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    }
                </div>
            </div>
        }

        <div class="sticky-nut z-index-1">
            <div class="title-l">WebSockets</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Lorem ipsum dolor sit amet, consectetur</div>
            <div class="config-category-rule"></div>
        </div>  

        <div class="p-2"> 
            <mat-card appearance="outlined" class="relative overflow-hidden">
                <mat-card-content class="orc-surface-container-low-bg">
                    <div class="flex flex-items-center flex-gap-2">
                        <div class="flex-1">
                            <div class="flex flex-items-center flex-gap-2">
                                <div class="flex-1 flex flex-items-center flex-grow">
                                    <mat-slide-toggle
                                        #toggle
                                        [checked]="mint_info?.nuts?.nut17?.supported"
                                        [disabled]="true"
                                        name="supported_17">
                                    </mat-slide-toggle>
                                    <div class="p-l-1 font-size-s">
                                        Supported
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <orc-help-text class="orc-surface-container-high-bg">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </orc-help-text>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex flex-justify-center">
                             <div class="nut-spec flex-grow" [class.disabled]="!mint_info?.nuts?.nut17?.supported">
                                <div>NUT 17</div>
                                <div class="flex flex-gap-0-5 nut-icon-graphic" [ngClass]="mint_info?.nuts?.nut17?.supported ? 'nut-icon-fill' : 'nut-icon-outline'">
                                    <mat-icon class="icon-lg">nature</mat-icon>
                                </div>
                             </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        @if( nut17_commands.length > 0 ) {
            <div class="sticky-method z-index-1">
                <div class="flex flex-items-center flex-gap-0-5 p-b-0-5">
                    <div class="font-size-xs orc-outline-color">Supported commands</div>
                </div>                
            </div>

            <div class="p-h-2 p-b-2">
                <div class="flex flex-items-center flex-justify-evenly flex-gap-2">
                    @for (unit of nut17_commands; track unit) {
                        <div class="flex flex-column flex-items-center flex-gap-1">
                            <div class="flex flex-items-center flex-gap-1">
                                <orc-graphic-asset 
                                    [unit]="unit.unit" 
                                    [height]="'2rem'">
                                </orc-graphic-asset>
                                <div>{{ unit.unit | unit:true }}</div>
                            </div>

                            <mat-card appearance="outlined" class="w-min-18">
                                <mat-card-content>
                                    <div class="flex flex-items-center flex-justify-center flex-gap-2 p-0-5">
                                        @for (method of unit.methods; track method.method) {
                                            <div class="flex flex-column flex-items-center">
                
                                                <div class="p-b-1 flex">
                                                    <div class="protocol-spec">{{ method.method }}</div>
                                                </div>
                                                
                                                @if( method.commands.length > 0 ) {
                                                    <div class="flex flex-column flex-items-start flex-gap-0-5">
                                                        @for (command of method.commands; track command) {
                                                            <div class="flex">
                                                                <div class="protocol-command">{{ command }}</div>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                                @else {
                                                    <div class="orc-outline-color font-size-xs">No Supported Commands</div>
                                                }

                                            </div>
                                        }
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    }
                </div>
            </div>
        }

        <div class="sticky-nut z-index-1">
            <div class="title-l">Cached Responses</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Lorem ipsum dolor sit amet, consectetur</div>
            <div class="config-category-rule"></div>
        </div>  

        <div class="p-2"> 
            <mat-card appearance="outlined" class="relative overflow-hidden">
                <mat-card-content class="orc-surface-container-low-bg">
                    <div class="flex flex-items-center flex-gap-2">
                        <div class="flex-1">
                            <div class="flex flex-items-center flex-gap-2">
                                <div class="flex-1 flex flex-items-center flex-grow">
                                    <mat-slide-toggle
                                        #toggle
                                        [checked]="mint_info?.nuts?.nut19"
                                        [disabled]="true"
                                        name="supported_19">
                                    </mat-slide-toggle>
                                    <div class="p-l-1 font-size-s">
                                        Supported
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <orc-help-text class="orc-surface-container-high-bg">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </orc-help-text>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex flex-justify-center">
                             <div class="nut-spec flex-grow" [class.disabled]="!mint_info?.nuts?.nut19">
                                <div>NUT 19</div>
                                <div class="flex flex-gap-0-5 nut-icon-graphic" [ngClass]="mint_info?.nuts?.nut19 ? 'nut-icon-fill' : 'nut-icon-outline'">
                                    <mat-icon class="icon-lg">nature</mat-icon>
                                </div>
                             </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        @if( mint_info?.nuts?.nut19 ) {
            <div class="p-h-2 p-b-2"> 
                <mat-card appearance="outlined" class="relative overflow-hidden">
                    <mat-card-content class="orc-surface-container-low-bg">
                        <div class="flex flex-gap-2">
                            <div class="flex-1 flex flex-column flex-gap-2">
                                <div class="flex flex-gap-2">
                                    <form class="flex-grow flex-1">        
                                        <orc-dynamic-form-field>
                                            <mat-form-field 
                                                appearance="fill" 
                                                class="mint-quote-ttl-form-field orc-dynamic-form-field orc-cold-form-field">
                                                <mat-label>Cache TTL</mat-label>
                                                <input 
                                                    type="number" 
                                                    [value]="mint_info?.nuts?.nut19?.ttl"
                                                    matInput 
                                                    [disabled]="true">
                                                <span matSuffix class="form-suffix-text">seconds</span>
                                            </mat-form-field>
                                        </orc-dynamic-form-field>
                                    </form>
                                    <div class="flex-1">
                                        <orc-help-text class="orc-surface-container-high-bg">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        </orc-help-text>
                                    </div>
                                </div> 
                            </div>
                            <div class="flex-1">
                                <div class="flex flex-column flex-items-center flex-gap-1">
                                    <div class="font-size-xs orc-outline-color">Cached endpoints</div>
                                    <div class="flex flex-column flex-gap-1">
                                        @for (ep of mint_info?.nuts?.nut19?.cached_endpoints; track ep.path) {
                                            <div class="flex">
                                                <div class="protocol-command orc-surface-container-high-bg">{{ ep.method }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ ep.path }}</div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        }

        <div class="sticky-nut z-index-1">
            <div class="title-l">Signature on Mint Quote</div>
            <div class="font-size-xs orc-outline-color p-b-0-5">Lorem ipsum dolor sit amet, consectetur</div>
            <div class="config-category-rule"></div>
        </div>  

        <div class="p-2"> 
            <mat-card appearance="outlined" class="relative overflow-hidden">
                <mat-card-content class="orc-surface-container-low-bg">
                    <div class="flex flex-items-center flex-gap-2">
                        <div class="flex-1">
                            <div class="flex flex-items-center flex-gap-2">
                                <div class="flex-1 flex flex-items-center flex-grow">
                                    <mat-slide-toggle
                                        #toggle
                                        [checked]="mint_info?.nuts?.nut20?.supported"
                                        [disabled]="true"
                                        name="supported_20">
                                    </mat-slide-toggle>
                                    <div class="p-l-1 font-size-s">
                                        Supported
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <orc-help-text class="orc-surface-container-high-bg">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </orc-help-text>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex flex-justify-center">
                             <div class="nut-spec flex-grow" [class.disabled]="!mint_info?.nuts?.nut20?.supported">
                                <div>NUT 20</div>
                                <div class="flex flex-gap-0-5 nut-icon-graphic" [ngClass]="mint_info?.nuts?.nut20?.supported ? 'nut-icon-fill' : 'nut-icon-outline'">
                                    <mat-icon class="icon-lg">nature</mat-icon>
                                </div>
                             </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>