<mat-sidenav-container>
	<mat-sidenav #primarySidenav mode="side" position="start" class="primary-sidenav" [opened]="primary_nav_open()">
		<orc-nav-primary
			[active_section]="active_section"
			[active_event]="active_event"
			[enabled_bitcoin]="enabled_bitcoin"
			[enabled_lightning]="enabled_lightning"
			[enabled_mint]="enabled_mint"
			[online_bitcoin]="online_bitcoin"
			[online_lightning]="online_lightning"
			[online_mint]="online_mint"
			[syncing_bitcoin]="syncing_bitcoin"
			[syncing_lightning]="syncing_lightning"
			[user_name]="user_name"
			[block_count]="block_count"
			(cancel)="onCancelPendingEvent()"
			(abort)="onAbortSubscribedEvent()"
			(save)="onSavePendingEvent()"
		></orc-nav-primary>
	</mat-sidenav>
	<div class="interior-container">
		<div class="interior-section-container">
			<div class="interior-router-outlet-container">
				@if (overlayed()) {
					<div
						class="orc-route-overlay"
						animate.enter="orc-route-animation-overlay-in"
						animate.leave="orc-route-animation-overlay"
					>
						<mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
					</div>
				}
				<router-outlet></router-outlet>
				<orc-event-general-stack [active_event]="active_event" [class.ai_enabled]="ai_enabled"></orc-event-general-stack>
			</div>
			@if (ai_enabled) {
				<orc-ai-nav
					[active_agent]="active_agent"
					[active_chat]="active_chat"
					[model]="model"
					[model_options]="ai_models"
					[actionable]="ai_actionable"
					[content]="user_content"
					[conversation]="ai_conversation"
					[tool_length]="ai_tool_calls"
					[message_length]="ai_conversation?.messages?.length"
					[log_open]="sidenav ? sidenav.opened : false"
					(command)="onCommand()"
					(modelChange)="onModelChange($event)"
					(toggleLog)="onToggleLog()"
				></orc-ai-nav>
			}
		</div>
	</div>
	<mat-sidenav #aiSidenav mode="side" position="end">
		<orc-ai-chat-log
			[conversation]="ai_conversation"
			[active_chat]="active_chat"
			[revision]="ai_revision"
			[agent_definition]="ai_agent_definition()"
			(clear)="onClearConversation()"
		></orc-ai-chat-log>
	</mat-sidenav>
</mat-sidenav-container>
