<div class="interior-container">
	<orc-primary-nav 
		[active_section]="active_section"
		[active_event]="active_event"
		[block_count]="block_count"
		[enabled_bitcoin]="enabled_bitcoin"
		[enabled_lightning]="enabled_lightning"
		[enabled_mint]="enabled_mint"
		(cancel)="onCancelPendingEvent()"
		(save)="onSavePendingEvent()">
	</orc-primary-nav>
	<div class="interior-section-container">
		<div class="interior-router-outlet-container">
			<router-outlet></router-outlet>
		</div>
		@if(ai_enabled) {
			<orc-ai-nav 
				[active_agent]="active_agent"
				[active_chat]="active_chat"
				[model]="model"
				[model_options]="ai_models"
				[actionable]="ai_actionable"
				[content]="user_content"
				(command)="onCommand()"
				(modelChange)="onModelChange($event)">
			</orc-ai-nav>
		}
	</div>
	<!-- <div> todo ai chat log </div> -->
</div>