@use 'molecule/molecule';

.interior-container {
	@extend %flex;
	@extend %flex-row;
	@extend %h-full;
	@extend %w-full;
	@extend %overflow-hidden;
}

.interior-section-container {
	@extend %flex-grow;
	@extend %flex;
	@extend %flex-column;
	@extend %h-dvh;
	@extend %w-full;
	@extend %overflow-hidden;
}

.interior-router-outlet-container {
	@extend %flex-grow;
	@extend %flex;
	@extend %flex-column;
	@extend %w-min-0;
	@extend %overflow-hidden;
	@extend %relative;
}

.primary-sidenav {
	@extend %w-7;
	@extend %transparent-bg;
}
