@use 'molecule/molecule';
@use 'nucleus/nucleus';

:host {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.mint-subsection-config-container {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.sticky-nut {
	@extend %orc-surface-bg;
	@extend %sticky;
	@extend %p-l-2;
	@extend %p-r-1;
	@extend %p-t-2;
	@extend %top-0;
}

.sticky-method {
	@extend %orc-surface-bg;
	@extend %sticky;
	@extend %p-l-2;
	@extend %p-r-1;
	top: 57px;
}

.nut-tertiary-nav {
	@extend %sticky;
	@extend %z-index-1;
	top: 3rem;
	height: calc(100vh - 9rem);
	@extend %overflow-y-auto;
	@extend %block;
}

.nav-tertiary-title {
	@extend %font-size-m;
	@extend %orc-on-surface-variant-color;
	@extend %p-b-0-5;
	@extend %p-l-0-25;
}

.nav4 {
	grid-area: nav4;
}
.nav5 {
	grid-area: nav5;
}
.nav7 {
	grid-area: nav7;
}
.nav8 {
	grid-area: nav8;
}
.nav9 {
	grid-area: nav9;
}
.nav10 {
	grid-area: nav10;
}
.nav11 {
	grid-area: nav11;
}
.nav12 {
	grid-area: nav12;
}
.nav14 {
	grid-area: nav14;
}
.nav15 {
	grid-area: nav15;
}
.nav17 {
	grid-area: nav17;
}
.nav19 {
	grid-area: nav19;
}
.nav20 {
	grid-area: nav20;
}
