// Icon Library
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
}


// Font Family Normal
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  src: url('../../public/font/BaiJamjuree-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  src: url('../../public/font/BaiJamjuree-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  src: url('../../public/font/BaiJamjuree-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  src: url('../../public/font/BaiJamjuree-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  src: url('../../public/font/BaiJamjuree-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  src: url('../../public/font/BaiJamjuree-Bold.ttf') format('truetype');
  font-weight: 700;
}

// Font Family Italic
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  src: url('../../public/font/BaiJamjuree-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  src: url('../../public/font/BaiJamjuree-LightItalic.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  src: url('../../public/font/BaiJamjuree-Italic.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  src: url('../../public/font/BaiJamjuree-MediumItalic.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  src: url('../../public/font/BaiJamjuree-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  src: url('../../public/font/BaiJamjuree-BoldItalic.ttf') format('truetype');
  font-weight: 700;
}