<div class="flex flex-gap-2">
	@if (device_type() !== 'desktop') {
		<div class="mobile-settings-nav">
			<button matButton type="button" [matMenuTriggerFor]="settings_menu">
				<mat-icon>menu</mat-icon>
				<span class="text-nowrap font-size-s">Settings</span>
			</button>
		</div>
	}
	<div class="grid flex-grow" #settings_container [class.tablet-view]="device_type() !== 'desktop'">
		<div class="settings-bitcoin nav1" #nav1>
			<div class="sticky-setting z-index-1">
				<div class="flex flex-justify-between flex-items-end p-b-0-5">
					<div>
						<div class="title-l">Bitcoin</div>
						<div class="font-size-xs orc-outline-color">Bitcoin settings</div>
					</div>
				</div>
				<div class="category-rule"></div>
			</div>
			<div class="settings-box">
				<orc-settings-subsection-app-bitcoin
					[bitcoin_enabled]="bitcoin_enabled"
					[bitcoin_oracle_enabled]="initial_settings()?.bitcoin_oracle ?? false"
					[form_group]="form_bitcoin"
					[device_type]="device_type()"
					(update_oracle)="onUpdate()"
				></orc-settings-subsection-app-bitcoin>
			</div>
		</div>

		<div class="settings-ai nav2" #nav2>
			<div class="sticky-setting z-index-1">
				<div class="flex flex-justify-between flex-items-end p-b-0-5">
					<div>
						<div class="title-l">AI</div>
						<div class="font-size-xs orc-outline-color">AI settings</div>
					</div>
				</div>
				<div class="category-rule"></div>
			</div>
			<div class="settings-box">
				<orc-settings-subsection-app-ai
					[ai_enabled]="initial_settings()?.ai_enabled ?? false"
					[form_group]="form_ai"
					[device_type]="device_type()"
					(update)="onUpdate()"
					(submit)="onSubmit(form_ai, $event)"
					(cancel)="onCancel(form_ai, $event)"
				>
					></orc-settings-subsection-app-ai
				>
			</div>
		</div>
	</div>
	@if (device_type() === 'desktop') {
		<div class="p-r-2">
			<orc-nav-tertiary
				class="settings-tertiary-nav"
				[keys]="page_settings()?.tertiary_nav ?? []"
				[items]="tertiary_nav_items"
				(orderChange)="onTertiaryNavChange($event)"
				(keySelect)="onTertiaryNavSelect($event)"
			>
				<div class="nav-tertiary-title">Settings</div>
			</orc-nav-tertiary>
		</div>
	}
</div>

<mat-menu #settings_menu="matMenu" yPosition="below" xPosition="before" class="orc-sticky-menu w-min-10">
	<div class="p-l-1 p-t-0-5 settings-tertiary-nav-mobile">
		<orc-nav-tertiary
			[keys]="page_settings()?.tertiary_nav ?? []"
			[items]="tertiary_nav_items"
			(orderChange)="onTertiaryNavChange($event)"
			(keySelect)="onTertiaryNavSelect($event)"
		></orc-nav-tertiary>
	</div>
</mat-menu>
