<div class="p-2 flex flex-gap-2">
    <div class="flex-1">
        <orc-mint-info-form-icon [icon_url]="init_info.icon_url">
            <orc-mint-info-form-name 
                [name]="init_info.name"
                [agent_name]="agent_info.name"
                (update)="onNameUpdate($event)">
            </orc-mint-info-form-name>
            <orc-mint-info-form-description [description]="init_info.description"></orc-mint-info-form-description>
        </orc-mint-info-form-icon>
    </div>
    <div class="flex-1">
        Coming Soon...
    </div>
</div>