<div class="mint-subsection-info-container p-2">
    <div class="flex flex-gap-1 flex-grow">
        <div class="flex-1 flex flex-column flex-gap-1">
            <orc-mint-info-form-icon 
                [icon_url]="init_info.icon_url"
                [form_group]="form_info"
                [control_name]="'icon_url'"
                (update)="onControlUpdate($event)"
                (cancel)="onControlCancel($event)">
                <orc-mint-info-form-name 
                    [form_group]="form_info"
                    [control_name]="'name'"
                    (update)="onControlUpdate($event)"
                    (cancel)="onControlCancel($event)">
                </orc-mint-info-form-name>
                <orc-mint-info-form-description 
                    [form_group]="form_info"
                    [control_name]="'description'"
                    (update)="onControlUpdate($event)"
                    (cancel)="onControlCancel($event)">
                </orc-mint-info-form-description>
            </orc-mint-info-form-icon>
            <orc-mint-info-form-description-long
                [form_group]="form_info"
                [control_name]="'description_long'"
                (update)="onControlUpdate($event)"
                (cancel)="onControlCancel($event)">
            </orc-mint-info-form-description-long>
        </div>
        <div class="flex-1 flex flex-column flex-gap-1">
            <orc-mint-info-form-urls
                [form_group]="form_info"
                [control_name]="'urls'"
                (update)="onControlUpdate($event)"
                (cancel)="onControlCancel($event)">
            </orc-mint-info-form-urls>
        </div>
    </div>
    <orc-mint-info-form-motd
        [form_group]="form_info"
        [control_name]="'motd'"
        [motd]="init_info.motd"
        (update)="onControlUpdate($event)"
        (cancel)="onControlCancel($event)">
    </orc-mint-info-form-motd>
</div>
