<div class="index-lightning-header-container" [class.mobile-header]="mobile_view()">
	<div class="header-box flex flex-items-center flex-gap-0-5 p-b-0-5">
		<mat-icon class="mat-symbol-outline">bolt</mat-icon>
		<div class="title-l">Lightning</div>
	</div>
	<div class="header-box p-b-0-5">
		@if (enabled() && !loading()) {
			<div animate.enter="orc-animation-fadein" class="flex flex-gap-1">
				<div class="flex flex-items-center flex-gap-0-5">
					<orc-nav-primary-status
						[size]="mobile_view() ? 'medium' : 'small'"
						[enabled]="enabled()"
						[online]="!error()"
						[syncing]="syncing()"
					></orc-nav-primary-status>
					@if (!mobile_view()) {
						<div class="orc-outline-color">{{ state() }}</div>
					}
				</div>
			</div>
		}
	</div>
	@if (!mobile_view()) {
		<div class="flex-grow flex h-3">
			@for (item of items(); track item.navroute) {
				<orc-nav-secondary-item [name]="item.name" [navroute]="item.navroute"> </orc-nav-secondary-item>
			}
		</div>
	}
	<div>
		@if (enabled() && !loading()) {
			<div animate.enter="orc-animation-fadein" class="orc-outline-color font-size-xs protocol-version">
				{{ lightning_info().version }}
			</div>
		}
	</div>
	@if (mobile_view()) {
		<div class="flex-grow flex flex-items-center flex-justify-end">
			<button mat-icon-button class="orc-icon-button" (click)="onMenuClick()">
				<mat-icon>menu</mat-icon>
			</button>
		</div>
	}
</div>
