<div class="mint-config-form-quote-ttl-container">
    <div class="flex flex-gap-2">
        <form
            class="flex-grow flex-1"
            [formGroup]="form_group"
            (ngSubmit)="onSubmit($event)"
            (keydown.enter)="onSubmit($event)"
            (keydown.escape)="onCancel($event)">        
            <orc-dynamic-form-field
                [hot]="form_hot"
                [invalid]="form_group.get(control_name)?.invalid || false"
                (submit)="onSubmit($event)"
                (cancel)="onCancel($event)">
                <mat-form-field 
                    appearance="fill" 
                    hideRequiredMarker="true"
                    [ngClass]="form_hot ? 'orc-hot-form-field' : 'orc-cold-form-field'"
                    class="mint-quote-ttl-form-field orc-dynamic-form-field">
                    <mat-label>Quote TTL (seconds)</mat-label>
                    <input 
                        type="number" 
                        step="1"
                        min="0"
                        max="3600"
                        matInput 
                        [formControlName]="control_name" 
                        placeholder="Ex. 30"
                        #element_quote_ttl>
                    @if (form_group.get(control_name)?.invalid && (form_group.get(control_name)?.dirty || form_group.get(control_name)?.touched)) {
                        <mat-error class="font-size-xs">
                            @if (form_group.get(control_name)?.hasError('required')) {
                                TTL is required
                            } @else if (form_group.get(control_name)?.hasError('min')) {
                                TTL must be at least {{form_group.get(control_name)?.getError('min')?.min}} second
                            } @else if (form_group.get(control_name)?.hasError('max')) {
                                TTL cannot exceed {{form_group.get(control_name)?.getError('max')?.max}} seconds
                            } @else if (form_group.get(control_name)?.hasError('orchardMicros')) {
                                Invalid TTL format
                            } @else {
                                Invalid TTL
                            }
                        </mat-error>
                    }
                </mat-form-field>
            </orc-dynamic-form-field>
        </form>
        <div class="flex-1">
            <orc-help-text>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </orc-help-text>
        </div>
    </div>
</div>