@use 'molecule/molecule';

.dynamic-form-field-container {
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-gap-0-5;
	@extend %relative;

	.form-hot {
		.dynamic-actions {
			@extend %visible;
		}
		.dynamic-info {
			@extend %invisible;
		}
	}

	.form-invalid {
		.dynamic-actions {
			@extend %m-b-1-25;
		}
		.dynamic-info {
			@extend %m-b-1-25;
		}
	}
}

.dynamic-actions {
	@extend %flex;
	@extend %flex-items-center;
	@extend %invisible;

	@media (max-width: 599px) {
		display: none;
	}
}

.dynamic-info {
	@extend %absolute;
	@extend %visible;

	@media (max-width: 599px) {
		position: relative;
	}
}
