<div class="dynamic-form-field-container">
	<ng-content></ng-content>
	<div class="dynamic-actions" [class.form-hot]="hot()" [class.form-invalid]="invalid() && subscript_sizing() === 'dynamic'">
		@if (save()) {
			<button
				[disabled]="invalid()"
				type="button"
				mat-icon-button
				[class.m-b-1-25]="subscript_sizing() === 'default'"
				class="orc-icon-button"
				(click)="submit.emit($event)"
			>
				<mat-icon>save</mat-icon>
			</button>
		}
		<button
			type="button"
			mat-icon-button
			[class.m-b-1-25]="subscript_sizing() === 'default'"
			class="orc-icon-button"
			(click)="cancel.emit($event)"
		>
			<mat-icon>cancel</mat-icon>
		</button>
	</div>
</div>
