@use 'molecule/molecule';

.dynamic-form-field-container {
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-gap-0-5;
}

.dynamic-actions {
	@extend %flex;
	@extend %flex-items-center;
	@extend %invisible;

	&.form-hot {
		@extend %visible;
	}

	&.form-invalid {
		@extend %m-b-1-25;
	}

	@media (max-width: 600px) {
		display: none;
	}
}
