@use 'molecule/molecule';
@use 'nucleus/nucleus';

.index-mint-header-container {
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-gap-0-5;
	@extend %flex-justify-between;

	&.tablet-header {
		@extend %flex-gap-2;

		.header-box {
			@extend %w-min-0;
		}
	}
}

.header-box {
	@extend %w-min-10;
}
