<orc-form-field-dynamic [hot]="hot()" [invalid]="invalid()" [standalone]="false" (cancel)="onCancel($event)">
	<mat-form-field
		appearance="fill"
		hideRequiredMarker="true"
		[ngClass]="hot() ? 'orc-hot-form-field' : 'orc-cold-form-field'"
		class="w-full orc-dynamic-form-field"
		[formGroup]="form_group()"
	>
		<mat-label>{{ label() }}</mat-label>
		<input
			type="text"
			matInput
			[formControlName]="control_name()"
			(focus)="focused.set(true)"
			(blur)="onBlur()"
			(keydown.enter)="enter.emit()"
			#element_control
		/>
		@if (error()) {
			<mat-error class="font-size-xs">{{ error() }}</mat-error>
		}
	</mat-form-field>
</orc-form-field-dynamic>
