
<div class="p-2">

    <div class="flex flex-column flex-gap-2">
        @if( errors_lightning.length > 0 ){
            <orc-error-resolve [error]="errors_lightning[0]" mode="small"></orc-error-resolve>
        }
        @if( errors_taproot_assets.length > 0 ){
            <orc-error-resolve [error]="errors_taproot_assets[0]" mode="small"></orc-error-resolve>
        }
    </div>

    <div class="flex flex-gap-1 flex-grow">
        <div class="flex-1">
            <div class="flex flex-column flex-gap-1">
                <div class="title-l">Info</div>
                <div class="orc-info-table">
                    <table>
                        <tbody>
                            <tr>
                                <td class="font-weight-extra-light orc-outline-color">Chain</td>
                                <td>{{ blockchain_info?.chain }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-extra-light orc-outline-color text-nowrap">Block height</td>
                                <td>
                                    @if( blockchain_info?.initialblockdownload ) {
                                        {{ blockchain_info?.blocks | block }}
                                    } @else {
                                        {{ blockcount | block }}
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-extra-light orc-outline-color text-nowrap">Chain weight</td>
                                <td>{{ blockchain_info?.size_on_disk | bytes }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="flex-1">
            <div class="flex flex-column flex-gap-1">
                <div class="title-l">Hot wallet</div>
                <mat-card appearance="outlined" class="overflow-hidden">
                    <div class="p-h-1">
                        <table mat-table [dataSource]="data_source" class="orc-feature-table">
            
                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef> Total </th>
                                <td mat-cell *matCellDef="let row"> 
                                    <div class="flex flex-items-center flex-gap-2">
                                        <orc-graphic-asset 
                                            [unit]="row.unit" 
                                            [height]="'2rem'"
                                            [custody]="'hot'"
                                            [asset_id]="row.asset_id">
                                        </orc-graphic-asset>
                                        <span class="text-nowrap font-size-l flex-grow" [innerHTML]="row.amount | amount : row.unit : 'bitcoin'"></span>
                                    </div>
                                </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="utxos">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let row">
                                    <orc-bitcoin-utxo-stack 
                                        [unit]="row.unit"
                                        [coins]="row.utxos"
                                        [asset_id]="row.asset_id">
                                    </orc-bitcoin-utxo-stack> 
                                </td>
                            </ng-container>
            
                            <tr mat-header-row *matHeaderRowDef="displayed_columns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayed_columns;"></tr>
                        
                        </table>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="flex-1">
            <div class="title-l">Mempool</div>
        </div>
    </div>
</div>