@use 'molecule/molecule';
@use 'nucleus/nucleus';

:host {
	@extend %flex-grow;
	@extend %flex;
	@extend %w-max-18;
}

.nut-spec {
	@extend %orc-corner-small;
	@extend %font-weight-bold;
	@extend %p-h-1;
	@extend %p-v-0-5;
	@extend %cursor-pointer;
	@extend %orc-primary-bg;
	@extend %orc-on-primary-color;
	@extend %flex-grow;
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-between;
	@extend %flex-gap-2;
	font-size: 2.5rem;

	&.disabled {
		@extend %orc-outline-variant-bg;
		@extend %orc-outline-color;
	}

	&:hover {
		@extend %orc-primary-container-color;
	}
}
