<div class="flex flex-items-start">
	<div class="flex-grow flex flex-items-start flex-justify-between">
		<form class="flex flex-items-center flex-gap-1" (ngSubmit)="onSubmit($event)" (keydown.enter)="onSubmit($event)">
			<div>
				<mat-form-field hideRequiredMarker="true" class="primary-form-field">
					<mat-label>Locale</mat-label>
					<input
						type="text"
						placeholder="Select locale"
						aria-label="Locale"
						matInput
						[formControl]="locale_control"
						[matAutocomplete]="auto"
					/>
					<mat-autocomplete #auto="matAutocomplete">
						@for (option of filtered_options | async; track option) {
							<mat-option [value]="option.code">{{ option.code }} - {{ option.country }}</mat-option>
						}
					</mat-autocomplete>
					@if (locale_control.invalid) {
						<mat-error class="font-size-xs">{{ locale_control_error() }}</mat-error>
					}
				</mat-form-field>
			</div>
			<div class="m-b-1-25">
				<mat-checkbox [formControl]="system_default_control" (change)="onSystemDefaultChange($event)">
					Sync with device
				</mat-checkbox>
			</div>
		</form>

		<div class="w-max-18">
			<orc-form-help-text class="orc-surface-container-high-bg">
				Select a locale to localize the display for information like dates, times, and numbers.
			</orc-form-help-text>
		</div>
	</div>

	<div class="flex-grow-2 w-max-24">
		<div class="flex flex-items-center flex-justify-center">
			<div class="orc-outline-color">
				<!-- {{ unix_timestamp_seconds | time: 'short' }} -->
				
				<span class="text-nowrap font-size-m" [innerHTML]="test | localAmount: 'sat' : 'lightning'"></span>
			</div>
		</div>
	</div>
</div>
