<div class="event-log-detail-container p-v-1">
    <div class="flex flex-column flex-gap-1">

        @if (device_type() === 'tablet' || device_type() === 'mobile') {
            <div class="flex flex-items-center">
                @if (device_type() === 'mobile'){
                    <div class="flex-1">
                        <orc-event-subsection-log-section-chip [section]="event_log().section"></orc-event-subsection-log-section-chip>
                    </div>
                }
                <div class="flex-1">
                    <div class="flex flex-column flex-gap-0-5">
                        <div class="orc-outline-color font-weight-extra-light">Time</div>
                        <span class="text-nowrap font-size-s">{{ event_log().timestamp | localTime: 'medium' }}</span>
                    </div>
                </div>
            </div>
        }

        <div class="flex flex-column flex-gap-1">
            @for (detail of event_log().details; track detail.id) {
                <div class="orc-low-card p-1">
                    hello world
                </div>
            }
        </div>
        
        <!-- Event log details -->
         <!-- <div>
            <pre>
                {{ event_log() | json }}
            </pre>
         </div> -->
    </div>
</div>
