@use 'molecule/molecule';
@use 'nucleus/nucleus';

.event-log-detail-container {
	@extend %flex;
	@extend %flex-column;
	@extend %w-full;
}

.detail-card {
	@extend %flex;
	@extend %flex-column;
	@extend %overflow-hidden;
	@extend %w-min-18;
	// min-width: 15rem;
}

.detail-card-header {
	@extend %p-h-1;
	@extend %p-v-0-5;
	border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.detail-arrow-icon {
	@extend %orc-outline-color;
	font-size: 1rem;
	width: 1rem;
	height: 1rem;
}

.detail-old-value {
	text-decoration: line-through;
	opacity: 0.7;
}
