<section class="section-container">
    <div class="subsection-container">
        <div class="auth-subsection-container p-2">
            <mat-card appearance="outlined" class="relative overflow-hidden">
                <mat-card-content class="orc-surface-container-low-bg">
                    <orc-auth-password 
                        [form_group]="form_auth"
                        [control_name]="'password'"
                        (update)="onControlUpdate($event)"
                        (cancel)="onControlCancel($event)">
                    </orc-auth-password>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>