@use 'molecule/molecule';

:host {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.ecash-dashboard-container {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
	@extend %flex-gap-1;
	@extend %flex-items-center;
	@extend %flex-justify-center;
}
