<div class="flex flex-column flex-items-center flex-gap-1">
    <div class="flex flex-items-center flex-gap-1">
        <orc-graphic-asset 
            [unit]="nut15_method.unit" 
            [height]="'2rem'">
        </orc-graphic-asset>
        <div>{{ nut15_method.unit | unit:true }}</div>
    </div>

    <mat-card appearance="outlined" class="w-min-18">
        <mat-card-content>
            <div class="flex flex-items-center flex-justify-center flex-gap-2 p-0-5">
                @for (method of nut15_method.methods; track method) {
                    <div class="protocol-spec">{{ method }}</div>
                }
            </div>
        </mat-card-content>
    </mat-card>
</div>