<!-- <button mat-icon-button type="button" [disabled]="!actionable" (click)="command.emit()">
	<mat-icon
		class="ai-input-action"
		[class.ai-active]="actionable"
		[class.shimmer-text]="active_chat"
		[class.mat-symbol-outline]="!actionable"
		[@iconAnimation]="active_chat"
		[style.animation-name]="active_chat ? 'pop-in-a' : 'pop-in-b'"
		>{{ active_chat ? 'stop' : 'send' }}</mat-icon
	>
</button> -->

<button mat-icon-button type="button" [disabled]="!actionable()" (click)="command.emit()">
	<mat-icon
		#icon
		class="ai-input-action pop-anim"
		[class.ai-active]="actionable()"
		[class.shimmer-text]="active_chat()"
		[class.mat-symbol-outline]="!actionable()"
		>{{ active_chat() ? 'stop' : 'send' }}</mat-icon
	>
</button>
