@use 'molecule/molecule';

:host {
	@extend %flex;
	@extend %flex-grow;
	@extend %flex-shrink-1;
	@extend %flex-basis-0;
}

.form-toggle {
	@extend %relative;
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
	@extend %flex-shrink-1;
	@extend %flex-basis-0;
	@extend %cursor-pointer;
	@extend %orc-corner-medium;
	@extend %p-1;
	background: transparent;
	border: none;
	margin: 0;
	font: inherit;
	color: inherit;
	transition: background-color 0.3s ease;

	&:hover:not(.selected):not(:disabled) {
		background-color: var(--mat-sys-surface-container);
	}

	&.selected {
		@extend %orc-secondary-container-bg;
	}

	&:disabled {
		cursor: default;
		opacity: 0.38;
	}
}
