<div class="primary-nav-footer-container">
    <orc-primary-nav-tool 
        icon="settings"
        navroute="settings"
        [active]="active_section === 'settings'">
    </orc-primary-nav-tool>
    <orc-primary-nav-tool 
        icon="fingerprint"
        navroute="history"
        [active]="active_section === 'history'">
    </orc-primary-nav-tool>
</div>


<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=fingerprint" /> -->