@use 'molecule/molecule';

:host {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
}

.auth-subsection-invite-container {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-grow;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	@extend %flex-gap-2;
}

.authentication-form {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-items-center;
}
