@use 'molecule/molecule';

.oracle-sticker {
	@extend %absolute;
	@extend %left-1;
	top: 50%;
	transform: translateY(-50%);
	@extend %font-size-3;
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	opacity: 0.1;

	mat-icon {
		scale: 1.5;
	}
}

.oracle-label {
	@extend %h-full;
	@extend %flex;
	@extend %flex-column;
	@extend %flex-gap-0-25;
	@extend %flex-items-center;
	@extend %flex-justify-center;
}

.oracle-card {
	@extend %flex-grow;
	@extend %p-2;
     
    &.oracle-card-gap{
        @extend %flex-gap-2;
    }

    &.tablet-oracle-card{
        &.oracle-card-gap{
            @extend %flex-gap-1;
        }

        .oracle-clamp{
            height: 9rem;
            width: 11rem;
        }
    }
}



.oracle-clamp {
	height: 12rem;
	width: 13rem;
	@extend %p-t-1;
	@extend %overflow-hidden;
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
}
