@use 'molecule/molecule';

.orc-amount-standard{
    .orc-unit{
        font-size: 80%;
        opacity: 0.8;
    }
}

.orc-amount-preceding{
    .orc-unit{
        opacity: 0.8;
        font-weight: 300;
    }
}