@use 'molecule/molecule';

.orc-amount-standard{
    .orc-unit{
        font-size: 80%;
        opacity: 0.8;
    }
}

.orc-amount-proceeding{
    // .orc-unit{
    //     font-size: 80%;
    //     opacity: 0.8;
    // }
}

.orc-amount-special-bitcoin{
    
}