@use '@styles/molecule/molecule';

.shimmer-high {
    animation: shimmering 3.1s linear 10;
    @extend %orc-surface-container-high-bg;
    background: linear-gradient(90deg, var(--mat-sys-surface-container-high) 9%, var(--mat-sys-surface-container-highest) 18%, var(--mat-sys-surface-container-high) 31%);
    background-size: 1300px 100%;
}

.shimmer-highest {
    animation: shimmering 3.1s linear 10;
    @extend %orc-surface-container-highest-bg;
    background: linear-gradient(90deg, var(--mat-sys-surface-container-highest) 9%, var(--mat-sys-surface-container-high) 18%, var(--mat-sys-surface-container-highest) 31%);
    background-size: 1300px 100%;
}

.shimmer-text {
    background: linear-gradient(135deg, var(--mat-sys-primary), var(--mat-sys-primary-container), var(--mat-sys-primary));
    background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    animation: shimmer-text 3s linear infinite;
}

@keyframes shimmering {
    0% {
        background-position: -1300px 0;
    }
    100% {
        background-position: 1300px 0;
    }
}

@keyframes shimmer-text {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.orc-fadein-fast {
	animation: fadein 150ms ease-in both;
}

.orc-fadein {
	animation: fadein 300ms ease-in both;
}

.orc-fadeout-fast {
	animation: fadeout 150ms ease-out both;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes fadeout {
	from { opacity: 1; }
	to { opacity: 0; }
}

.orc-rotate-toggle {
	transform: rotate(0deg);
	transition: transform 300ms ease-in-out;

    &.expanded {
        transform: rotate(180deg);
    }
}
