@use 'molecule/molecule';

.orc-text-button {
    @extend %orc-on-primary-container-color;
    @extend %cursor-pointer;
    @extend %trans-color-fast;
    @extend %text-decoration-none;

    &:hover {
        @extend %orc-primary-fixed-dim-color;
    }
}

.orc-text-button-subtle {
    @extend %cursor-pointer;
    @extend %trans-color-fast;

    &:hover {
        @extend %orc-primary-fixed-dim-color;
    }
}

.orc-icon-button{
    mat-icon{
        @extend %mat-symbol-outline;
    }

    &:hover {
        mat-icon{
            @extend %mat-symbol-fill;
        }
    }
}

