@use 'molecule/molecule';

.orc-high-card {
    @extend %orc-surface-container-high-bg;
    @extend %orc-corner-small;
}

.orc-primary-card{
    @extend %orc-primary-container-bg;
    @extend %orc-corner-small;
}