@use 'molecule/molecule';
@use 'nucleus/nucleus';

// this needs to be generalized, whole file needs orc prefixes
button.mint-genesis-date-class > .mat-calendar-body-cell-content {
    outline: 1px solid var(--mat-sys-outline);
}

.form-suffix-text{
    @extend %font-size-xs;
    @extend %p-h-0-5;
}

.disabled-overlay{
    @extend %absolute;
    @extend %top-0;
    @extend %left-0;
    @extend %right-0;
    @extend %bottom-0;
    @extend %flex;
    @extend %flex-column;
    @extend %flex-gap-1;
    @extend %flex-items-center;
    @extend %flex-justify-center;
    @extend %orc-fog-bg;
}

.option-helper{
    @extend %font-size-xs;
    @extend %orc-outline-color;
}

.orc-small-form-field-wrapper{
    @extend %w-min-18;

    @media (max-width: 599px) {
		min-width: unset;
	}
}