@use 'molecule/molecule';
@use 'nucleus/nucleus';

button.mint-genesis-date-class {
    outline: 1px solid var(--mat-sys-outline);
    border-radius: 50%;
}

.form-suffix-text{
    @extend %font-size-xs;
    @extend %p-h-0-5;
}

.disabled-overlay{
    @extend %absolute;
    @extend %top-0;
    @extend %left-0;
    @extend %right-0;
    @extend %bottom-0;
    @extend %flex;
    @extend %flex-column;
    @extend %flex-gap-1;
    @extend %flex-items-center;
    @extend %flex-justify-center;
    @extend %orc-fog-bg;
}

.option-helper{
    @extend %font-size-xs;
    @extend %orc-outline-color;
}