@use 'molecule/molecule';

.mat-symbol, .mat-icon{
    &.icon-md{
        @extend %font-size-xxl;
        @extend %h-1-75;
        @extend %w-1-75;
    }
    &.icon-sm{
        @extend %font-size-m;
        @extend %h-1;
        @extend %w-1;
    }
    &.icon-lg{
        @extend %font-size-3;
        @extend %h-3;
        @extend %w-3;
    }

    &.icon-dynamic-fill{
        @extend %mat-symbol-outline;
        &:hover{
            @extend %mat-symbol-fill;
        }
    }
}