@use 'molecule/molecule';
@use 'nucleus/nucleus';

.label-command{
    @extend %orc-corner-small;
    @extend %font-size-xs;
    @extend %p-v-0-25;
    @extend %p-h-0-75;
    @extend %orc-surface-container-bg;
    @extend %font-weight-light;
    @extend %orc-error-color;
}

.label-state{
    @extend %orc-corner-small;
    @extend %font-size-s;
    @extend %p-v-0-25;
    @extend %p-h-0-75;
    @extend %font-weight-semi-bold;

    &.label-l{
        @extend %orc-corner-large;
        @extend %font-size-l;
        @extend %p-v-0-5;
        @extend %p-h-1;
    }

    &.label-success{
        @extend %orc-inverse-tertiary-bg;
    }

    &.label-intermediate{
        @extend %orc-inverse-secondary-bg;
    }

    &.label-warning{
        @extend %orc-warning-bg;
        @extend %orc-on-warning-color;
    }

    &.label-error{
        @extend %orc-error-bg;
        @extend %orc-on-error-color;
    }

    &.label-default{
        @extend %orc-surface-container-highest-bg;
    }
}

.label-nut{
    &.label-outline{
        mat-icon{
            font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 200, 'opsz' 48;
        }
    }

    &.label-fill{
        mat-icon{
            font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 200, 'opsz' 48;
        }
    }
}