@use 'molecule/molecule';

.orc-bottom-nav-menu{
    @extend %relative;
    @extend %bottom-0-5;
}

.orc-top-nav-menu{
    @extend %relative;
    @extend %top-0-5;
}

.orc-sticky-menu{
    @extend %relative;
    @extend %top-1-5;
}

.orc-more-menu{
    button{
        min-width: 12rem;
    }
}