@use 'molecule/molecule';

.qrcode-action{
    @extend %orc-on-secondary-container-bg;
    @extend %cursor-pointer;
    @extend %trans-bg-medium;

    &:hover {
        @extend %orc-secondary-bg;
    }
}

.qrcode-static{
    @extend %orc-on-secondary-container-bg;
    @extend %cursor-pointer;
    @extend %trans-bg-medium;
}