@use '@styles/molecule/molecule';
@use '@styles/nucleus/nucleus';

.protocol-spec{
    @extend %orc-corner-small;
    @extend %font-size-s;
    @extend %p-v-0-25;
    @extend %p-h-0-75;
    @extend %orc-primary-container-bg;
    @extend %font-weight-semi-bold;
    @extend %orc-on-primary-container-color;
}

.nut-spec{
    @extend %orc-corner-small;
    @extend %font-weight-bold;
    @extend %p-h-1;
    @extend %p-v-0-5;
    max-width: 30rem;

    @extend %orc-primary-bg;
    @extend %orc-on-primary-color;
    font-size: 3rem;

    @extend %flex;
    @extend %flex-items-center;
    @extend %flex-justify-between;

    &.disabled{
        @extend %orc-outline-variant-bg;
        @extend %orc-outline-color;
    }
}

.nut-icon-graphic{
    &.nut-icon-outline{
        mat-icon{
            font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 200, 'opsz' 48;
        }
    }

    &.nut-icon-fill{
        mat-icon{
            font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 200, 'opsz' 48;
        }
    }
}