@use 'molecule/molecule';

.orc-info-table{
    th, td {
        min-height: 2rem;
        text-align: left;
        vertical-align: middle;
        border-right: 2rem solid transparent; 
    }

    th:last-child, td:last-child {
        border-right: none;
    }
    tr{
        height: 2rem;
    }
}

.orc-expandable-table {
    tr.entity-row {
		@extend %cursor-pointer;
	}

	tr.entity-row:not(.expanded):hover {
		@extend %orc-surface-container-low-bg;
	}

	tr.entity-row:not(.expanded):active {
		@extend %orc-surface-container-high-bg;
	}

	tr.more-entity-row {
		@extend %h-0;
	}
}