<div class="p-v-2 p-l-2 p-r-1">
	<mat-card appearance="outlined" class="relative overflow-hidden">
		<mat-card-content class="orc-surface-container-low-bg">
			<div class="flex flex-items-center flex-gap-2">
				<div class="flex-1">
					<div class="flex flex-items-center flex-gap-2">
						<div class="flex-1 flex flex-items-center flex-grow">
							<mat-slide-toggle
								#toggle
								[checked]="form_group.get('enabled')?.value"
								(change)="onChange($event)"
								name="enabled"
							>
							</mat-slide-toggle>
							<div class="p-l-1 font-size-s">Enabled</div>
						</div>
						<div class="flex-1">
							<orc-help-text class="orc-surface-container-high-bg">
								{{ help_text() }}
							</orc-help-text>
						</div>
					</div>
				</div>
				<div class="flex-1 flex flex-justify-center">
					<orc-mint-nut [nut_index]="nut === 'nut4' ? '04' : '05'" [supported]="form_group.get('enabled')?.value">
						@if (form_group.get('enabled')?.value) {
							<mat-icon class="icon-lg">{{ nut === 'nut4' ? 'payments' : 'mode_heat' }}</mat-icon>
						} @else {
							<mat-icon
								class="icon-lg"
								[svgIcon]="nut === 'nut4' ? 'minting_disabled_outline' : 'melting_disabled_outline'"
							></mat-icon>
						}
					</orc-mint-nut>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
